In [1]:
import pandas as pd
from pathlib import Path

In [9]:
inputpath = Path(r"C:\Users\jasonjia\Dropbox\Projects\boardex_and_execucomp\data\capitaliq_sample_data\ciqtransactiontype.sas7bdat")
outputpath = Path(r"C:\Users\jasonjia\Dropbox\Projects\boardex_and_execucomp\data\capitaliq_sample_data\ciqtransactiontype.xlsx")

In [10]:
def convert_sas7bdat_to_excel(inputpath, outputpath):
    df = pd.read_sas(inputpath)
    for i in df:
        if df[i].dtype == 'O':
            df[i] = df[i].str.decode('UTF-8')
    df.to_excel(outputpath, index=False)
    return df

In [11]:
df = convert_sas7bdat_to_excel(inputpath, outputpath)

In [12]:
df

   transactionidtypeid transactionidtypename
0                  1.0     Private Placement
1                  2.0    Merger/Acquisition
2                  6.0       Public Offering
3                  7.0    Spin-Off/Split-Off
4                 10.0          Fund Raising
5                 12.0            Bankruptcy
6                 14.0               Buyback
7                 15.0    Shelf Registration