In [ ]:
# Import Packages
import pandas as pd, numpy as np
from pathlib import Path
import os, sys, glob, re
from collections import OrderedDict
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 80)

# Define input and output folders

In [ ]:
def parent_dir(dir):
    return os.path.abspath(os.path.join(dir, os.pardir))

In [ ]:
# Define input folder containing output from combined BoardEx files
inputfolder = Path(parent_dir(parent_dir(os.getcwd())) / Path('output/02_get_initial_datasets/02.2_boardex_combined'))
print('inputfolder:', inputfolder, inputfolder.__class__)
# Define output folder containing firm-level dataset
outputfolder = Path(parent_dir(parent_dir(os.getcwd())) / Path('output/03_get_firm_and_manager_level_datasets'))
print('outputfolder:', outputfolder, outputfolder.__class__)

# Import Board Summary

In [ ]:
inputfilepath = Path(inputfolder / "Board Summary.csv")

In [ ]:
df = pd.read_csv(inputfilepath, low_memory=False)
df

# Process year/month

In [ ]:
# Get month and year
df['Month'] = df['Annual Report Year'].str[0:4]
df['Year'] = df['Annual Report Year'].str[4:]
df.head(5)

In [ ]:
# Get current year
# Replace 'Current' with the latest month (previous month of company + 1 year)
current_year = (df[df['Annual Report Year'] != 'Current'].groupby('CompanyID*')['Year'].max().astype('int') + 1).reset_index()

# Get current month
current_month = df[df['Annual Report Year'] != 'Current'].groupby('CompanyID*')['Month'].first().reset_index()

In [ ]:
# Get current year and month
current_year_month = current_year.merge(current_month, on='CompanyID*', how='inner')
current_year_month = current_year_month.rename(columns={'Year':'Current Year', 'Month':'Current Month'})
current_year_month

In [ ]:
# Merge current year and month back to df
df = df.merge(current_year_month, on=['CompanyID*'], how='inner')
# Redefine year and month
df['Year'] = np.where(df['Annual Report Year'] == 'Current', df['Current Year'], df['Year']).astype('int')
df['Month'] = np.where(df['Annual Report Year'] == 'Current', df['Current Month'], df['Month'])
df

In [ ]:
# Only only get data from 2002 onwards
df = df[df['Year'] >= 2002]
df

# Change data types

In [ ]:
# Change data types to enable .groupby to work later on
data_types_dict = {'Year': 'int64'}
df = df.astype(data_types_dict)
df.dtypes

# Drop duplicates

In [ ]:
# Prepare dataset to get variables
# First we get dataset to be at (year, company, director) level. We will later aggregate across directors to get to the (year, company) level.
df = df.drop_duplicates(subset=['Year', 'CompanyID*', 'DirectorID*'], ignore_index=True)
df

# Check units of certain variables
Observations:
- Time (e.g. time on board, time in company) is in years
- Compensation in '000s (from documentation) seems reasonable

In [ ]:
df[df['DirectorID*'] == 13237186434].sort_values('Year')

In [ ]:
df[['Annual Direct Compensation - Total Salary+Bonus', 'Accumulated Wealth - Shares', 'Total Wealth - Total Wealth']].describe(percentiles=[0.25,0.5,0.75,0.9,0.95])

# Adding columns to uncollapsed table 1: Get CEO/CFO variables

In [ ]:
# Add indicator variables for whether role is CEO or CFO
df['CEO'] = df['Characteristics of Roles - Individual Role'].str.contains(r'^(CEO|CEO/.*)$', case=True, regex=True)
df['CFO'] = df['Characteristics of Roles - Individual Role'].str.contains(r'^(CFO|CFO/.*)$', case=True, regex=True)
# View strings tagged as CEO or CFO
print('CEO roles:', df[df['CEO'] == True]['Characteristics of Roles - Individual Role'].unique())
print('CFO roles:', df[df['CFO'] == True]['Characteristics of Roles - Individual Role'].unique())
# Get number of directors who have been CEOs or CFOs
print('Number of CEOs:', df[df['CEO'] == True]['DirectorID*'].nunique())
print('Number of CFOs:', df[df['CFO'] == True]['DirectorID*'].nunique())

## Check if there is only one CEO and CFO per (company, year)
- We see that there are a few (company, years) with 2 CEOs and/or 2 CFOs. During aggregation, we use 'first' to take the first one.

In [ ]:
# Check if there is only one CEO and CFO per (company, year)
ceo_cfo_count_check = df.groupby(['Year', 'CompanyID*'])[['CEO','CFO']].sum().reset_index()
ceo_cfo_count_check

In [ ]:
ceo_cfo_count_check['CEO'].value_counts()

In [ ]:
ceo_cfo_count_check['CFO'].value_counts()

In [ ]:
ceo_cfo_count_check[ceo_cfo_count_check['CFO'] == 2]

In [ ]:
df[(df['CFO']) & (df['Year'] == 2020) & (df['CompanyID*'] == 9723136113)]

# Adding columns to uncollapsed table 2: Get educational achievements of board members and CEO/CFOs

## We eventually want the following variables:
- Bachelors
- Masters
- MBA
- PhD
- % of all board members with bachelor's
- % of all board members with master's
- % of all board members with MBA
- % of all board members with PhD
- education degree of CEO
- education degree of CFO
- education institution of CEO
- education institution of CFO
- education country of CEO
- education country of CFO

For now, we ignore qualification date, so if someone got a Masters in 2020, we flag masters = 1 for all observations, even for those where he/she was an executive before 2020.

In [ ]:
# Read in education file
df_education = pd.read_csv(Path(inputfolder / 'Profile - Education & Achievements.csv'), low_memory=False)
df_education = df_education[df_education['sheet_name'] == 'Education']
colstokeep = ['Institution Name', 'InstitutionID*', 'Qualification', 'Country', 'DirectorID*']
df_education = df_education[colstokeep]
# Remove rows with NA values for Qualification
df_education = df_education[~df_education['Qualification'].isna()]
df_education

## Save institution ID to institution name crosswalk

In [ ]:
institution_name_crosswalk = df_education[['InstitutionID*', 'Institution Name']].drop_duplicates().sort_values('InstitutionID*')
institution_name_crosswalk.to_csv(Path(outputfolder / 'institution_name_crosswalk.csv'), index=False)
institution_name_crosswalk

## Identify Bachelors, Masters, MBA and PhD degrees

In [ ]:
# Add indicator variables for whether degree is Bachelors, Masters, MBA or PhD
df_education['Bachelors'] = df_education['Qualification'].str.contains(r'^(BA.*|BS.*|AB.*|LLB.*|Bachelor.*|.*Graduated.*|Degree.*|B.*)$', case=True, regex=True)
df_education['Masters'] = df_education['Qualification'].str.contains(r'^(MS.*|MSc.*|MPhil.*|MA.*|MEng.*|JD.*|MPA.*|.*MBA.*|.*Master.*Business Administration.*|Master.*)$', case=True, regex=True)
df_education['MBA'] = df_education['Qualification'].str.contains('MBA|Master.*Business Administration', case=True, regex=True)
df_education['PhD'] = df_education['Qualification'].str.contains('PhD', case=True, regex=True)
df_education

### Check regex to see that it's working as intended

In [ ]:
df_education_check = df_education[['Qualification', 'MBA', 'PhD', 'Bachelors', 'Masters']]
# MBA is a Masters' program. But a Bachelor's is not a Masters, etc. So we look at the sum of booleans for each row to check if our regex patterns are correct.
df_education_check['sum'] = df_education_check[['MBA', 'PhD', 'Bachelors', 'Masters']].sum(axis=1)
df_education_check

In [ ]:
# Check those not classified as any degree
df_education_check[df_education_check['sum'] == 0]['Qualification'].unique()[:100]

In [ ]:
# Check that no qualification belongs to more than 2 categories
df_education_check['sum'].value_counts()

In [ ]:
# Check classifications
print("Not classified as any degree:", df_education_check[df_education_check['sum'] == 0]['Qualification'].unique())
print("Bachelors:", df_education_check[df_education_check['Bachelors'] == True]['Qualification'].unique())
print("Masters:", df_education_check[df_education_check['Masters'] == True]['Qualification'].unique())
print("MBA:", df_education_check[df_education_check['MBA'] == True]['Qualification'].unique())
print("PhD:", df_education_check[df_education_check['PhD'] == True]['Qualification'].unique())

In [ ]:
df_education['Qualification'].value_counts().iloc[:100]

## Get Bachelors, Masters, MBA and PhD 'indicator' variables, defined by whether the director has at least one of the corresponding degrees

In [ ]:
# For each director, get whether he/she has at least one Bachelors, Masters, MBA and PhD degree.
df_education_has_degree = df_education.groupby('DirectorID*')[['Bachelors', 'Masters', 'MBA', 'PhD']].sum()
df_education_has_degree = df_education_has_degree.applymap(lambda x: 0 if x == 0 else 1)
df_education_has_degree = df_education_has_degree.reset_index()
df_education_has_degree

## Get the highest ranked degree for each director

In [ ]:
# Assign rank to degrees, so that we can select the highest ranked degree later
def get_rank(row):
    if row['PhD'] == True:
        return 4
    elif row['MBA'] == True:
        return 3
    elif row['Masters'] == True:
        return 2
    elif row['Bachelors'] == True:
        return 1
    else:
        return 0

In [ ]:
# For CEO/CFO, we choose the highest ranked degree in the order of: PhD > MBA > Masters > Bachelors > Nothing
df_education['rank'] = df_education.apply(lambda row: get_rank(row), axis=1)
df_education

In [ ]:
# Get the highest degree rank for each director
df_education_rank = df_education.groupby('DirectorID*')['rank'].max().reset_index()
df_education_rank

In [ ]:
# Get the first degree of that rank for each director (because some directors have e.g. multiple Masters degrees)
df_education_highest_degree = df_education.merge(df_education_rank, on=['DirectorID*', 'rank'], how='inner').sort_values('DirectorID*')
df_education_highest_degree

In [ ]:
df_education_highest_degree = df_education_highest_degree.groupby('DirectorID*').first().reset_index()
df_education_highest_degree

In [ ]:
# Keep desired variables and rename them
df_education_highest_degree = df_education_highest_degree[['DirectorID*', 'Institution Name', 'InstitutionID*', 'Qualification', 'Country']]
df_education_highest_degree.columns = ['DirectorID*', 'Highest Ranked Degree - Institution Name', 'Highest Ranked Degree - InstitutionID*', 'Highest Ranked Degree - Qualification', 'Highest Ranked Degree - Country']
df_education_highest_degree

## Merge additional education variables with df

In [ ]:
# Merge with df
df_education_groupby = df_education_has_degree.merge(df_education_highest_degree, on='DirectorID*', how='inner')
df_education_groupby

In [ ]:
df = df.merge(df_education_groupby, on='DirectorID*')
df

# Base: Groupby year and company for applicable variables to get base manager-level dataset

In [ ]:
# View columns
df.columns

In [ ]:
def create_agg_dict(agg_list, function):
    agg_dict = {}
    for var in agg_list:
        agg_dict[var] = function
    return agg_dict

In [ ]:
agg_list_first = ['Country', 'ISIN']
agg_list_mean = ['Characteristics of Roles - Director Network Size', 'Characteristics of Roles - Time to Retirement', 
                 'Characteristics of Roles - Time in Role', 'Characteristics of Roles - Time on Board', 
                 'Characteristics of Roles - Time in Company',
                 'Director Experience - Total Number of Quoted Boards to Date', 'Director Experience - Total Number of Private Boards to Date', 
                 'Director Experience - Total Number of Other Boards to Date', 
                 'Director Experience - Total Number of Quoted Current Boards', 'Director Experience - Total Number of Private Current Boards', 
                 'Director Experience - Total Number of Other Current Boards', 
                 'Director Experience - Avg. Yrs on Other Quoted Boards', 'Director Experience - Age (Yrs)', 
                 'Director Experience - Number of Qualifications',
                 'Ratios - Bonus/ (Bonus&Salary)', 'Ratios - Equity Linked/ Total', 
                 'Ratios - Performance/ Total', 'Ratios - Wealth Delta',
                 'Director Count Totals - Number of Independent NED with past CFO/FD role',
                 'Annual Direct Compensation - Salary',  'Annual Direct Compensation - Bonus', 
                 'Annual Direct Compensation - D.C Pension', 'Annual Direct Compensation - Other', 
                 'Annual Direct Compensation - Total Salary+Bonus', 
                 'Annual Direct Compensation - Total Inc. D.C. Pension & Other',
                 'Annual- Equity Linked Options - Shares', 'Annual- Equity Linked Options - LTIPS(max)',
                 'Annual- Equity Linked Options - Intrinsic Options (excercisable)',  
                 'Annual- Equity Linked Options - Intrinsic Options (unexercisable)',
                 'Annual- Equity Linked Options - Estimated Options (exercisable)',
                 'Annual- Equity Linked Options - Estimated Options (unexcercisable)',
                 'Annual- Equity Linked Options - Share Price', 'Annual- Equity Linked Options - Total Equity Linked Compensation', 
                 'Total - Total Annual Compensation',
                 'Accumulated Wealth - Shares', 'Accumulated Wealth - LTIPS(max)', 
                 'Accumulated Wealth - Intrinsic Option', 'Accumulated Wealth - Estimated Option', 
                 'Accumulated Wealth - Liquid Wealth', 
                 'Total Wealth - Total Wealth',
                 'Bachelors', 'Masters',
                 'MBA', 'PhD']
agg_list_list = ['Director Experience - Nationality Mix']

agg_dict_first = create_agg_dict(agg_list_first, 'first')
agg_dict_mean = create_agg_dict(agg_list_mean, 'mean')
# agg_dict_list = create_agg_dict(agg_list_list, list)

agg_dict = {**agg_dict_first, **agg_dict_mean}
# agg_dict = {**agg_dict_first, **agg_dict_mean, **agg_dict_list}
agg_dict = OrderedDict(agg_dict)
agg_dict

In [ ]:
# See how many year-months a company has
print(df.groupby(['CompanyID*', 'Company Name', 'Sector'])['Annual Report Year'].nunique().max())
print(df.groupby(['CompanyID*', 'Company Name', 'Sector'])['Year'].nunique().max())
# This means that each company only has 1 year-month a year.
# 2022 - 2002 + 1 = 21

In [ ]:
# Note: CompanyID and CompanyID + Company Name both gave same number of rows
agg_dict_final = dict(list(agg_dict.items())[:]) # subset for debugging
# We aggregate to the year level
df_groupby = df.groupby(['Year', 'CompanyID*', 'Company Name', 'Sector']).agg(agg_dict_final).reset_index()
df_groupby

# Additional 1: Get shares by gender

In [ ]:
# Get shares by gender
df_charac = pd.DataFrame(df.groupby(['CompanyID*', 'Year', 'Director Experience - Gender'])['Director Experience - Gender'].count())
df_charac.columns = ['count']
df_charac = df_charac.reset_index()
df_charac = df_charac.pivot(index=['CompanyID*', 'Year'], columns='Director Experience - Gender', values='count')
df_charac = df_charac.fillna(0)
df_charac['sum'] = df_charac.sum(axis=1)
df_charac['Director Experience - Gender - Share of Males'] = df_charac['M'] / df_charac['sum']
df_charac = df_charac.drop(columns=['F', 'M', 'sum'])
df_charac = df_charac.reset_index()
df_charac_gender = df_charac.copy()
df_charac_gender

# Additional 2: Get shares by nationality

We want the following variables:
- Share American
- Share Canadian
- Share British
- Share European (not British, incl. Swiss)
- Share Asian

American, Canadian and British are individual countries and so are already there, but we need to aggregate countries for European and Asian variables.

Countries in Europe: Albania, Andorra, Austria, Belarus, Belgium, Bosnia and Herzegovina, Bulgaria, Croatia, Cyprus, 
Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Iceland, Republic of Ireland, 
Italy, Kosovo, Latvia, Liechtenstein, Lithuania, Luxembourg, North Macedonia, Malta, Moldova, Monaco, 
Montenegro, Netherlands, Norway, Poland, Portugal, Romania, Russia, San Marino, Serbia, Slovakia, 
Slovenia, Spain, Sweden, Switzerland, Turkey, Ukraine, Vatican City

Countries in Asia: Afghanistan, Armenia, Azerbaijan, Bahrain, Bangladesh, Bhutan, Brunei, Cambodia, China, East Timor, Georgia, India, Indonesia, Iran,
Iraq, Israel, Japan, Jordan, Kazakhstan, Kuwait, Kyrgyzstan, Laos, Lebanon, Malaysia, The Maldives, Mongolia,
Myanmar (Burma), Nepal, North Korea, Oman, Pakistan, Palestine, The Philippines, Qatar, Saudi Arabia,
Singapore, South Korea, Sri Lanka, Syria, Taiwan, Tajikistan, Thailand, Turkmenistan, United Arab Emirates, Uzbekistan, Vietnam, Yemen

In [ ]:
initial_nationalities = sorted(pd.Series(df['Director Experience - Nationality Mix'].unique()).dropna())
print('Initial Nationalities:', initial_nationalities)

In [ ]:
# Define European and Asian nationalities
european_nationalities = ['Austrian', 'Belarusian', 'Belgian', 'Bosnian', 'Bulgarian', 'Croatian', 'Cypriot', 'Czech', 'Danish', 
                          'Dutch',  'Finnish', 'French', 'German', 'Greek', 'Hungarian', 'Icelander', 'Irish', 'Italian', 
                          'Luxembourger', 'Maltese', 'Monacan', 'Norwegian', 'Polish', 'Portuguese', 'Romanian', 'Russian', 
                          'Slovak', 'Slovene', 'Spanish', 'Swedish', 'Swiss', 'Turkish', 'Ukrainian']
asian_nationalities = ['Armenian', 'Bahraini', 'Burmese', 'Chinese', 'Chinese (Taiwan)', 'Emirian', 'Filipino', 'Georgian', 
                       'Indian', 'Indonesian', 'Iranian', 'Iraqi', 'Israeli', 'Japanese', 'Jordanian', 'Kazakhstani',
                       'Kuwaiti', 'Malaysian', 'Omani', 'Pakistani', 'Qatari', 'Saudi', 'Singaporean',
                       'South Korean', 'Sri Lankan', 'Syrian', 'Thai']

In [ ]:
# Get counts by nationality
df_charac = pd.DataFrame(df.groupby(['CompanyID*', 'Year', 'Director Experience - Nationality Mix'])['Director Experience - Nationality Mix'].count())
df_charac.columns = ['count']
df_charac = df_charac.reset_index()
df_charac = df_charac.pivot(index=['CompanyID*', 'Year'], columns='Director Experience - Nationality Mix', values='count')
df_charac = df_charac.fillna(0)

# Get total number of directors for each (company, year)
df_charac['sum'] = df_charac.sum(axis=1)
df_charac

In [ ]:
# Get most common nationalities, but return NaN if there is a tie
most_common_nationalities_var_list = ['Director Experience - Nationality Mix - Most Common Nationality']
# , 'Director Experience - Nationality Mix - 2nd Most Common Nationality', 'Director Experience - Nationality Mix - 3rd Most Common Nationality']
df_charac[most_common_nationalities_var_list] = df_charac[initial_nationalities].apply(lambda row: pd.Series(row.sort_values(ascending=False).index[:1]), axis=1)
# df_charac[most_common_nationalities_var_list] = df_charac.apply(lambda row: pd.Series(row.sort_values(ascending=False).index[:3]), axis=1)

# Get counts of European and Asian nationalities
df_charac['European'] = df_charac[european_nationalities].sum(axis=1)
df_charac['Asian'] = df_charac[asian_nationalities].sum(axis=1)

# Keep only desired variables
df_charac = df_charac[['American', 'Canadian', 'British', 'European', 'Asian', 'sum'] + most_common_nationalities_var_list]
df_charac

In [ ]:
# Get shares by nationality
nationalities_list = df_charac.columns.drop(['sum'] + most_common_nationalities_var_list)
print('Nationalities:', nationalities_list)
for charac in nationalities_list:
    df_charac[f'Director Experience - Nationality Mix - Share of {charac}'] = df_charac[charac] / df_charac['sum']
    df_charac = df_charac.drop(columns=[charac])
df_charac = df_charac.drop(columns='sum')

df_charac = df_charac.reset_index()
df_charac_nationality = df_charac.copy()
df_charac_nationality

# Additional 3: Get CEO and CFO education variables, compensation ratios, time in role and time on board

In [ ]:
colstokeep_identifiers = ['CompanyID*', 'Year']
colstokeep_variables = ['Ratios - Bonus/ (Bonus&Salary)','Ratios - Equity Linked/ Total', 'Ratios - Performance/ Total', 
                        'Ratios - Wealth Delta',
                        'Highest Ranked Degree - Institution Name', 'Highest Ranked Degree - InstitutionID*', 
                        'Highest Ranked Degree - Qualification', 'Highest Ranked Degree - Country',
                        'Characteristics of Roles - Time in Role', 'Characteristics of Roles - Time on Board']

In [ ]:
def process_ceo_and_cfo_datasets(df, ceo_or_cfo, colstokeep_identifiers, colstokeep_variables):
    df = df[df[ceo_or_cfo] == True]
    df_groupby = df.groupby(['CompanyID*', 'Year']).first().reset_index()
    df_groupby = df_groupby[colstokeep_identifiers + colstokeep_variables]
    colstokeep_variables_renamed = [ceo_or_cfo + ' - ' + var for var in colstokeep_variables]
    colstokeep_variables_dict = {key: value for key, value in zip(colstokeep_variables, colstokeep_variables_renamed)}
    df_groupby = df_groupby.rename(columns=colstokeep_variables_dict)
    return df_groupby

In [ ]:
df_ceo_groupby = process_ceo_and_cfo_datasets(df, 'CEO', colstokeep_identifiers, colstokeep_variables)
df_cfo_groupby = process_ceo_and_cfo_datasets(df, 'CFO', colstokeep_identifiers, colstokeep_variables)
df_ceo_groupby

In [ ]:
# Combine the ceo and cfo datasets
df_ceo_cfo = df_ceo_groupby.merge(df_cfo_groupby, on=['CompanyID*', 'Year'], how='outer')
df_ceo_cfo

# Additional 4: Get Company Details

In [ ]:
df_companydetails = pd.read_csv(Path(inputfolder / "Company Details.csv"), low_memory=False)
df_companydetails

In [ ]:
df_companydetails.columns

In [ ]:
colstokeep = ['CIK Code', 'Auditors', 'Latest AR', 'Bankers', 'Index', 'Ticker', 'Market Cap', 'CompanyID*', 'HOCountryName']

In [ ]:
df_companydetails = df_companydetails.drop_duplicates(['CompanyID*'])
df_companydetails = df_companydetails[colstokeep]
df_companydetails.to_csv(r'C:\Users\jasonjia\Dropbox\projects\manager_and_board_characteristics\Board Charac_Jason\output\03_get_firm_and_manager_level_datasets\Company Details.csv', index=False)
df_companydetails

# Final: Merge df with the additional variables

In [ ]:
df_merge = df_groupby.merge(df_charac_gender, how='left', on=['CompanyID*', 'Year'])
df_merge = df_merge.merge(df_charac_nationality, how='left', on=['CompanyID*', 'Year'])
df_merge = df_merge.merge(df_ceo_cfo, how='left', on=['CompanyID*', 'Year'])
df_merge = df_merge.merge(df_companydetails, how='inner', on=['CompanyID*'])
df_merge

# Rename df to satisfy Stata variable name restrictions
- Variable names must start with a letter.
- Variable names can contain letters, numbers, underscores (_), and periods (.), but cannot contain spaces or special characters (such as @, #, $, %, etc.).
- Variable names are case-sensitive. For example, "myvar" and "MyVar" are considered distinct variables.
- Variable names can have a maximum length of 32 characters. However, Stata versions prior to Stata 16 have a maximum limit of variable names with variable labels to 32 characters.
- Variable names cannot be the same as any of Stata's reserved words (e.g., "if", "in", "by", "from", etc.).

In [ ]:
# First convert every column to lower case
df_merge.columns = df_merge.columns.str.lower()
df_merge.columns

In [ ]:
# Manually define how to rename variables
df_merge_rename_dict = {'companyid*': 'company_id', 
                        'company name': 'company_name', 
                        'characteristics of roles - director network size': 'director_network_size',
                        'characteristics of roles - time to retirement': 'time_to_retirement',
                        'characteristics of roles - time in role': 'time_in_role',
                        'characteristics of roles - time on board': 'time_on_board',
                        'characteristics of roles - time in company': 'time_in_company',
                        'director experience - total number of quoted boards to date': 'total_quoted_boards_to_date',
                        'director experience - total number of private boards to date': 'total_private_boards_to_date',
                        'director experience - total number of other boards to date': 'total_other_boards_to_date',
                        'director experience - total number of quoted current boards': 'total_quoted_boards_current',
                        'director experience - total number of private current boards': 'total_private_boards_current',
                        'director experience - total number of other current boards': 'total_other_boards_current',
                        'director experience - avg. yrs on other quoted boards': 'avg_years_other_quoted_boards',
                        'director experience - age (yrs)': 'age',
                        'director experience - number of qualifications': 'num_qualifications',
                        'ratios - bonus/ (bonus&salary)': 'bonus_over_bonus_and_salary', 
                        'ratios - equity linked/ total': 'equity_linked_over_total',
                        'ratios - performance/ total': 'performance_over_total', 
                        'ratios - wealth delta': 'wealth_delta',
                        'director count totals - number of independent ned with past cfo/fd role': 'num_ind_ned_w_past_cfo_fd_role',
                        'annual direct compensation - salary': 'annual_dir_comp_salary',
                        'annual direct compensation - bonus': 'annual_dir_comp_bonus',
                        'annual direct compensation - d.c pension': 'annual_dir_comp_dc_pension',
                        'annual direct compensation - other': 'annual_dir_comp_other',
                        'annual direct compensation - total salary+bonus': 'annual_dir_comp_salary_and_bonus',
                        'annual direct compensation - total inc. d.c. pension & other': 'annual_dir_comp_total',
                        'annual- equity linked options - shares': 'annual_eq_opt_shares',
                        'annual- equity linked options - ltips(max)': 'annual_eq_opt_ltips',
                        'annual- equity linked options - intrinsic options (excercisable)': 'annual_eq_opt_intrinsic_exer',
                        'annual- equity linked options - intrinsic options (unexercisable)': 'annual_eq_opt_intrinsic_unexer',
                        'annual- equity linked options - estimated options (exercisable)': 'annual_eq_opt_est_exer',
                        'annual- equity linked options - estimated options (unexcercisable)': 'annual_eq_opt_est_unexer',
                        'annual- equity linked options - share price': 'annual_eq_opt_share_price',
                        'annual- equity linked options - total equity linked compensation': 'annual_eq_opt_total_comp',
                        'total - total annual compensation': 'total_annual_comp', 
                        'accumulated wealth - shares': 'acc_wealth_shares',
                        'accumulated wealth - ltips(max)': 'acc_wealth_ltips',
                        'accumulated wealth - intrinsic option': 'acc_wealth_intrinsic_opt',
                        'accumulated wealth - estimated option': 'acc_wealth_est_opt',
                        'accumulated wealth - liquid wealth': 'acc_wealth_liquid_wealth', 
                        'total wealth - total wealth': 'total_wealth',
                        'director experience - gender - share of males': 'share_males',
                        'director experience - nationality mix - most common nationality': 'most_common_nationality',
                        'director experience - nationality mix - share of american': 'share_american',
                        'director experience - nationality mix - share of canadian': 'share_canadian',
                        'director experience - nationality mix - share of british': 'share_british',
                        'director experience - nationality mix - share of european': 'share_european',
                        'director experience - nationality mix - share of asian': 'share_asian',
                        'ceo - ratios - bonus/ (bonus&salary)': 'ceo_bonus_over_bonus_and_salary',
                        'ceo - ratios - equity linked/ total': 'ceo_equity_linked_over_total',
                        'ceo - ratios - performance/ total': 'ceo_performance_over_total', 
                        'ceo - ratios - wealth delta': 'ceo_wealth_delta',
                        'ceo - highest ranked degree - institution name': 'ceo_degree_institution_name',
                        'ceo - highest ranked degree - institutionid*': 'ceo_degree_institution_id',
                        'ceo - highest ranked degree - qualification': 'ceo_degree_qualification',
                        'ceo - highest ranked degree - country': 'ceo_degree_country',
                        'ceo - characteristics of roles - time in role': 'ceo_time_in_role',
                        'ceo - characteristics of roles - time on board': 'ceo_time_on_board',
                        'cfo - ratios - bonus/ (bonus&salary)': 'cfo_bonus_over_bonus_and_salary',
                        'cfo - ratios - equity linked/ total': 'cfo_equity_linked_over_total',
                        'cfo - ratios - performance/ total': 'cfo_performance_over_total', 
                        'cfo - ratios - wealth delta': 'cfo_wealth_delta',
                        'cfo - highest ranked degree - institution name': 'cfo_degree_institution_name',
                        'cfo - highest ranked degree - institutionid*': 'cfo_degree_institution_id',
                        'cfo - highest ranked degree - qualification': 'cfo_degree_qualification',
                        'cfo - highest ranked degree - country': 'cfo_degree_country',
                        'cfo - characteristics of roles - time in role': 'cfo_time_in_role',
                        'cfo - characteristics of roles - time on board': 'cfo_time_on_board', 
                        'cik code': 'cik_code',
                        'latest ar': 'latest_ar',
                        'market cap': 'market_cap',
                        'hocountryname': 'ho_country_name'
                       }

In [ ]:
df_merge = df_merge.rename(columns=df_merge_rename_dict)
for col in df_merge.columns:
    print(col)

# Remove non-ASCII characters from df to satisfy Stata character restrictions
This is because Unicode characters that are not ASCII characters can't be saved into Stata. 

Examples:
- Latin characters with diacritics: Characters such as é, ñ, or ö are not part of the ASCII character set.
- Non-Latin characters: Characters from non-Latin scripts, such as Cyrillic, Greek, or Arabic, are not part of ASCII. Examples include ф (Cyrillic letter ef), β (Greek letter beta), or ش (Arabic letter sheen).
- Symbolic and special characters: Various symbols, emojis, mathematical symbols, currency symbols, and other special characters are not part of ASCII. Examples include ♫, ❤, €, ★, or ⌘.
- Control characters: Certain characters with special control functions, such as the null character (\0), backspace (\b), or carriage return (\r), are also not part of ASCII.

In [ ]:
# Function to remove non-ASCII characters from a string
def remove_non_ascii(text):
    if isinstance(text, str):
        return ''.join(char for char in text if ord(char) < 128)
    else:
        return text

# Apply function to columns with string data type
df_merge = df_merge.applymap(remove_non_ascii)
df_merge

# Save final df into csv

In [ ]:
outputfilename = 'boardex_firm_level_dataset'

In [ ]:
# Save as csv
outputfilepath = Path(outputfolder / Path(outputfilename + '.csv'))
df_merge.to_csv(outputfilepath, index=False)

In [ ]:
# Save as Stata file
outputfilepath = Path(outputfolder / Path(outputfilename + '.dta'))
df_merge.to_stata(outputfilepath, write_index=False, version=117)