In [26]:
import pandas as pd, numpy as np
from pathlib import Path
import os, sys, glob
from itertools import compress

In [2]:
# Import list_of_columns.xlsx for boardex
listofcols_path = Path(r"C:\Users\jasonjia\Dropbox\Projects\boardex_and_execucomp\documentation\list_of_variables\List of Variables for Boardex and Execucomp 230322.xlsx")
df = pd.read_excel(listofcols_path, sheet_name=['ExecuComp', 'Boardex - Europe'])

C:\Users\jasonjia\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [3]:
# Get df for execucomp (not needed here)
# df_execucomp = df['ExecuComp']
# df_execucomp

,Include in Dataset,S/N,Table,Variable Name,Type,Description,Count (Var Name),X-th Occurrence (Var Name),Count (Desc),X-th Occurrence (Desc)
0,NaN,1,ANNCOMP,ADDRESS,string,Street Address (ADDRESS),11,1,10,1
1,NaN,2,ANNCOMP,CITY,string,CITY - City (CITY),11,1,4,1
2,NaN,3,ANNCOMP,CONAME,string,Company Name (CONAME),12,1,12,1
3,NaN,4,ANNCOMP,CUSIP,string,CUSIP (CUSIP),12,1,4,1
4,NaN,5,ANNCOMP,EXCHANGE,string,Exchange (EXCHANGE),11,1,5,1
...,...,...,...,...,...,...,...,...,...,...
588,NaN,589,STGRTTAB,PCDVALUE,string,PCDVALUE -- Company Valuation Method (PCDVALUE),1,1,1,1
589,NaN,590,STGRTTAB,PCTTOTOPT,double,PCTTOTOPT -- Pct of Total Options Grantd to Em...,1,1,1,1
590,NaN,591,STGRTTAB,RELOAD,double,RELOAD -- Reload Flag (RELOAD),1,1,1,1
591,NaN,592,STGRTTAB,VALUE,double,VALUE -- Value (Company) (VALUE),1,1,1,1
592,NaN,593,STGRTTAB,YEAR,double,YEAR -- Fiscal Year (YEAR),10,10,6,6

In [4]:
# Get df for boardex and filter to keep the relevant columns
df_boardex = df['Boardex - Europe']
df_boardex = df_boardex[['Include in Dataset', 'Excel Workbook', 'Excel Workbook (SMDEs)', 'Sheet', 'Variable Name']]

In [5]:
# Filter to keep only variables that you want to keep 
df_boardex = df_boardex[df_boardex['Include in Dataset'] == 1]
df_boardex = df_boardex.reset_index(drop=True)
df_boardex

,Include in Dataset,Excel Workbook,Excel Workbook (SMDEs),Sheet,Variable Name
0,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,Annual Report Year
1,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,CompanyID*
2,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,Company Name
3,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,ISIN
4,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,Sector
5,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,Director Type (ED or SD)
6,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,DirectorID*
7,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,Individual Name
8,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,Characteristics of Roles\t - Individual Role
9,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,Characteristics of Roles\t - Time in Role
10,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,Characteristics of Roles\t - Time on Board
11,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,Characteristics of Roles\t - Time in Company
12,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,Director Experience - Total Number of Quoted B...
13,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,Director Experience - Age (Yrs)
14,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,Director Experience - Gender
15,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,Director Experience - Nationality Mix
16,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,Ratios - Bonus/ (Bonus&Salary)
17,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,Ratios - Equity Linked/ Total
18,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,Ratios - Performance/ Total
19,1.0,Europe - Board Summary,NaN,Board Summary,Director Count Totals - Total Directors on the...
20,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,Annual Direct Compensation - Salary
21,1.0,Europe - Board Summary,Europe - SMDEs Org Summary,Board Summary,Total - Total Annual Compensation
22,1.0,Europe - Company Details,NaN,Company Details,CompanyID*
23,1.0,Europe - Company Details,NaN,Company Details,Bankers
24,1.0,Europe - Director Profile - Characteristics,Europe - SMDEs Profile - Characteristics,Charcteristics,DirectorID*
25,1.0,Europe - Director Profile - Characteristics,Europe - SMDEs Profile - Characteristics,Charcteristics,DOB
26,1.0,Europe - Director Profile - Education & Achiev...,Europe - SMDEs Profile - Education & Achievements,Education,DirectorID*
27,1.0,Europe - Director Profile - Education & Achiev...,Europe - SMDEs Profile - Education & Achievements,Education,Director Name
28,1.0,Europe - Director Profile - Education & Achiev...,Europe - SMDEs Profile - Education & Achievements,Education,InstitutionID*
29,1.0,Europe - Director Profile - Education & Achiev...,Europe - SMDEs Profile - Education & Achievements,Education,Institution Name
30,1.0,Europe - Director Profile - Education & Achiev...,Europe - SMDEs Profile - Education & Achievements,Education,Company Type
31,1.0,Europe - Director Profile - Education & Achiev...,Europe - SMDEs Profile - Education & Achievements,Education,Qualification
32,1.0,Europe - Director Profile - Education & Achiev...,Europe - SMDEs Profile - Education & Achievements,Education,Qualification Description
33,1.0,Europe - Director Profile - Education & Achiev...,Europe - SMDEs Profile - Education & Achievements,Education,Qualification Date
34,1.0,Europe - Director Profile - Education & Achiev...,Europe - SMDEs Profile - Education & Achievements,Achievements,Country
35,1.0,Europe - Director Profile - Education & Achiev...,Europe - SMDEs Profile - Education & Achievements,Achievements,DirectorID*
36,1.0,Europe - Director Profile - Education & Achiev...,Europe - SMDEs Profile - Education & Achievements,Achievements,Director Name
37,1.0,Europe - Director Profile - Education & Achiev...,Europe - SMDEs Profile - Education & Achievements,Achievements,OrganisationID*
38,1.0,Europe - Director Profile - Education & Achiev...,Europe - SMDEs Profile - Education & Achievements,Achievements,OrganisationName
39,1.0,Europe - Director Profile - Education & Achiev...,Europe - SMDEs Profile - Education & Achievements,Achievements,Achievement Date
40,1.0,Europe - Director Profile - Education & Achiev...,Europe - SMDEs Profile - Education & Achievements,Achievements,Award/Achievement

In [31]:
# Substitute 'Europe - ' with '' in string_to_replace at all occurances
df_boardex['Excel Workbook'] = df_boardex['Excel Workbook'].str.replace('Europe - ','')
df_boardex['Excel Workbook (SMDEs)'] = df_boardex['Excel Workbook (SMDEs)'].str.replace('Europe - ','')

# Remove the "[...] - " part from variable names, because it's the header and not the actual variable name
df_boardex['Variable Name'] = df_boardex['Variable Name'].str.replace('Characteristics of Roles\t - ','')
df_boardex['Variable Name'] = df_boardex['Variable Name'].str.replace('Director Experience - ','')
df_boardex['Variable Name'] = df_boardex['Variable Name'].str.replace('Ratios - ','')
df_boardex['Variable Name'] = df_boardex['Variable Name'].str.replace('Director Count Totals - ','')
df_boardex['Variable Name'] = df_boardex['Variable Name'].str.replace('Ratios - ','')
df_boardex['Variable Name'] = df_boardex['Variable Name'].str.replace('Annual Direct Compensation - ','')
df_boardex['Variable Name'] = df_boardex['Variable Name'].str.replace('Total - ','')

# Rename 'Director Type (ED or SD)' to 'Director Type', because different excel files name it differently, 
# e.g. 'Director Type (ED or SD)' or Director Type (ED , SD or SM)''
df_boardex['Variable Name'] = df_boardex['Variable Name'].str.replace('Director Type (ED or SD)','Director Type')

df_boardex

,Include in Dataset,Excel Workbook,Excel Workbook (SMDEs),Sheet,Variable Name
0,1.0,Board Summary,SMDEs Org Summary,Board Summary,Annual Report Year
1,1.0,Board Summary,SMDEs Org Summary,Board Summary,CompanyID*
2,1.0,Board Summary,SMDEs Org Summary,Board Summary,Company Name
3,1.0,Board Summary,SMDEs Org Summary,Board Summary,ISIN
4,1.0,Board Summary,SMDEs Org Summary,Board Summary,Sector
5,1.0,Board Summary,SMDEs Org Summary,Board Summary,Director Type (ED or SD)
6,1.0,Board Summary,SMDEs Org Summary,Board Summary,DirectorID*
7,1.0,Board Summary,SMDEs Org Summary,Board Summary,Individual Name
8,1.0,Board Summary,SMDEs Org Summary,Board Summary,Individual Role
9,1.0,Board Summary,SMDEs Org Summary,Board Summary,Time in Role
10,1.0,Board Summary,SMDEs Org Summary,Board Summary,Time on Board
11,1.0,Board Summary,SMDEs Org Summary,Board Summary,Time in Company
12,1.0,Board Summary,SMDEs Org Summary,Board Summary,Total Number of Quoted Boards to Date
13,1.0,Board Summary,SMDEs Org Summary,Board Summary,Age (Yrs)
14,1.0,Board Summary,SMDEs Org Summary,Board Summary,Gender
15,1.0,Board Summary,SMDEs Org Summary,Board Summary,Nationality Mix
16,1.0,Board Summary,SMDEs Org Summary,Board Summary,Bonus/ (Bonus&Salary)
17,1.0,Board Summary,SMDEs Org Summary,Board Summary,Equity Linked/ Total
18,1.0,Board Summary,SMDEs Org Summary,Board Summary,Performance/ Total
19,1.0,Board Summary,NaN,Board Summary,Total Directors on the Board
20,1.0,Board Summary,SMDEs Org Summary,Board Summary,Salary
21,1.0,Board Summary,SMDEs Org Summary,Board Summary,Total Annual Compensation
22,1.0,Company Details,NaN,Company Details,CompanyID*
23,1.0,Company Details,NaN,Company Details,Bankers
24,1.0,Director Profile - Characteristics,SMDEs Profile - Characteristics,Charcteristics,DirectorID*
25,1.0,Director Profile - Characteristics,SMDEs Profile - Characteristics,Charcteristics,DOB
26,1.0,Director Profile - Education & Achievements,SMDEs Profile - Education & Achievements,Education,DirectorID*
27,1.0,Director Profile - Education & Achievements,SMDEs Profile - Education & Achievements,Education,Director Name
28,1.0,Director Profile - Education & Achievements,SMDEs Profile - Education & Achievements,Education,InstitutionID*
29,1.0,Director Profile - Education & Achievements,SMDEs Profile - Education & Achievements,Education,Institution Name
30,1.0,Director Profile - Education & Achievements,SMDEs Profile - Education & Achievements,Education,Company Type
31,1.0,Director Profile - Education & Achievements,SMDEs Profile - Education & Achievements,Education,Qualification
32,1.0,Director Profile - Education & Achievements,SMDEs Profile - Education & Achievements,Education,Qualification Description
33,1.0,Director Profile - Education & Achievements,SMDEs Profile - Education & Achievements,Education,Qualification Date
34,1.0,Director Profile - Education & Achievements,SMDEs Profile - Education & Achievements,Achievements,Country
35,1.0,Director Profile - Education & Achievements,SMDEs Profile - Education & Achievements,Achievements,DirectorID*
36,1.0,Director Profile - Education & Achievements,SMDEs Profile - Education & Achievements,Achievements,Director Name
37,1.0,Director Profile - Education & Achievements,SMDEs Profile - Education & Achievements,Achievements,OrganisationID*
38,1.0,Director Profile - Education & Achievements,SMDEs Profile - Education & Achievements,Achievements,OrganisationName
39,1.0,Director Profile - Education & Achievements,SMDEs Profile - Education & Achievements,Achievements,Achievement Date
40,1.0,Director Profile - Education & Achievements,SMDEs Profile - Education & Achievements,Achievements,Award/Achievement

In [10]:
# Get unique list of excel workbook names
unique_workbook_names = df_boardex['Excel Workbook'].unique()
unique_workbook_names_smde = df_boardex['Excel Workbook (SMDEs)'].unique()
unique_workbook_names = np.append(unique_workbook_names, unique_workbook_names_smde)

In [11]:
# Remove NaN (float) from an array of valid file names (strings) and NaN (float).
unique_workbook_names = unique_workbook_names[~pd.isnull(unique_workbook_names)]
unique_workbook_names

array(['Board Summary', 'Company Details',
       'Director Profile - Characteristics',
       'Director Profile - Education & Achievements', 'SMDEs Org Summary',
       'SMDEs Profile - Characteristics',
       'SMDEs Profile - Education & Achievements'], dtype=object)

In [44]:
inputfolder = Path(r"C:\Users\jasonjia\Dropbox\Projects\boardex_and_execucomp\output\boardex_sample_data\test")

In [45]:
# Use glob to return all excel files in the input directory
file_list = glob.glob(str(inputfolder) + "/*.xlsx")

In [46]:
# Convert the strings back into paths
file_list = [Path(file) for file in file_list]
file_list

[WindowsPath('C:/Users/jasonjia/Dropbox/Projects/boardex_and_execucomp/output/boardex_sample_data/test/Europe - Director Network - 55.xlsx'),
 WindowsPath('C:/Users/jasonjia/Dropbox/Projects/boardex_and_execucomp/output/boardex_sample_data/test/Europe - Director Network - 66.xlsx'),
 WindowsPath('C:/Users/jasonjia/Dropbox/Projects/boardex_and_execucomp/output/boardex_sample_data/test/Europe - SMDEs Network - 88.xlsx'),
 WindowsPath('C:/Users/jasonjia/Dropbox/Projects/boardex_and_execucomp/output/boardex_sample_data/test/Europe - SMDEs Network - 99.xlsx'),
 WindowsPath('C:/Users/jasonjia/Dropbox/Projects/boardex_and_execucomp/output/boardex_sample_data/test/Europe - SMDEs Profile - Characteristics - 2.xlsx'),
 WindowsPath('C:/Users/jasonjia/Dropbox/Projects/boardex_and_execucomp/output/boardex_sample_data/test/Europe - SMDEs Profile - Education & Achievements.xlsx'),
 WindowsPath('C:/Users/jasonjia/Dropbox/Projects/boardex_and_execucomp/output/boardex_sample_data/test/Europe - SMDEs Profile - Employment Current Board.xlsx'),
 WindowsPath('C:/Users/jasonjia/Dropbox/Projects/boardex_and_execucomp/output/boardex_sample_data/test/Europe - SMDEs Profile - Employment Current NonBoard.xlsx'),
 WindowsPath('C:/Users/jasonjia/Dropbox/Projects/boardex_and_execucomp/output/boardex_sample_data/test/Europe - SMDEs Profile - Employment Historical Board.xlsx'),
 WindowsPath('C:/Users/jasonjia/Dropbox/Projects/boardex_and_execucomp/output/boardex_sample_data/test/Europe - SMDEs Profile - Employment Historical NonBoard - 1.xlsx'),
 WindowsPath('C:/Users/jasonjia/Dropbox/Projects/boardex_and_execucomp/output/boardex_sample_data/test/Europe - SMDEs Profile - Employment Historical NonBoard - 2.xlsx'),
 WindowsPath('C:/Users/jasonjia/Dropbox/Projects/boardex_and_execucomp/output/boardex_sample_data/test/Europe - SMDEs Profile - Other Activities.xlsx'),
 WindowsPath('C:/Users/jasonjia/Dropbox/Projects/boardex_and_execucomp/output/boardex_sample_data/test/NA - Company Announcements.xlsx'),
 WindowsPath('C:/Users/jasonjia/Dropbox/Projects/boardex_and_execucomp/output/boardex_sample_data/test/NA - Company Details.xlsx'),
 WindowsPath('C:/Users/jasonjia/Dropbox/Projects/boardex_and_execucomp/output/boardex_sample_data/test/NA - Company Network - 11.xlsx'),
 WindowsPath('C:/Users/jasonjia/Dropbox/Projects/boardex_and_execucomp/output/boardex_sample_data/test/ROW - Board Summary - 2.xlsx')]

In [8]:
# Define functions for main loop
def get_colstokeep(unique_workbook_name, df_boardex, sheet):
    list_colstokeep = []
    
    # Filter by unique_workbook_name
    if 'SMDE' in unique_workbook_name:
        df_boardex = df_boardex[df_boardex['Excel Workbook (SMDEs)'] == unique_workbook_name]
    else:
        df_boardex = df_boardex[df_boardex['Excel Workbook'] == unique_workbook_name]
        
    # Filter by sheet
    df_boardex = df_boardex[df_boardex['Sheet'] == sheet]

    # Get list of unique columns to keep
    list_colstokeep = list(df_boardex['Variable Name'].unique())
    
    return list_colstokeep

In [9]:
def get_sheetstoopen(unique_workbook_name, df_boardex):
    list_sheetstoopen = []
    
    # Filter by unique_workbook_name
    if 'SMDE' in unique_workbook_name:
        df_boardex = df_boardex[df_boardex['Excel Workbook (SMDEs)'] == unique_workbook_name]
    else:
        df_boardex = df_boardex[df_boardex['Excel Workbook'] == unique_workbook_name]
    
    # Get list of unique sheets to keep
    list_sheetstoopen = list(df_boardex['Sheet'].unique())
    
    return list_sheetstoopen

In [28]:
def get_df(filepath, sheet):
    row0 = pd.read_excel(filepath, sheet_name=sheet, header=None, nrows = 1, engine='openpyxl')
    pct_nan = round(pd.isna(row0).sum().mean() * 100, 1)
    if pct_nan > 0.5:
        print("% NaNs in first row:", pct_nan, "> 50%, taking header = row 1 by skipping row 0")
        df = pd.read_excel(filepath, sheet_name=sheet, header=1, engine='openpyxl')
    else:
        print("% NaNs in first row", pct_nan, "<= 50%, taking header = row 0 as usual")
        df = pd.read_excel(filepath, sheet_name=sheet, header=0, engine='openpyxl')
    
    return df

In [37]:
# Main loop
list_files_kept = []
list_files_not_kept = []
outputfolder = Path(r"C:\Users\jasonjia\Dropbox\Projects\boardex_and_execucomp\output\filter_boardex_by_cols")

for file in file_list:
    stem = file.stem
    name = file.name
    list_bools_workbook_names = [workbook_name in name for workbook_name in unique_workbook_names]

    if(any(list_bools_workbook_names)):
        # Keep track of list of files kept
        list_files_kept.append(name)
        print("File name (kept):", name)
        
        # Get the unique workbook name
        unique_workbook_name = list(compress(unique_workbook_names, list_bools_workbook_names))[0]
        print("Unique workbook name:", unique_workbook_name)
        
        # Check how many sheets need to be opened for this file.
        list_sheetstoopen = get_sheetstoopen(unique_workbook_name, df_boardex) 
        print("List of sheets to open:", list_sheetstoopen)
        num_sheets = len(list_sheetstoopen)
        
        for sheet in list_sheetstoopen:
            # Open the specific sheet in file
            print("------")
            print("Sheet:", sheet)
            df = get_df(file, sheet)
                        
            # Get columns to keep
            list_colstokeep = get_colstokeep(unique_workbook_name, df_boardex, sheet)
            
            # Strip/trim columns in list_colstokeep to maintain consistency
            list_colstokeep = [col.strip() for col in list_colstokeep]
            print("List of cols to keep:", list_colstokeep)

            # Strip/trim column headers of df to maintain consistency
            columns_dict = {}
            for column_header in df.columns:
                columns_dict[column_header] = column_header.strip() 
            df = df.rename(columns = columns_dict)
            
            # Filter by the columns we want
            df = df[list_colstokeep]
            
            # Save df
            outputfilename = stem + '_cols.xlsx'
            outputfilepath = Path(outputfolder / outputfilename)
            df.to_excel(outputfilepath, index=False)
            print("df saved to:", str(outputfilepath))
            
        print("-----------------------------------------------------------")
        
    else:
        # Keep track of list of files not kept
        list_files_not_kept.append(name)

File name (kept): Europe - SMDEs Profile - Characteristics - 2.xlsx
Unique workbook name: SMDEs Profile - Characteristics
List of sheets to open: ['Charcteristics']
------
Sheet: Charcteristics
% NaNs in first row: 73.3 > 50%, taking header = row 1 by skipping row 0
List of cols to keep: ['DirectorID*', 'DOB']
df saved to: C:\Users\jasonjia\Dropbox\Projects\boardex_and_execucomp\output\filter_boardex_by_cols\Europe - SMDEs Profile - Characteristics - 2_cols.xlsx
-----------------------------------------------------------
File name (kept): Europe - SMDEs Profile - Education & Achievements.xlsx
Unique workbook name: SMDEs Profile - Education & Achievements
List of sheets to open: ['Education', 'Achievements']
------
Sheet: Education
% NaNs in first row 0.0 <= 50%, taking header = row 0 as usual
List of cols to keep: ['DirectorID*', 'Director Name', 'InstitutionID*', 'Institution Name', 'Company Type', 'Qualification', 'Qualification Description', 'Qualification Date']
df saved to: C:\Users\jasonjia\Dropbox\Projects\boardex_and_execucomp\output\filter_boardex_by_cols\Europe - SMDEs Profile - Education & Achievements_cols.xlsx
------
Sheet: Achievements
% NaNs in first row 0.0 <= 50%, taking header = row 0 as usual
List of cols to keep: ['Country', 'DirectorID*', 'Director Name', 'OrganisationID*', 'OrganisationName', 'Achievement Date', 'Award/Achievement']
df saved to: C:\Users\jasonjia\Dropbox\Projects\boardex_and_execucomp\output\filter_boardex_by_cols\Europe - SMDEs Profile - Education & Achievements_cols.xlsx
-----------------------------------------------------------
File name (kept): NA - Company Details.xlsx
Unique workbook name: Company Details
List of sheets to open: ['Company Details']
------
Sheet: Company Details
% NaNs in first row 0.0 <= 50%, taking header = row 0 as usual
List of cols to keep: ['CompanyID*', 'Bankers']
df saved to: C:\Users\jasonjia\Dropbox\Projects\boardex_and_execucomp\output\filter_boardex_by_cols\NA - Company Details_cols.xlsx
-----------------------------------------------------------
File name (kept): ROW - Board Summary - 2.xlsx
Unique workbook name: Board Summary
List of sheets to open: ['Board Summary']
------
Sheet: Board Summary
% NaNs in first row: 82.2 > 50%, taking header = row 1 by skipping row 0
List of cols to keep: ['Annual Report Year', 'CompanyID*', 'Company Name', 'ISIN', 'Sector', 'Director Type (ED or SD)', 'DirectorID*', 'Individual Name', 'Individual Role', 'Time in Role', 'Time on Board', 'Time in Company', 'Total Number of Quoted Boards to Date', 'Age (Yrs)', 'Gender', 'Nationality Mix', 'Bonus/ (Bonus&Salary)', 'Equity Linked/ Total', 'Performance/ Total', 'Total Directors on the Board', 'Salary', 'Total Annual Compensation ']
df saved to: C:\Users\jasonjia\Dropbox\Projects\boardex_and_execucomp\output\filter_boardex_by_cols\ROW - Board Summary - 2_cols.xlsx
-----------------------------------------------------------

In [41]:
# Print list of files kept and not kept
print("List of files kept:", list_files_kept)
print("------")
print("List of files not kept:", list_files_not_kept)

List of files kept: ['Europe - SMDEs Profile - Characteristics - 2.xlsx', 'Europe - SMDEs Profile - Education & Achievements.xlsx', 'NA - Company Details.xlsx', 'ROW - Board Summary - 2.xlsx']
------
List of files not kept: ['Europe - Director Network - 55.xlsx', 'Europe - Director Network - 66.xlsx', 'Europe - SMDEs Network - 88.xlsx', 'Europe - SMDEs Network - 99.xlsx', 'Europe - SMDEs Profile - Employment Current Board.xlsx', 'Europe - SMDEs Profile - Employment Current NonBoard.xlsx', 'Europe - SMDEs Profile - Employment Historical Board.xlsx', 'Europe - SMDEs Profile - Employment Historical NonBoard - 1.xlsx', 'Europe - SMDEs Profile - Employment Historical NonBoard - 2.xlsx', 'Europe - SMDEs Profile - Other Activities.xlsx', 'NA - Company Announcements.xlsx', 'NA - Company Network - 11.xlsx']

In [55]:
list_test = ['a b ', 'b', 'c']

In [ ]:
.strip()

In [56]:
for i, j in enumerate(list_test):
    print("<" + j.strip() + ">")

<a b>
<b>
<c>

In [57]:
df

,Annual Report Year,CompanyID*,Company Name,ISIN,Sector,Director Type (ED or SD),DirectorID*,Individual Name,Individual Role,Time in Role,...,Total Number of Quoted Boards to Date,Age (Yrs),Gender,Nationality Mix,Bonus/ (Bonus&Salary),Equity Linked/ Total,Performance/ Total,Total Directors on the Board,Salary,Total Annual Compensation
0,Current,9912158216,ABB INDIA LTD,INE117A01022,Engineering & Machinery,ED,170894010222,Sanjeev Sharma,CEO/MD,5.3,...,2,55,M,Indian,n.a,n.a,n.a,6,n.a,n.a
1,Current,9912158216,ABB INDIA LTD,INE117A01022,Engineering & Machinery,SD,22338344934,Morten Wierod,Chairman,0.2,...,1,49,M,n.a,n.a,n.a,n.a,6,n.a,n.a
2,Current,9912158216,ABB INDIA LTD,INE117A01022,Engineering & Machinery,SD,6634566074,Renu Sud Karnad,Independent NED,7.7,...,16,69,F,Indian,n.a,n.a,n.a,6,n.a,n.a
3,Current,9912158216,ABB INDIA LTD,INE117A01022,Engineering & Machinery,SD,6936339228,Darius Erachshaw Udwadia,Independent NED,15.8,...,13,81,M,Indian,n.a,n.a,n.a,6,n.a,n.a
4,Current,9912158216,ABB INDIA LTD,INE117A01022,Engineering & Machinery,SD,81569710823,Vegulaparanan Kasi Viswanathan,Independent NED,1.4,...,7,70,M,Indian,n.a,n.a,n.a,6,n.a,n.a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6875,Dec 2015,9987168930,WUXI PHARMATECH (CAYMAN) INC (De-listed 12/2015),US9293521020,Pharmaceuticals and Biotechnology,SD,84153612711,Kian-Wee (Hua) Seah,Independent Director,n.a,...,n.a,n.a,n.a,n.a,n.a,n.a,n.a,9,n.a,n.a
6876,Dec 2015,9987168930,WUXI PHARMATECH (CAYMAN) INC (De-listed 12/2015),US9293521020,Pharmaceuticals and Biotechnology,SD,11865494486,Teh-Ming (Walter) Kwauk,Independent Director,n.a,...,n.a,n.a,n.a,n.a,n.a,n.a,n.a,9,n.a,n.a
6877,Dec 2015,9987168930,WUXI PHARMATECH (CAYMAN) INC (De-listed 12/2015),US9293521020,Pharmaceuticals and Biotechnology,SD,20267811575,Stewart J Hen,Independent Director,n.a,...,n.a,n.a,n.a,n.a,n.a,n.a,n.a,9,n.a,n.a
6878,Dec 2015,9987168930,WUXI PHARMATECH (CAYMAN) INC (De-listed 12/2015),US9293521020,Pharmaceuticals and Biotechnology,SD,6831268246,Xuesong (Jeff) Leng,Independent Director,n.a,...,n.a,n.a,n.a,n.a,n.a,n.a,n.a,9,n.a,n.a
6879,Dec 2015,9987168930,WUXI PHARMATECH (CAYMAN) INC (De-listed 12/2015),US9293521020,Pharmaceuticals and Biotechnology,SD,11074602880,William Robert Keller,Independent Director,n.a,...,n.a,n.a,n.a,n.a,n.a,n.a,n.a,9,n.a,n.a