In [4]:
import pandas as pd
from pathlib import Path

In [5]:
inputpath = Path(r"C:\Users\jasonjia\Dropbox\Projects\boardex_and_execucomp\output\gvkey_isin_names_conversion\gvkey_to_isin_missing.sas7bdat")
outputpath = Path(r"C:\Users\jasonjia\Dropbox\Projects\boardex_and_execucomp\output\gvkey_isin_names_conversion\gvkey_to_isin_missing.xlsx")

In [6]:
def convert_sas7bdat_to_excel(inputpath, outputpath):
    df = pd.read_sas(inputpath)
    for i in df:
        if df[i].dtype == 'O':
            df[i] = df[i].str.decode('UTF-8')
    df.to_excel(outputpath, index=False)
    return df

In [7]:
df = convert_sas7bdat_to_excel(inputpath, outputpath)

In [9]:
df

         COMPANYID          ISIN                COMPANYNAME
0          23515.0  XS0478083164  The Toronto-Dominion Bank
1          23515.0  XS0477559560  The Toronto-Dominion Bank
2          23515.0  XS0483939699  The Toronto-Dominion Bank
3          23515.0  XS0480029197  The Toronto-Dominion Bank
4          23515.0  CA891145EJ96  The Toronto-Dominion Bank
...            ...           ...                        ...
22010  240584396.0  VGG6564A1057        Nomad Foods Limited
22011  364606463.0  US2381085008            U.S. Gold Corp.
22012  364606463.0  CA90291C1023            U.S. Gold Corp.
22013  364606463.0  US90291C1027            U.S. Gold Corp.
22014  364606463.0  US90291C2017            U.S. Gold Corp.

[22015 rows x 3 columns]