In [1]:
# Import Packages
import pandas as pd, numpy as np
from pathlib import Path
import os, sys, glob, re
from collections import OrderedDict
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 80)

# Import Board Summary

In [2]:
inputfilepath = Path("Board Summary.csv")

In [3]:
df = pd.read_csv(inputfilepath, low_memory=False)
df

,Ratios - Wealth Delta,Total - Total Annual Compensation,Annual Report Year,Annual- Equity Linked Options - Intrinsic Options (excercisable),Director Type,Characteristics of Roles - Time on Board,Accumulated Wealth - LTIPS(max),Ratios - Bonus/ (Bonus&Salary),Annual- Equity Linked Options - Total Equity Linked Compensation,Annual- Equity Linked Options - Share Price,Individual Name,Annual- Equity Linked Options - LTIPS(max),Director Experience - Total Number of Private Current Boards,Annual Direct Compensation - Salary,Director Experience - Total Number of Other Current Boards,DirectorID*,Accumulated Wealth - Intrinsic Option,Accumulated Wealth - Estimated Option,Annual Direct Compensation - Total Salary+Bonus,Annual- Equity Linked Options - Shares,Director Experience - Nationality Mix,Index,Ticker,Director Experience - Total Number of Private Boards to Date,CompanyID*,Accumulated Wealth - Liquid Wealth,Annual Direct Compensation - Total Inc. D.C. Pension & Other,Annual- Equity Linked Options - Intrinsic Options (unexercisable),Director Experience - Total Number of Quoted Boards to Date,Ratios - %Change from Last Period,Total Wealth - Total Wealth,Country,Annual Direct Compensation - Bonus,Ratios - Performance/ Total,Director Experience - Number of Qualifications,Director Experience - Age (Yrs),Company Name,Annual- Equity Linked Options - Estimated Options (unexcercisable),Annual- Equity Linked Options - Vesting Date,Director Experience - Avg. Yrs on Other Quoted Boards,Characteristics of Roles - Individual Role,Annual Direct Compensation - D.C Pension,Characteristics of Roles - Director Network Size,Director Experience - Total Number of Other Boards to Date,Annual- Equity Linked Options - Estimated Options (exercisable),Annual Direct Compensation - Other,Accumulated Wealth - Shares,Characteristics of Roles - Time to Retirement,Director Count Totals - Number of Independent NED with past CFO/FD role,ISIN,Ratios - Equity Linked/ Total,Characteristics of Roles - Time in Company,Sector,Director Experience - Total Number of Quoted Current Boards,Characteristics of Roles - Time in Role,Director Experience - Gender,inputfilestem,region,mgmt_type,workbook_name,fragment_number,sheet_name
0,2.0,NaN,Current,NaN,SD,3.2,NaN,NaN,NaN,NaN,Robert (Bob) Archie Jennings,NaN,NaN,NaN,NaN,13237186434,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,2.0,9811997164,188.0,0.0,NaN,2.0,NaN,188.0,Jersey,NaN,NaN,2.0,66.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,6.1,Independent NED,NaN,1617,NaN,NaN,NaN,188.0,4.0,0.0,JE00BF5FX167,NaN,3.2,Investment Companies,2.0,3.2,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN
1,0.0,NaN,Current,NaN,SD,1.2,NaN,NaN,NaN,NaN,Samantha (Sam) Jane Hoe-Richardson,NaN,2.0,NaN,NaN,13534906790,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,4.0,9811997164,5.0,0.0,NaN,2.0,NaN,5.0,Jersey,NaN,NaN,2.0,50.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,8.2,Independent NED,NaN,1486,NaN,NaN,NaN,5.0,19.8,0.0,JE00BF5FX167,NaN,1.2,Investment Companies,2.0,1.2,F,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN
2,1.0,NaN,Current,NaN,SD,8.0,NaN,NaN,NaN,NaN,Paul A Masterton,NaN,3.0,NaN,NaN,13584596849,NaN,NaN,0.0,NaN,NaN,FTSE 250,3IN,5.0,9811997164,100.0,0.0,NaN,1.0,NaN,100.0,Jersey,NaN,NaN,3.0,NaN,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,0.0,Senior Independent NED,NaN,1509,NaN,NaN,NaN,100.0,NaN,0.0,JE00BF5FX167,NaN,8.0,Investment Companies,1.0,4.3,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN
3,NaN,NaN,Current,NaN,SD,6.9,NaN,NaN,NaN,NaN,Ian Matthew Lobley,NaN,4.0,NaN,NaN,13665216944,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,20.0,9811997164,NaN,0.0,NaN,1.0,NaN,NaN,Jersey,NaN,NaN,1.0,58.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,0.0,NED,NaN,1129,NaN,NaN,NaN,NaN,11.8,0.0,JE00BF5FX167,NaN,6.9,Investment Companies,1.0,6.9,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN
4,1.0,NaN,Current,NaN,SD,6.3,NaN,NaN,NaN,NaN,James (Doug) Douglas Bannister,NaN,NaN,NaN,NaN,15379548720,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,2.0,9811997164,68.0,0.0,NaN,1.0,NaN,68.0,Jersey,NaN,NaN,0.0,56.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,0.0,Independent NED,NaN,64,NaN,NaN,NaN,68.0,13.8,0.0,JE00BF5FX167,NaN,6.3,Investment Companies,1.0,6.3,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568524,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,Campbell Hair,NaN,NaN,NaN,NaN,13637986908,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Global HR Director,NaN,235,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN
1568525,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,James (Jim) Anthony Sadler,NaN,NaN,NaN,NaN,13638046908,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Group Chief Information Officer,NaN,387,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN
1568526,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,Christopher (Chris) Mark Fussell,NaN,NaN,NaN,NaN,15966479256,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,General Counsel/Company Secretary,NaN,136,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN
1568527,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,Alok Kumar Sinha,NaN,NaN,NaN,NaN,15966489256,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Division President/CEO,NaN,268,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN
1568528,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,David Brooks,NaN,NaN,NaN,NaN,52969512547,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Global Sales Director,NaN,831,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN

# Process year/month

In [4]:
# Get month and year
df['Month'] = df['Annual Report Year'].str[0:4]
df['Year'] = df['Annual Report Year'].str[4:]
df.head(5)

,Ratios - Wealth Delta,Total - Total Annual Compensation,Annual Report Year,Annual- Equity Linked Options - Intrinsic Options (excercisable),Director Type,Characteristics of Roles - Time on Board,Accumulated Wealth - LTIPS(max),Ratios - Bonus/ (Bonus&Salary),Annual- Equity Linked Options - Total Equity Linked Compensation,Annual- Equity Linked Options - Share Price,Individual Name,Annual- Equity Linked Options - LTIPS(max),Director Experience - Total Number of Private Current Boards,Annual Direct Compensation - Salary,Director Experience - Total Number of Other Current Boards,DirectorID*,Accumulated Wealth - Intrinsic Option,Accumulated Wealth - Estimated Option,Annual Direct Compensation - Total Salary+Bonus,Annual- Equity Linked Options - Shares,Director Experience - Nationality Mix,Index,Ticker,Director Experience - Total Number of Private Boards to Date,CompanyID*,Accumulated Wealth - Liquid Wealth,Annual Direct Compensation - Total Inc. D.C. Pension & Other,Annual- Equity Linked Options - Intrinsic Options (unexercisable),Director Experience - Total Number of Quoted Boards to Date,Ratios - %Change from Last Period,Total Wealth - Total Wealth,Country,Annual Direct Compensation - Bonus,Ratios - Performance/ Total,Director Experience - Number of Qualifications,Director Experience - Age (Yrs),Company Name,Annual- Equity Linked Options - Estimated Options (unexcercisable),Annual- Equity Linked Options - Vesting Date,Director Experience - Avg. Yrs on Other Quoted Boards,Characteristics of Roles - Individual Role,Annual Direct Compensation - D.C Pension,Characteristics of Roles - Director Network Size,Director Experience - Total Number of Other Boards to Date,Annual- Equity Linked Options - Estimated Options (exercisable),Annual Direct Compensation - Other,Accumulated Wealth - Shares,Characteristics of Roles - Time to Retirement,Director Count Totals - Number of Independent NED with past CFO/FD role,ISIN,Ratios - Equity Linked/ Total,Characteristics of Roles - Time in Company,Sector,Director Experience - Total Number of Quoted Current Boards,Characteristics of Roles - Time in Role,Director Experience - Gender,inputfilestem,region,mgmt_type,workbook_name,fragment_number,sheet_name,Month,Year
0,2.0,NaN,Current,NaN,SD,3.2,NaN,NaN,NaN,NaN,Robert (Bob) Archie Jennings,NaN,NaN,NaN,NaN,13237186434,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,2.0,9811997164,188.0,0.0,NaN,2.0,NaN,188.0,Jersey,NaN,NaN,2.0,66.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,6.1,Independent NED,NaN,1617,NaN,NaN,NaN,188.0,4.0,0.0,JE00BF5FX167,NaN,3.2,Investment Companies,2.0,3.2,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Curr,ent
1,0.0,NaN,Current,NaN,SD,1.2,NaN,NaN,NaN,NaN,Samantha (Sam) Jane Hoe-Richardson,NaN,2.0,NaN,NaN,13534906790,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,4.0,9811997164,5.0,0.0,NaN,2.0,NaN,5.0,Jersey,NaN,NaN,2.0,50.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,8.2,Independent NED,NaN,1486,NaN,NaN,NaN,5.0,19.8,0.0,JE00BF5FX167,NaN,1.2,Investment Companies,2.0,1.2,F,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Curr,ent
2,1.0,NaN,Current,NaN,SD,8.0,NaN,NaN,NaN,NaN,Paul A Masterton,NaN,3.0,NaN,NaN,13584596849,NaN,NaN,0.0,NaN,NaN,FTSE 250,3IN,5.0,9811997164,100.0,0.0,NaN,1.0,NaN,100.0,Jersey,NaN,NaN,3.0,NaN,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,0.0,Senior Independent NED,NaN,1509,NaN,NaN,NaN,100.0,NaN,0.0,JE00BF5FX167,NaN,8.0,Investment Companies,1.0,4.3,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Curr,ent
3,NaN,NaN,Current,NaN,SD,6.9,NaN,NaN,NaN,NaN,Ian Matthew Lobley,NaN,4.0,NaN,NaN,13665216944,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,20.0,9811997164,NaN,0.0,NaN,1.0,NaN,NaN,Jersey,NaN,NaN,1.0,58.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,0.0,NED,NaN,1129,NaN,NaN,NaN,NaN,11.8,0.0,JE00BF5FX167,NaN,6.9,Investment Companies,1.0,6.9,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Curr,ent
4,1.0,NaN,Current,NaN,SD,6.3,NaN,NaN,NaN,NaN,James (Doug) Douglas Bannister,NaN,NaN,NaN,NaN,15379548720,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,2.0,9811997164,68.0,0.0,NaN,1.0,NaN,68.0,Jersey,NaN,NaN,0.0,56.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,0.0,Independent NED,NaN,64,NaN,NaN,NaN,68.0,13.8,0.0,JE00BF5FX167,NaN,6.3,Investment Companies,1.0,6.3,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Curr,ent

In [5]:
# Get current year
# Replace 'Current' with the latest month (previous month of company + 1 year)
current_year = (df[df['Annual Report Year'] != 'Current'].groupby('CompanyID*')['Year'].max().astype('int') + 1).reset_index()

# Get current month
current_month = df[df['Annual Report Year'] != 'Current'].groupby('CompanyID*')['Month'].first().reset_index()

In [6]:
# Get current year and month
current_year_month = current_year.merge(current_month, on='CompanyID*', how='inner')
current_year_month = current_year_month.rename(columns={'Year':'Current Year', 'Month':'Current Month'})
current_year_month

        CompanyID*  Current Year Current Month
0           270810          2021          Dec
1           386710          2020          Dec
2           386770          2012          Dec
3           422759          2009          Dec
4           493378          2021          Dec
...            ...           ...           ...
3242  305172912690          2021          Jun
3243  305214912690          2021          Dec
3244  305299712697          2020          Dec
3245  306519112781          2020          Dec
3246  307364612844          2020          Dec

[3247 rows x 3 columns]

In [7]:
# Merge current year and month back to df
df = df.merge(current_year_month, on=['CompanyID*'], how='inner')
# Redefine year and month
df['Year'] = np.where(df['Annual Report Year'] == 'Current', df['Current Year'], df['Year']).astype('int')
df['Month'] = np.where(df['Annual Report Year'] == 'Current', df['Current Month'], df['Month'])
df

,Ratios - Wealth Delta,Total - Total Annual Compensation,Annual Report Year,Annual- Equity Linked Options - Intrinsic Options (excercisable),Director Type,Characteristics of Roles - Time on Board,Accumulated Wealth - LTIPS(max),Ratios - Bonus/ (Bonus&Salary),Annual- Equity Linked Options - Total Equity Linked Compensation,Annual- Equity Linked Options - Share Price,Individual Name,Annual- Equity Linked Options - LTIPS(max),Director Experience - Total Number of Private Current Boards,Annual Direct Compensation - Salary,Director Experience - Total Number of Other Current Boards,DirectorID*,Accumulated Wealth - Intrinsic Option,Accumulated Wealth - Estimated Option,Annual Direct Compensation - Total Salary+Bonus,Annual- Equity Linked Options - Shares,Director Experience - Nationality Mix,Index,Ticker,Director Experience - Total Number of Private Boards to Date,CompanyID*,Accumulated Wealth - Liquid Wealth,Annual Direct Compensation - Total Inc. D.C. Pension & Other,Annual- Equity Linked Options - Intrinsic Options (unexercisable),Director Experience - Total Number of Quoted Boards to Date,Ratios - %Change from Last Period,Total Wealth - Total Wealth,Country,Annual Direct Compensation - Bonus,Ratios - Performance/ Total,Director Experience - Number of Qualifications,Director Experience - Age (Yrs),Company Name,Annual- Equity Linked Options - Estimated Options (unexcercisable),Annual- Equity Linked Options - Vesting Date,Director Experience - Avg. Yrs on Other Quoted Boards,Characteristics of Roles - Individual Role,Annual Direct Compensation - D.C Pension,Characteristics of Roles - Director Network Size,Director Experience - Total Number of Other Boards to Date,Annual- Equity Linked Options - Estimated Options (exercisable),Annual Direct Compensation - Other,Accumulated Wealth - Shares,Characteristics of Roles - Time to Retirement,Director Count Totals - Number of Independent NED with past CFO/FD role,ISIN,Ratios - Equity Linked/ Total,Characteristics of Roles - Time in Company,Sector,Director Experience - Total Number of Quoted Current Boards,Characteristics of Roles - Time in Role,Director Experience - Gender,inputfilestem,region,mgmt_type,workbook_name,fragment_number,sheet_name,Month,Year,Current Year,Current Month
0,2.0,NaN,Current,NaN,SD,3.2,NaN,NaN,NaN,NaN,Robert (Bob) Archie Jennings,NaN,NaN,NaN,NaN,13237186434,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,2.0,9811997164,188.0,0.0,NaN,2.0,NaN,188.0,Jersey,NaN,NaN,2.0,66.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,6.1,Independent NED,NaN,1617,NaN,NaN,NaN,188.0,4.0,0.0,JE00BF5FX167,NaN,3.2,Investment Companies,2.0,3.2,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Mar,2021,2021,Mar
1,0.0,NaN,Current,NaN,SD,1.2,NaN,NaN,NaN,NaN,Samantha (Sam) Jane Hoe-Richardson,NaN,2.0,NaN,NaN,13534906790,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,4.0,9811997164,5.0,0.0,NaN,2.0,NaN,5.0,Jersey,NaN,NaN,2.0,50.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,8.2,Independent NED,NaN,1486,NaN,NaN,NaN,5.0,19.8,0.0,JE00BF5FX167,NaN,1.2,Investment Companies,2.0,1.2,F,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Mar,2021,2021,Mar
2,1.0,NaN,Current,NaN,SD,8.0,NaN,NaN,NaN,NaN,Paul A Masterton,NaN,3.0,NaN,NaN,13584596849,NaN,NaN,0.0,NaN,NaN,FTSE 250,3IN,5.0,9811997164,100.0,0.0,NaN,1.0,NaN,100.0,Jersey,NaN,NaN,3.0,NaN,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,0.0,Senior Independent NED,NaN,1509,NaN,NaN,NaN,100.0,NaN,0.0,JE00BF5FX167,NaN,8.0,Investment Companies,1.0,4.3,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Mar,2021,2021,Mar
3,NaN,NaN,Current,NaN,SD,6.9,NaN,NaN,NaN,NaN,Ian Matthew Lobley,NaN,4.0,NaN,NaN,13665216944,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,20.0,9811997164,NaN,0.0,NaN,1.0,NaN,NaN,Jersey,NaN,NaN,1.0,58.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,0.0,NED,NaN,1129,NaN,NaN,NaN,NaN,11.8,0.0,JE00BF5FX167,NaN,6.9,Investment Companies,1.0,6.9,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Mar,2021,2021,Mar
4,1.0,NaN,Current,NaN,SD,6.3,NaN,NaN,NaN,NaN,James (Doug) Douglas Bannister,NaN,NaN,NaN,NaN,15379548720,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,2.0,9811997164,68.0,0.0,NaN,1.0,NaN,68.0,Jersey,NaN,NaN,0.0,56.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,0.0,Independent NED,NaN,64,NaN,NaN,NaN,68.0,13.8,0.0,JE00BF5FX167,NaN,6.3,Investment Companies,1.0,6.3,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Mar,2021,2021,Mar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568478,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,Campbell Hair,NaN,NaN,NaN,NaN,13637986908,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Global HR Director,NaN,235,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN,Jun,2016,2017,Dec
1568479,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,James (Jim) Anthony Sadler,NaN,NaN,NaN,NaN,13638046908,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Group Chief Information Officer,NaN,387,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN,Jun,2016,2017,Dec
1568480,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,Christopher (Chris) Mark Fussell,NaN,NaN,NaN,NaN,15966479256,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,General Counsel/Company Secretary,NaN,136,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN,Jun,2016,2017,Dec
1568481,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,Alok Kumar Sinha,NaN,NaN,NaN,NaN,15966489256,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Division President/CEO,NaN,268,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN,Jun,2016,2017,Dec
1568482,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,David Brooks,NaN,NaN,NaN,NaN,52969512547,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Global Sales Director,NaN,831,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN,Jun,2016,2017,Dec

In [8]:
# Only only get data from 2002 onwards
df = df[df['Year'] >= 2002]
df

,Ratios - Wealth Delta,Total - Total Annual Compensation,Annual Report Year,Annual- Equity Linked Options - Intrinsic Options (excercisable),Director Type,Characteristics of Roles - Time on Board,Accumulated Wealth - LTIPS(max),Ratios - Bonus/ (Bonus&Salary),Annual- Equity Linked Options - Total Equity Linked Compensation,Annual- Equity Linked Options - Share Price,Individual Name,Annual- Equity Linked Options - LTIPS(max),Director Experience - Total Number of Private Current Boards,Annual Direct Compensation - Salary,Director Experience - Total Number of Other Current Boards,DirectorID*,Accumulated Wealth - Intrinsic Option,Accumulated Wealth - Estimated Option,Annual Direct Compensation - Total Salary+Bonus,Annual- Equity Linked Options - Shares,Director Experience - Nationality Mix,Index,Ticker,Director Experience - Total Number of Private Boards to Date,CompanyID*,Accumulated Wealth - Liquid Wealth,Annual Direct Compensation - Total Inc. D.C. Pension & Other,Annual- Equity Linked Options - Intrinsic Options (unexercisable),Director Experience - Total Number of Quoted Boards to Date,Ratios - %Change from Last Period,Total Wealth - Total Wealth,Country,Annual Direct Compensation - Bonus,Ratios - Performance/ Total,Director Experience - Number of Qualifications,Director Experience - Age (Yrs),Company Name,Annual- Equity Linked Options - Estimated Options (unexcercisable),Annual- Equity Linked Options - Vesting Date,Director Experience - Avg. Yrs on Other Quoted Boards,Characteristics of Roles - Individual Role,Annual Direct Compensation - D.C Pension,Characteristics of Roles - Director Network Size,Director Experience - Total Number of Other Boards to Date,Annual- Equity Linked Options - Estimated Options (exercisable),Annual Direct Compensation - Other,Accumulated Wealth - Shares,Characteristics of Roles - Time to Retirement,Director Count Totals - Number of Independent NED with past CFO/FD role,ISIN,Ratios - Equity Linked/ Total,Characteristics of Roles - Time in Company,Sector,Director Experience - Total Number of Quoted Current Boards,Characteristics of Roles - Time in Role,Director Experience - Gender,inputfilestem,region,mgmt_type,workbook_name,fragment_number,sheet_name,Month,Year,Current Year,Current Month
0,2.0,NaN,Current,NaN,SD,3.2,NaN,NaN,NaN,NaN,Robert (Bob) Archie Jennings,NaN,NaN,NaN,NaN,13237186434,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,2.0,9811997164,188.0,0.0,NaN,2.0,NaN,188.0,Jersey,NaN,NaN,2.0,66.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,6.1,Independent NED,NaN,1617,NaN,NaN,NaN,188.0,4.0,0.0,JE00BF5FX167,NaN,3.2,Investment Companies,2.0,3.2,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Mar,2021,2021,Mar
1,0.0,NaN,Current,NaN,SD,1.2,NaN,NaN,NaN,NaN,Samantha (Sam) Jane Hoe-Richardson,NaN,2.0,NaN,NaN,13534906790,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,4.0,9811997164,5.0,0.0,NaN,2.0,NaN,5.0,Jersey,NaN,NaN,2.0,50.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,8.2,Independent NED,NaN,1486,NaN,NaN,NaN,5.0,19.8,0.0,JE00BF5FX167,NaN,1.2,Investment Companies,2.0,1.2,F,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Mar,2021,2021,Mar
2,1.0,NaN,Current,NaN,SD,8.0,NaN,NaN,NaN,NaN,Paul A Masterton,NaN,3.0,NaN,NaN,13584596849,NaN,NaN,0.0,NaN,NaN,FTSE 250,3IN,5.0,9811997164,100.0,0.0,NaN,1.0,NaN,100.0,Jersey,NaN,NaN,3.0,NaN,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,0.0,Senior Independent NED,NaN,1509,NaN,NaN,NaN,100.0,NaN,0.0,JE00BF5FX167,NaN,8.0,Investment Companies,1.0,4.3,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Mar,2021,2021,Mar
3,NaN,NaN,Current,NaN,SD,6.9,NaN,NaN,NaN,NaN,Ian Matthew Lobley,NaN,4.0,NaN,NaN,13665216944,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,20.0,9811997164,NaN,0.0,NaN,1.0,NaN,NaN,Jersey,NaN,NaN,1.0,58.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,0.0,NED,NaN,1129,NaN,NaN,NaN,NaN,11.8,0.0,JE00BF5FX167,NaN,6.9,Investment Companies,1.0,6.9,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Mar,2021,2021,Mar
4,1.0,NaN,Current,NaN,SD,6.3,NaN,NaN,NaN,NaN,James (Doug) Douglas Bannister,NaN,NaN,NaN,NaN,15379548720,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,2.0,9811997164,68.0,0.0,NaN,1.0,NaN,68.0,Jersey,NaN,NaN,0.0,56.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,0.0,Independent NED,NaN,64,NaN,NaN,NaN,68.0,13.8,0.0,JE00BF5FX167,NaN,6.3,Investment Companies,1.0,6.3,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Mar,2021,2021,Mar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568478,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,Campbell Hair,NaN,NaN,NaN,NaN,13637986908,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Global HR Director,NaN,235,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN,Jun,2016,2017,Dec
1568479,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,James (Jim) Anthony Sadler,NaN,NaN,NaN,NaN,13638046908,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Group Chief Information Officer,NaN,387,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN,Jun,2016,2017,Dec
1568480,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,Christopher (Chris) Mark Fussell,NaN,NaN,NaN,NaN,15966479256,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,General Counsel/Company Secretary,NaN,136,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN,Jun,2016,2017,Dec
1568481,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,Alok Kumar Sinha,NaN,NaN,NaN,NaN,15966489256,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Division President/CEO,NaN,268,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN,Jun,2016,2017,Dec
1568482,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,David Brooks,NaN,NaN,NaN,NaN,52969512547,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Global Sales Director,NaN,831,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN,Jun,2016,2017,Dec

# Change data types

In [9]:
# Change data types to enable .groupby to work later on
data_types_dict = {'Year': 'int64'}
df = df.astype(data_types_dict)
df.dtypes

Ratios - Wealth Delta                                                      float64
Total - Total Annual Compensation                                          float64
Annual Report Year                                                          object
Annual- Equity Linked Options - Intrinsic Options (excercisable)           float64
Director Type                                                               object
Characteristics of Roles - Time on Board                                   float64
Accumulated Wealth - LTIPS(max)                                            float64
Ratios - Bonus/ (Bonus&Salary)                                             float64
Annual- Equity Linked Options - Total Equity Linked Compensation           float64
Annual- Equity Linked Options - Share Price                                float64
Individual Name                                                             object
Annual- Equity Linked Options - LTIPS(max)                                 float64
Director Experience - Total Number of Private Current Boards               float64
Annual Direct Compensation - Salary                                        float64
Director Experience - Total Number of Other Current Boards                 float64
DirectorID*                                                                  int64
Accumulated Wealth - Intrinsic Option                                      float64
Accumulated Wealth - Estimated Option                                      float64
Annual Direct Compensation - Total Salary+Bonus                            float64
Annual- Equity Linked Options - Shares                                     float64
Director Experience - Nationality Mix                                       object
Index                                                                       object
Ticker                                                                      object
Director Experience - Total Number of Private Boards to Date               float64
CompanyID*                                                                   int64
Accumulated Wealth - Liquid Wealth                                         float64
Annual Direct Compensation - Total Inc. D.C. Pension & Other               float64
Annual- Equity Linked Options - Intrinsic Options (unexercisable)          float64
Director Experience - Total Number of Quoted Boards to Date                float64
Ratios - %Change from Last Period                                          float64
Total Wealth - Total Wealth                                                float64
Country                                                                     object
Annual Direct Compensation - Bonus                                         float64
Ratios - Performance/ Total                                                float64
Director Experience - Number of Qualifications                             float64
Director Experience - Age (Yrs)                                            float64
Company Name                                                                object
Annual- Equity Linked Options - Estimated Options (unexcercisable)         float64
Annual- Equity Linked Options - Vesting Date                                object
Director Experience - Avg. Yrs on Other Quoted Boards                      float64
Characteristics of Roles - Individual Role                                  object
Annual Direct Compensation - D.C Pension                                   float64
Characteristics of Roles - Director Network Size                             int64
Director Experience - Total Number of Other Boards to Date                 float64
Annual- Equity Linked Options - Estimated Options (exercisable)            float64
Annual Direct Compensation - Other                                         float64
Accumulated Wealth - Shares                                                float64
Characteristics of Roles - Time to Retirement                              float64
Director Count Totals - Number of Independent NED with past CFO/FD role    float64
ISIN                                                                        object
Ratios - Equity Linked/ Total                                              float64
Characteristics of Roles - Time in Company                                 float64
Sector                                                                      object
Director Experience - Total Number of Quoted Current Boards                float64
Characteristics of Roles - Time in Role                                    float64
Director Experience - Gender                                                object
inputfilestem                                                               object
region                                                                      object
mgmt_type                                                                   object
workbook_name                                                               object
fragment_number                                                            float64
sheet_name                                                                 float64
Month                                                                       object
Year                                                                         int64
Current Year                                                                 int32
Current Month                                                               object
dtype: object

# Drop duplicates

In [10]:
# Prepare dataset to get variables
# First we get dataset to be at (year, company, director) level. We will later aggregate across directors to get to the (year, company) level.
df = df.drop_duplicates(subset=['Year', 'CompanyID*', 'DirectorID*'], ignore_index=True)
df

,Ratios - Wealth Delta,Total - Total Annual Compensation,Annual Report Year,Annual- Equity Linked Options - Intrinsic Options (excercisable),Director Type,Characteristics of Roles - Time on Board,Accumulated Wealth - LTIPS(max),Ratios - Bonus/ (Bonus&Salary),Annual- Equity Linked Options - Total Equity Linked Compensation,Annual- Equity Linked Options - Share Price,Individual Name,Annual- Equity Linked Options - LTIPS(max),Director Experience - Total Number of Private Current Boards,Annual Direct Compensation - Salary,Director Experience - Total Number of Other Current Boards,DirectorID*,Accumulated Wealth - Intrinsic Option,Accumulated Wealth - Estimated Option,Annual Direct Compensation - Total Salary+Bonus,Annual- Equity Linked Options - Shares,Director Experience - Nationality Mix,Index,Ticker,Director Experience - Total Number of Private Boards to Date,CompanyID*,Accumulated Wealth - Liquid Wealth,Annual Direct Compensation - Total Inc. D.C. Pension & Other,Annual- Equity Linked Options - Intrinsic Options (unexercisable),Director Experience - Total Number of Quoted Boards to Date,Ratios - %Change from Last Period,Total Wealth - Total Wealth,Country,Annual Direct Compensation - Bonus,Ratios - Performance/ Total,Director Experience - Number of Qualifications,Director Experience - Age (Yrs),Company Name,Annual- Equity Linked Options - Estimated Options (unexcercisable),Annual- Equity Linked Options - Vesting Date,Director Experience - Avg. Yrs on Other Quoted Boards,Characteristics of Roles - Individual Role,Annual Direct Compensation - D.C Pension,Characteristics of Roles - Director Network Size,Director Experience - Total Number of Other Boards to Date,Annual- Equity Linked Options - Estimated Options (exercisable),Annual Direct Compensation - Other,Accumulated Wealth - Shares,Characteristics of Roles - Time to Retirement,Director Count Totals - Number of Independent NED with past CFO/FD role,ISIN,Ratios - Equity Linked/ Total,Characteristics of Roles - Time in Company,Sector,Director Experience - Total Number of Quoted Current Boards,Characteristics of Roles - Time in Role,Director Experience - Gender,inputfilestem,region,mgmt_type,workbook_name,fragment_number,sheet_name,Month,Year,Current Year,Current Month
0,2.0,NaN,Current,NaN,SD,3.2,NaN,NaN,NaN,NaN,Robert (Bob) Archie Jennings,NaN,NaN,NaN,NaN,13237186434,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,2.0,9811997164,188.0,0.0,NaN,2.0,NaN,188.0,Jersey,NaN,NaN,2.0,66.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,6.1,Independent NED,NaN,1617,NaN,NaN,NaN,188.0,4.0,0.0,JE00BF5FX167,NaN,3.2,Investment Companies,2.0,3.2,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Mar,2021,2021,Mar
1,0.0,NaN,Current,NaN,SD,1.2,NaN,NaN,NaN,NaN,Samantha (Sam) Jane Hoe-Richardson,NaN,2.0,NaN,NaN,13534906790,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,4.0,9811997164,5.0,0.0,NaN,2.0,NaN,5.0,Jersey,NaN,NaN,2.0,50.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,8.2,Independent NED,NaN,1486,NaN,NaN,NaN,5.0,19.8,0.0,JE00BF5FX167,NaN,1.2,Investment Companies,2.0,1.2,F,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Mar,2021,2021,Mar
2,1.0,NaN,Current,NaN,SD,8.0,NaN,NaN,NaN,NaN,Paul A Masterton,NaN,3.0,NaN,NaN,13584596849,NaN,NaN,0.0,NaN,NaN,FTSE 250,3IN,5.0,9811997164,100.0,0.0,NaN,1.0,NaN,100.0,Jersey,NaN,NaN,3.0,NaN,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,0.0,Senior Independent NED,NaN,1509,NaN,NaN,NaN,100.0,NaN,0.0,JE00BF5FX167,NaN,8.0,Investment Companies,1.0,4.3,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Mar,2021,2021,Mar
3,NaN,NaN,Current,NaN,SD,6.9,NaN,NaN,NaN,NaN,Ian Matthew Lobley,NaN,4.0,NaN,NaN,13665216944,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,20.0,9811997164,NaN,0.0,NaN,1.0,NaN,NaN,Jersey,NaN,NaN,1.0,58.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,0.0,NED,NaN,1129,NaN,NaN,NaN,NaN,11.8,0.0,JE00BF5FX167,NaN,6.9,Investment Companies,1.0,6.9,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Mar,2021,2021,Mar
4,1.0,NaN,Current,NaN,SD,6.3,NaN,NaN,NaN,NaN,James (Doug) Douglas Bannister,NaN,NaN,NaN,NaN,15379548720,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,2.0,9811997164,68.0,0.0,NaN,1.0,NaN,68.0,Jersey,NaN,NaN,0.0,56.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,0.0,Independent NED,NaN,64,NaN,NaN,NaN,68.0,13.8,0.0,JE00BF5FX167,NaN,6.3,Investment Companies,1.0,6.3,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Mar,2021,2021,Mar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1318550,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,Campbell Hair,NaN,NaN,NaN,NaN,13637986908,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Global HR Director,NaN,235,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN,Jun,2016,2017,Dec
1318551,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,James (Jim) Anthony Sadler,NaN,NaN,NaN,NaN,13638046908,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Group Chief Information Officer,NaN,387,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN,Jun,2016,2017,Dec
1318552,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,Christopher (Chris) Mark Fussell,NaN,NaN,NaN,NaN,15966479256,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,General Counsel/Company Secretary,NaN,136,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN,Jun,2016,2017,Dec
1318553,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,Alok Kumar Sinha,NaN,NaN,NaN,NaN,15966489256,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Division President/CEO,NaN,268,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN,Jun,2016,2017,Dec
1318554,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,David Brooks,NaN,NaN,NaN,NaN,52969512547,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Global Sales Director,NaN,831,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN,Jun,2016,2017,Dec

# Additional 1: Get CEO/CFO variables

In [11]:
# Add indicator variables for whether role is CEO or CFO
df['CEO'] = df['Characteristics of Roles - Individual Role'].str.contains(r'^(CEO|CEO/.*)$', case=True, regex=True)
df['CFO'] = df['Characteristics of Roles - Individual Role'].str.contains(r'^(CFO|CFO/.*)$', case=True, regex=True)
# View strings tagged as CEO or CFO
print('CEO roles:', df[df['CEO'] == True]['Characteristics of Roles - Individual Role'].unique())
print('CFO roles:', df[df['CFO'] == True]['Characteristics of Roles - Individual Role'].unique())
# Get number of directors who have been CEOs or CFOs
print('Number of CEOs:', df[df['CEO'] == True]['DirectorID*'].nunique())
print('Number of CFOs:', df[df['CFO'] == True]['DirectorID*'].nunique())

C:\Users\jasonjia\AppData\Local\Temp\ipykernel_10356\1641893263.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df['CEO'] = df['Characteristics of Roles - Individual Role'].str.contains(r'^(CEO|CEO/.*)$', case=True, regex=True)
C:\Users\jasonjia\AppData\Local\Temp\ipykernel_10356\1641893263.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df['CFO'] = df['Characteristics of Roles - Individual Role'].str.contains(r'^(CFO|CFO/.*)$', case=True, regex=True)

CEO roles: ['CEO/MD' 'CEO' 'CEO/MD/General Manager' 'CEO/General Manager' 'CEO/COO'
 'CEO/CFO' 'CEO/Chief Commercial Officer' 'CEO/Acting CFO'
 'CEO/Division MD' 'CEO/Division President' 'CEO/CFO/COO'
 'CEO/Interim CFO' 'CEO/Interim Chief Human Resource Officer'
 'CEO/Interim COO' 'CEO/MD/COO' 'CEO/Interim General Counsel'
 'CEO/Chief Industrial Assets Officer' 'CEO/Interim Head of Division'
 'CEO/Co-COO' 'CEO/CIO' 'CEO/Division Head' 'CEO/Treasurer'
 'CEO/General Counsel/Secretary' 'CEO/Managing Partner'
 'CEO/Chief Investment Officer' 'CEO/Acting Chairman'
 'CEO/Regional President' 'CEO/Co-Chief Investment Officer'
 'CEO/Secretary' 'CEO/Chief Diversity Officer'
 'CEO/Chief Restructuring Officer' 'CEO/CTO' 'CEO/Chief Science Officer'
 'CEO/Acting Regional President' 'CEO/Medical Director'
 'CEO/Director - IR' 'CEO/Deputy CEO'
 'CEO/Interim Chief Business Development & Mktg Officer'
 'CEO/Interim Chief Planning and Business Development Officer'
 'CEO/Interim Director - IR' 'CEO/Acting COO'
 'CEO/Chief Logistics Officer' 'CEO/Chief Investor Relations Officer'
 'CEO/Chief Equity Officer'
 'CEO/Interim Chief Business Development Officer'
 'CEO/Chief Business Development Officer'
 'CEO/Interim Chief Information Officer' 'CEO/Division Director'
 'CEO/Chief Creative Officer' 'CEO/Regional COO'
 'CEO/Senior MD/Chief Investment Officer' 'CEO/Company Secretary'
 'CEO/Division Interim MD' 'CEO/FD']
CFO roles: ['CFO' 'CFO/Compliance Officer' 'CFO/Division Senior VP'
 'CFO/VP - Finance' 'CFO/Executive VP - Finance' 'CFO/Deputy CEO'
 'CFO/Regional CEO' 'CFO/CTO' 'CFO/Interim CEO'
 'CFO/Chief Administration Officer' 'CFO/Division Head'
 'CFO/Chief Administrative Officer' 'CFO/Secretary'
 'CFO/Corporate Secretary' 'CFO/Chief Legal Officer'
 'CFO/Division President' 'CFO/Director - Finance'
 'CFO/Corporate Development Director' 'CFO/Principal Financial Officer'
 'CFO/Chief Information Officer' 'CFO/Labour Director'
 'CFO/Company Secretary' 'CFO/Chief Risk Officer' 'CFO/Controller'
 'CFO/Head of Strategy' 'CFO/Chief Human Resources Officer'
 'CFO/Division CEO' 'CFO/Interim Chief Risk Officer'
 'CFO/Head of Division' 'CFO/Chief Performance Officer' 'CFO/Treasurer'
 'CFO/FD' 'CFO/Interim Division CEO' 'CFO/Senior VP - Finance'
 'CFO/Administrative Officer' 'CFO/Head of Treasury' 'CFO/Partner'
 'CFO/Head of Investor Relations' 'CFO/Division MD'
 'CFO/Chief Compliance Officer' 'CFO/Chief Economist'
 'CFO/Investor Relations Officer' 'CFO/Director - Ops'
 'CFO/Chief International and Business Development Officer'
 'CFO/Investor Relations Manager' 'CFO/Deputy General Manager'
 'CFO/Head of Internal Audit' 'CFO/Chief Corporate Center Officer'
 'CFO/Chief Accounting Officer' 'CFO/Division Executive VP'
 'CFO/Assistant General Manager' 'CFO/Regional Chairman'
 'CFO/Chief Corporate Officer' 'CFO/Principal Accounting Officer'
 'CFO/Secretary/Treasurer' 'CFO/Chief Accounting Officer/Secretary'
 'CFO/Chief Accounting Officer/Treasurer' 'CFO/Assistant Secretary'
 'CFO/Regional President' 'CFO/Chief Compliance Officer/Company Secretary'
 'CFO/Interim COO' 'CFO/Chief Administrative Officer/Treasurer'
 'CFO/COO/Treasurer/Assistant Secretary' 'CFO/Assistant Treasurer'
 'CFO/Chief Marketing Officer' 'CFO/Treasurer/Assistant Secretary'
 'CFO/Chief Investment Officer/Secretary' 'CFO/Principal'
 'CFO/Chief Business Officer/Treasurer' 'CFO/Chief Investment Officer'
 'CFO/Chief Compliance Officer/Secretary' 'CFO/General Counsel/Secretary'
 'CFO/Corporate Secretary/Treasurer' 'CFO/Treasurer/Interim Co-CEO'
 'CFO/Interim President/CEO' 'CFO/Chief Administrative Officer/Secretary'
 'CFO/Regional COO' 'CFO/Principal Accounting Officer/Secretary'
 'CFO/Co-Chief Administrative Officer'
 'CFO/Chief Accounting Officer/Controller' 'CFO/Interim Co-CEO'
 'CFO/Chief Legal Officer/Treasurer'
 'CFO/Chief Compliance Officer/Secretary/Treasurer'
 'CFO/Chief Information Officer/Secretary' 'CFO/Chief Development Officer'
 'CFO/Chief Strategy Officer' 'CFO/General Counsel'
 'CFO/Secretary/Treasurer/Controller' 'CFO/Controller/Treasurer'
 'CFO/Secretary/Interim CEO' 'CFO/Head of Business Development'
 'CFO/Chief Accounting Officer/Secretary/Controller'
 'CFO/Chief Accounting Officer/Treasurer/Secretary'
 'CFO/Alternate Secretary' 'CFO/Executive General Manager'
 'CFO/Joint Company Secretary'
 'CFO/Chief Risk Officer/Chief Sustainability Officer'
 'CFO/Chief Information Officer/Chief Compliance Officer/Treasurer'
 'CFO/Division Director' 'CFO/Director - IR'
 'CFO/Corporate Financial Controller' 'CFO/Investor Relations Director'
 'CFO/Chief Investor Relation Officer' 'CFO/Chief General Manager'
 'CFO/Interim President' 'CFO/Associate Director' 'CFO/Assistant MD'
 'CFO/Senior Managing Executive Officer (Representative Director)'
 'CFO/GFD' 'CFO/Chief Commercial Officer' 'CFO/CIO'
 'CFO/Senior Managing Executive Officer' 'CFO/Interim Company Secretary'
 'CFO/Chief Administrative Officer/Chief Investor Relations Officer'
 'CFO/Commercial Director' 'CFO/Joint President' 'CFO/Deputy MD'
 'CFO/Chief Sustainability Officer' 'CFO/Corporate Development Officer']
Number of CEOs: 2635
Number of CFOs: 3576

## Check if there is only one CEO and CFO per (company, year)
- We see that there are a few (company, years) with 2 CEOs and/or 2 CFOs. During aggregation, we use 'first' to take the first one.

In [12]:
# Check if there is only one CEO and CFO per (company, year)
ceo_cfo_count_check = df.groupby(['Year', 'CompanyID*'])[['CEO','CFO']].sum().reset_index()
ceo_cfo_count_check

       Year   CompanyID*  CEO  CFO
0      2002       270810    0    0
1      2002       493378    0    0
2      2002       497536    0    1
3      2002      7012097    0    1
4      2002      7168536    0    0
...     ...          ...  ...  ...
45167  2022   3584311110    0    0
45168  2022   3675911726    0    1
45169  2022  25422208584    0    1
45170  2022  52870312476    0    0
45171  2022  92941811658    1    0

[45172 rows x 4 columns]

In [13]:
ceo_cfo_count_check['CEO'].value_counts()

0    34238
1    10903
2       31
Name: CEO, dtype: int64

In [14]:
ceo_cfo_count_check['CFO'].value_counts()

0    29845
1    15257
2       70
Name: CFO, dtype: int64

In [15]:
ceo_cfo_count_check[ceo_cfo_count_check['CFO'] == 2]

       Year    CompanyID*  CEO  CFO
344    2002     197897833    0    2
382    2002     211648958    0    2
622    2002     391122365    0    2
766    2002     434558155    1    2
790    2002     686011336    0    2
1637   2003     211648958    0    2
2015   2003     410745679    0    2
2114   2003     434558155    1    2
3065   2004     183266447    1    2
3570   2004     410745679    0    2
4376   2005      23353083    0    2
4455   2005      50064759    1    2
4867   2005     211648958    0    2
5076   2005     319818145    0    2
5528   2005    1109612440    1    2
5595   2005    2269910103    0    2
6074   2005    8696156100    0    2
6304   2006      50064759    1    2
6719   2006     211648958    0    2
6895   2006     312257455    0    2
7362   2006     982017652    0    2
7384   2006    1109612440    0    2
7994   2006    9717456034    1    2
8138   2007       9474880    1    2
8680   2007     211648958    0    2
8925   2007     326108682    0    2
9370   2007    1109612440    1    2
10043  2007    9717456034    1    2
10837  2008     211648958    0    2
11135  2008     338369661    0    2
11433  2008     679910999    0    2
11530  2008    1109612440    1    2
11555  2008    1239312476    0    2
12212  2008    9704805873    0    2
12576  2009      32067521    0    2
13656  2009     679910999    0    2
14605  2009   14439387791    0    2
16273  2010    3471810323    0    2
16896  2010   14439387791    0    2
19106  2011    9658835229    0    2
19481  2011   92941811658    0    2
19544  2011  172919210390    0    2
19955  2012     138633691    0    2
19956  2012     138643712    0    2
22062  2012  172919210390    0    2
22198  2012  197998512296    0    2
24282  2013   11134223009    0    2
24659  2013  172919210390    0    2
25194  2014     138633691    0    2
26017  2014     837812691    1    2
27119  2014   22004134380    1    2
28168  2015     272481426    1    2
28721  2015     837812691    1    2
28786  2015    1094811598    0    2
30412  2016      28785060    0    2
31410  2016     553311913    1    2
31462  2016     837812691    1    2
31525  2016    1094811598    0    2
32012  2016    6400981319    1    2
34145  2017     553311913    1    2
34258  2017    1094811598    0    2
34880  2017    8790097220    1    2
35171  2017   16718449914    1    2
35276  2017   22278684838    0    2
36983  2018    1094811598    0    2
37811  2018   13175946359    1    2
37874  2018   16718449914    1    2
40754  2019   26040789164    0    2
41676  2020     195337608    1    2
42944  2020    9723136113    1    2

In [16]:
df[(df['CFO']) & (df['Year'] == 2020) & (df['CompanyID*'] == 9723136113)]

,Ratios - Wealth Delta,Total - Total Annual Compensation,Annual Report Year,Annual- Equity Linked Options - Intrinsic Options (excercisable),Director Type,Characteristics of Roles - Time on Board,Accumulated Wealth - LTIPS(max),Ratios - Bonus/ (Bonus&Salary),Annual- Equity Linked Options - Total Equity Linked Compensation,Annual- Equity Linked Options - Share Price,Individual Name,Annual- Equity Linked Options - LTIPS(max),Director Experience - Total Number of Private Current Boards,Annual Direct Compensation - Salary,Director Experience - Total Number of Other Current Boards,DirectorID*,Accumulated Wealth - Intrinsic Option,Accumulated Wealth - Estimated Option,Annual Direct Compensation - Total Salary+Bonus,Annual- Equity Linked Options - Shares,Director Experience - Nationality Mix,Index,Ticker,Director Experience - Total Number of Private Boards to Date,CompanyID*,Accumulated Wealth - Liquid Wealth,Annual Direct Compensation - Total Inc. D.C. Pension & Other,Annual- Equity Linked Options - Intrinsic Options (unexercisable),Director Experience - Total Number of Quoted Boards to Date,Ratios - %Change from Last Period,Total Wealth - Total Wealth,Country,Annual Direct Compensation - Bonus,Ratios - Performance/ Total,Director Experience - Number of Qualifications,Director Experience - Age (Yrs),Company Name,Annual- Equity Linked Options - Estimated Options (unexcercisable),Annual- Equity Linked Options - Vesting Date,Director Experience - Avg. Yrs on Other Quoted Boards,Characteristics of Roles - Individual Role,Annual Direct Compensation - D.C Pension,Characteristics of Roles - Director Network Size,Director Experience - Total Number of Other Boards to Date,Annual- Equity Linked Options - Estimated Options (exercisable),Annual Direct Compensation - Other,Accumulated Wealth - Shares,Characteristics of Roles - Time to Retirement,Director Count Totals - Number of Independent NED with past CFO/FD role,ISIN,Ratios - Equity Linked/ Total,Characteristics of Roles - Time in Company,Sector,Director Experience - Total Number of Quoted Current Boards,Characteristics of Roles - Time in Role,Director Experience - Gender,inputfilestem,region,mgmt_type,workbook_name,fragment_number,sheet_name,Month,Year,Current Year,Current Month,CEO,CFO
1120816,NaN,NaN,Current,NaN,ED,1.0,NaN,NaN,NaN,NaN,Richard Jacques Dumas,NaN,NaN,NaN,NaN,23820456908,NaN,NaN,NaN,NaN,NaN,BOVESPA,EGIE3,NaN,9723136113,NaN,NaN,NaN,1.0,NaN,NaN,Brazil,NaN,NaN,3.0,50.0,ENGIE BRASIL ENERGIA SA (Tractebel Energia SA ...,NaN,NaN,0.0,CFO,NaN,665,NaN,NaN,NaN,NaN,14.8,1.0,BREGIEACNOR9,NaN,5.3,Electricity,1.0,1.2,M,ROW - Board Summary - 1,ROW,Director,Board Summary,1.0,NaN,Dec,2020,2020,Dec,False,True
1120916,NaN,NaN,Current,NaN,SM,NaN,NaN,NaN,NaN,NaN,Marcelo Cardoso Malta,NaN,NaN,NaN,NaN,12002824706,NaN,NaN,NaN,NaN,NaN,BOVESPA,EGIE3,NaN,9723136113,NaN,NaN,NaN,NaN,NaN,NaN,Brazil,NaN,NaN,NaN,NaN,ENGIE BRASIL ENERGIA SA (Tractebel Energia SA ...,NaN,NaN,NaN,CFO,NaN,70,NaN,NaN,NaN,NaN,NaN,NaN,BREGIEACNOR9,NaN,NaN,Electricity,NaN,NaN,NaN,ROW - SMDEs Org Summary - 2,ROW,SMDE,SMDEs Org Summary,2.0,NaN,Dec,2020,2020,Dec,False,True

# Additional 2: Get educational achievements of board members and CEO/CFOs

## We eventually want the following indicator variables:
- Bachelors
- Masters
- MBA
- PhD
- % of all board members with bachelor's
- % of all board members with master's
- % of all board members with MBA
- % of all board members with PhD

For now, we ignore qualification date, so if someone got a Masters in 2020, we flag masters = 1 for all observations, even for those where he/she was an executive before 2020.

In [17]:
# Read in education file
df_education = pd.read_csv('Profile - Education & Achievements.csv', low_memory=False)
df_education = df_education[df_education['sheet_name'] == 'Education']
colstokeep = ['Institution Name', 'InstitutionID*', 'Qualification', 'Country', 'DirectorID*']
df_education = df_education[colstokeep]
# Remove rows with NA values for Qualification
df_education = df_education[~df_education['Qualification'].isna()]
df_education

,Institution Name,InstitutionID*,Qualification,Country,DirectorID*
35760,Universiteit Leiden (University of Leiden),4.670011e+09,Masters Degree,Netherlands,206397712886
35761,SIOO,6.302261e+10,Masters Degree,Netherlands,25356448525
35762,Johns Hopkins University,7.338939e+08,MA,United States,51690811635
35763,University of South Florida (USF),7.519864e+08,BA,United States,51690811635
35764,De Haagse Hogeschool (The Hague University),1.395159e+10,Bachelor's Degree,Netherlands,13726047014
...,...,...,...,...,...
2629545,Geological Society of London (UK),6.102061e+10,Chartered Geologist,United Kingdom - England,5482944327
2629546,Imperial College London (The Imperial College ...,7.567670e+08,Diploma,United Kingdom - England,5482944327
2629547,Imperial College London (The Imperial College ...,7.567670e+08,MSc,United Kingdom - England,5482944327
2629548,Institute of Materials Minerals and Mining (IOM3),7.615274e+08,Fellow,United Kingdom - England,5482944327
2629549,University of Wroclaw,9.597034e+09,MSc,Poland,5482944327

## Identify Bachelors, Masters, MBA and PhD degrees

In [18]:
# Add indicator variables for whether degree is Bachelors, Masters, MBA or PhD
df_education['Bachelors'] = df_education['Qualification'].str.contains(r'^(BA.*|BS.*|AB.*|LLB.*|Bachelor.*|.*Graduated.*|Degree.*|B.*)$', case=True, regex=True)
df_education['Masters'] = df_education['Qualification'].str.contains(r'^(MS.*|MSc.*|MPhil.*|MA.*|MEng.*|JD.*|MPA.*|.*MBA.*|.*Master.*Business Administration.*|Master.*)$', case=True, regex=True)
df_education['MBA'] = df_education['Qualification'].str.contains('MBA|Master.*Business Administration', case=True, regex=True)
df_education['PhD'] = df_education['Qualification'].str.contains('PhD', case=True, regex=True)
df_education

C:\Users\jasonjia\AppData\Local\Temp\ipykernel_10356\1044042464.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_education['Bachelors'] = df_education['Qualification'].str.contains(r'^(BA.*|BS.*|AB.*|LLB.*|Bachelor.*|.*Graduated.*|Degree.*|B.*)$', case=True, regex=True)
C:\Users\jasonjia\AppData\Local\Temp\ipykernel_10356\1044042464.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_education['Masters'] = df_education['Qualification'].str.contains(r'^(MS.*|MSc.*|MPhil.*|MA.*|MEng.*|JD.*|MPA.*|.*MBA.*|.*Master.*Business Administration.*|Master.*)$', case=True, regex=True)

,Institution Name,InstitutionID*,Qualification,Country,DirectorID*,Bachelors,Masters,MBA,PhD
35760,Universiteit Leiden (University of Leiden),4.670011e+09,Masters Degree,Netherlands,206397712886,False,True,False,False
35761,SIOO,6.302261e+10,Masters Degree,Netherlands,25356448525,False,True,False,False
35762,Johns Hopkins University,7.338939e+08,MA,United States,51690811635,False,True,False,False
35763,University of South Florida (USF),7.519864e+08,BA,United States,51690811635,True,False,False,False
35764,De Haagse Hogeschool (The Hague University),1.395159e+10,Bachelor's Degree,Netherlands,13726047014,True,False,False,False
...,...,...,...,...,...,...,...,...,...
2629545,Geological Society of London (UK),6.102061e+10,Chartered Geologist,United Kingdom - England,5482944327,False,False,False,False
2629546,Imperial College London (The Imperial College ...,7.567670e+08,Diploma,United Kingdom - England,5482944327,False,False,False,False
2629547,Imperial College London (The Imperial College ...,7.567670e+08,MSc,United Kingdom - England,5482944327,False,True,False,False
2629548,Institute of Materials Minerals and Mining (IOM3),7.615274e+08,Fellow,United Kingdom - England,5482944327,False,False,False,False
2629549,University of Wroclaw,9.597034e+09,MSc,Poland,5482944327,False,True,False,False

### Check regex to see that it's working as intended

In [19]:
df_education_check = df_education[['Qualification', 'MBA', 'PhD', 'Bachelors', 'Masters']]
# MBA is a Masters' program. But a Bachelor's is not a Masters, etc. So we look at the sum of booleans for each row to check if our regex patterns are correct.
df_education_check['sum'] = df_education_check[['MBA', 'PhD', 'Bachelors', 'Masters']].sum(axis=1)
df_education_check

C:\Users\jasonjia\AppData\Local\Temp\ipykernel_10356\366615561.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_education_check['sum'] = df_education_check[['MBA', 'PhD', 'Bachelors', 'Masters']].sum(axis=1)

               Qualification    MBA    PhD  Bachelors  Masters  sum
35760         Masters Degree  False  False      False     True    1
35761         Masters Degree  False  False      False     True    1
35762                     MA  False  False      False     True    1
35763                     BA  False  False       True    False    1
35764      Bachelor's Degree  False  False       True    False    1
...                      ...    ...    ...        ...      ...  ...
2629545  Chartered Geologist  False  False      False    False    0
2629546              Diploma  False  False      False    False    0
2629547                  MSc  False  False      False     True    1
2629548               Fellow  False  False      False    False    0
2629549                  MSc  False  False      False     True    1

[1817761 rows x 6 columns]

In [20]:
# Check those not classified as any degree
df_education_check[df_education_check['sum'] == 0]['Qualification'].unique()[:100]

array(['Executive Education Program', 'Advanced Management Program',
       'LLM', 'CPA', 'Registered Accountant (RA)', 'Studied',
       'Chartered Accountant', 'Completed',
       'International Baccalaureate (IB)', 'Executive Leadership Program',
       'MEc', "CEMS Master's in International Management (CEMS MIM)",
       'Attended', 'Diploma', 'Chartered Financial Analyst',
       'Certified Public Accountant', 'Electronical Engineering',
       'Senior Management Program', 'Management Development Program',
       'Associate', 'Certified', 'AMP', 'CFA', 'Dipl.-kfm',
       'Executive Management Program', 'Postgraduate Studies',
       'General Management Program', 'Leadership Program',
       'Executive Program', 'Training Program', 'Doctor of Law',
       'Postgraduate Degree', 'CA', 'Dipl Kfm',
       "DESS (Diplôme d'études supérieures spécialisées)", 'Dipl Ing',
       'Doctorate', 'Senior Executive Program', 'Chartered Engineer',
       'Fellow', 'Lic oec', 'Graduate Diploma', 'Chartered Director',
       'Post Graduate Diploma', 'FCA', 'Executive Training Program',
       'Certificate', 'Certified Director', 'DEA',
       'Strategic Sales Force Design', 'Doctor of Economics',
       'Leadership and Management Program',
       'Chartered Certified Accountant', 'Post Baccalaureate Degree',
       'Post Graduate Training', 'Certified Practising Accountant', 'MFA',
       'Advanced Management Development Program (AMDP',
       'Post Graduate Diploma in Management (PGDM)', 'Advanced Degree',
       'PEng', 'Specialist Degree', 'PharmD',
       'Chartered Mechanical Engineer', 'Certified General Accountant',
       'Chartered Professional',
       'Certified Information Systems Auditor (CISA)',
       'Certified Information Systems Security Professional (CISSP)',
       'ACA', 'Trustee Diploma', 'Chartered Tax Advisor',
       'Chartered Surveyor', 'Doctor of Jurisprudence',
       'Chartered Management Accountant', 'Chartered Banker',
       'Chartered Insurer (CI)', 'Doctorate (Hons)',
       'Management Advancement Programme',
       'Corporate Finance Evening Programme',
       'Certified Technician (CTech)', 'MBSc',
       'Certified Real Estate Brokerage Manager (CRB)',
       'Diploma in International Financial Reporting Standards (DipIFR)',
       'LLD', 'General Manager Programme', 'Certified Associate', 'SB',
       'Management Training Program', 'Global Leadership Programme',
       'Registered Principal', 'Certified Accountant',
       'Certificate in Corporate Governance (IDP-C)',
       'AMP Program(Advanced Management Program)',
       'Postgraduate Certificate (PGCert)', 'Executive Course',
       'Apprenticeship', 'Doctor of Medicine (DM)', 'Doctor of Science',
       'DPhil', 'LLD (Hons)'], dtype=object)

In [21]:
# Check that no qualification belongs to more than 2 categories
df_education_check['sum'].value_counts()

1    1139019
0     482259
2     196483
Name: sum, dtype: int64

In [22]:
# Check classifications
print("Not classified as any degree:", df_education_check[df_education_check['sum'] == 0]['Qualification'].unique())
print("Bachelors:", df_education_check[df_education_check['Bachelors'] == True]['Qualification'].unique())
print("Masters:", df_education_check[df_education_check['Masters'] == True]['Qualification'].unique())
print("MBA:", df_education_check[df_education_check['MBA'] == True]['Qualification'].unique())
print("PhD:", df_education_check[df_education_check['PhD'] == True]['Qualification'].unique())

Not classified as any degree: ['Executive Education Program' 'Advanced Management Program' 'LLM' ...
 'Certificate in International Treasury Management (CertITM)'
 'Certificate in Relationship Management (CertRM)'
 'Modern European Studies']
Bachelors: ['BA' "Bachelor's Degree" 'Graduated' 'BSc' 'Degree'
 'Bachelor of Administration (B.Admin) (Hons)' 'AB' 'LLB' 'BSBA'
 'BSc (Hons)' 'BBA' 'BComm' 'BA (Hons)' 'BCom' 'BE' 'BEng' 'BS'
 'BA (magna cum laude)' 'Graduated (magna cum laude)' 'BSc (Distinction)'
 'BTech' 'BS (summa Cum Laude)' 'Graduated (Hons)' 'Baccalaureate'
 "Bachelor's Degree (magna cum laude)" 'BS (Hons)' 'BCom (Hons)' 'BSEE'
 'BS (magna Cum Laude)' 'BSc (magna cum laude)' 'BA (Cum Laude)'
 'LLB (Hons)' 'Degree (Hons)' 'BBA (summa cum laude)'
 'Graduated (cum laude)' 'Degree (summa cum laude)' 'BEng (Hons)'
 'BComm (Hons)' 'BA (summa cum laude)' 'BTech (Hons)'
 'BBS (Bachelor of Business Studies)' 'BEd'
 "Bachelor's Degree (cum laude)" 'BSc (summa cum laude)'
 "Bachelor's Degree (Hons)" 'Business Management Program'
 'Graduated (summa cum laude)' 'BSc (cum laude)' 'BE (magna cum laude)'
 'BS (cum laude)' 'BSE' 'Business Executive Course' 'BSBA (Hons)'
 'AB (cum laude)' 'AB (magna cum laude)' 'BCL' 'BSIE' 'AB (Hons)'
 'BSc (Eng)' 'Barrister' 'BS (Distinction)' 'Graduated (Distinction)'
 'BPharm' 'Post Graduated (Hons)' 'BCompt (Hons)'
 'Bachelor of Science in Foreign Service (BSFS)' 'BPharm (Hons)' 'BASc'
 'Bachelor of Business Science (BBusSci)'
 'Bachelor of Administration Degree (B.Admin)'
 'Bachelor of Social Sciences (BSocSc)' 'LLB (Cum Laude)'
 'BS (Phi Beta Kappa)' 'BA (Distinction)' 'BBA (Distinction)'
 'Degree (maxima cum laude)' 'BAS (Bachelor of Arts and Science)'
 'BBA (magna cum laude)' 'BEcon (Hons)' 'Bachelor of Business (BB)'
 'BE (Hons)' 'Bachelor of Education' 'BSME' 'BCom (Distinction)'
 'AB (Summa Cum Laude)' 'Bachelor of Social Science (BSocSc) (Hons)' 'BEc'
 "Bachelor's Degree (summa cum laude)" 'BBA (Hons)' 'BSBA (cum laude)'
 'Bbus (Bachelor of Business)' 'LLB (magna cum laude)'
 'BSBA (summa cum laude)' 'B.Proc' 'Bachelor of Jurisprudence'
 'Bachelor of Applied Science (BAS)' 'Bar Vocational Course (BVC)'
 'Bachelor of Theology (BTh)' 'B Acc(Hons)' 'BEcon' 'BSE (cum laude)'
 'BEc (Hons)' 'BVSC' 'Bachelor of Technology' 'BBS (Hons)'
 'BSE (summa cum laude)' 'BAppSc (Bachelor of Applied Science)'
 'BAppSc (Hons)' 'Bachelor Procurationis (Bproc)' 'BA (Phi Beta Kappa)'
 'BM' 'BMBCh' 'Board Certified Physicians'
 'Board Certified Diplomate (BCD)' 'BCh (Bachelor of Surgery)'
 'LLB (Distinction)' 'AB Degree' 'BSSc' 'BBA (Cum Laude)'
 'Bbus (Bachelor of Business) (Hons)'
 'Bachelor of Business and Legal Studies (BBLS) (Hons)'
 "Bachelor's Degree (Distinction)"
 'Bachelor of Information Technology (BIT)' 'BASc (cum laude)' 'BPhil'
 'BSE (Hons)' 'BSBA (magna cum laude)' 'B Arch'
 'Brevet de technicien supérieur (BTS)' 'BCA'
 'Bachelor of Agricultural Economics (BAgEc)'
 'Bachelor of Medical Sciences (BMS)' 'BCA (Hons)' 'BSE (magna cum laude)'
 'BMS (Bachelor of Management Studies) (Hons)' 'BEng (Distinction)'
 'BCom (cum laude)' 'Bachelor of Engineering Science (BESc)'
 'Bachelor of General Studies (BGS)'
 'Bachelor of Agricultural Science (BAgrSc)' 'AB (High Hons)'
 'Bachelor of Accounting Science (BCompt)'
 'Degree in Social Host (Dipl.-Sozialwirt)'
 'Board Leadership Certificate (BLC)' 'BCL (magna cum laude)'
 'Bachelor of Medicine Bachelor of Surgery (BMBS)' 'Degree (Joint Hons)'
 'Bachelor of Business Science (Hons)' 'Business Mediator (CVM)'
 'Baccalaureus in Arte Ingeniaria (BAI)'
 'BSocSc (Bachelor of Social Sciences)' 'BME'
 'Degree of Dissertation (Cum Laude)' 'BSIM' 'LLB (summa cum laude)'
 'BVSc (Hons)' 'BASc (Hons)' 'BFA' 'Bachelor of Music (BM) (Hons)'
 'Bachelor of Science in Business (BSB)' 'BEd (Hons)'
 'Bachelor of Computer Science' 'Bachelor of Science in Journalism (BSJ)'
 'BTEC' 'BSEE (magna cum laude)' 'BEngTech' 'BSocSc (Hons)'
 'Degree in Historical Science' 'Baccalaureate Diploma (Summa Cum Laude)'
 'AB (Distinction)' 'Baccalaureus Procurationis (BProc)'
 'Bachelor of Fine Arts (BFA) (magna cum laude)'
 'Bachelor of Applied Arts and Sciences' 'BBM'
 'BFA (Bachelors of Fine Arts Program) (Hons)'
 'Business Service Management (BSM) (Cum laude)' 'BMath (Hon)'
 'BSRN(Cum Laude)' 'BASc (summa cum laude)'
 'Bachelor of Science in Foreign Service (BSFS) (cum laude)' 'BMath'
 'Bachelor of Industrial Administration (BIA)'
 'Bachelor of Dental Surgery (BDS)' 'Bachelor of Liberal Arts (BLA)'
 'B.Math (Hons)' 'BFA (Bachelors of Fine Arts Program)' 'BSEE (Hons)'
 'BAS (cum laude)' 'BSME (magna cum laude)' 'BJ'
 'Business Advisor Program (BAP)'
 'Business Valuator Accredited in Litigation (BVAL)'
 'Bachelor of Fine Arts (BFA)' 'Bachelor of Applied Arts (BAA)'
 'Bachelor of Science in Foreign Service (BSFS) (magna cum laude)'
 'Bachelor of Science and Education' 'BSBA (Distinction)'
 'Bachelor of Science in Nursing (BSN)'
 'Bachelor of Science in Management (BSM)'
 'Bachelor of Commerce and Administration (BCA)'
 'Black Studies Certificate' 'AB (Phi Beta Kappa)' 'BE (summa cum laude)'
 'Bachelor of Social Work (BSW)' 'BAS (Hons)' 'Bachelor of Divinity (BD)'
 'BPhil (summa cum laude)'
 'Bachelor of Veterinary Medicine and Surgery (BVMS)' 'BSc (Tech)'
 'Bachelor of Medical Sciences (BMS) (Hon)' 'BCom (magna cum laude)'
 'B.Acc' 'BCL (Distinction)'
 'Bachelor of Science in Electrical Engineering Technology (BSEET)'
 'BSEE (summa cum laude)' 'BSME (Hons)' 'Bachelor of Jurisprudence (Hons)'
 'BCL (Hons)' 'Birthing of Giants Entrepreneurial Program'
 'Bingham Fellows Program' 'BM (magna cum laude)' 'Bachelor of Music (BM)'
 'BMS (Bachelor of Management Studies)' 'BM (summa cum laude)'
 'Bachelor of Computing (BComp)' 'Bachelor of Design (BDes)'
 'Board Certified Ambulatory Care Pharmacist (BCACP)'
 'BEng (summa cum laude)'
 'Brocade Certified Layer 4-7 Professional (BCLP)' 'BSET'
 'Bachelor of Professional Arts' 'BBM (Hons)'
 'Business Leader Development Program (BLDP)'
 'Bachelor of Applied Studies (BAS)' 'B Iuris'
 'Board Matters and Trends (BMT)' 'Bachelor of General Laws (BGL)'
 'Bachelor of Business (BB) (Hons)' 'Bachelor of Health Sciences (BHSc)'
 'Board Nomination and Compensation Program (BNCP)' 'B Acc'
 'Bachelor of Business Education (BEE)'
 'Bachelor of Technology (cum laude)' 'Bachelor of Medicine (Distinction)'
 'BMedSc (Hons)' 'Bachelor of Hebrew Literature (BHL)' 'B Arch (Hons)'
 'Boards that Make a Difference (BMD)'
 'Bachelor of Professional Leadership (BPL)'
 'Business Management Course (BMC)' 'Business Service Management (BSM)'
 'Bachelor of Business in Property' 'BPhil (Hons)'
 'Bachelor of Professional Studies (BPS)' 'Bachelor of Statistics (BStat)'
 'Board Finance Program' 'Bachelor of Environmental Studies'
 'BAS (magna cum laude)' 'Business Consultancy Studies Course'
 'Bachelor of Curationis (BCur)'
 'Boardroom Success through Financing & Investment (BFI)' 'BE (cum laude)'
 'Business Coach Programme'
 'Bachelor of Information and Communication Technology (BICT)'
 'Baccalaureus in Arte Obstetricia (BAO)'
 'Bachelor of Business and Legal Studies (BBLS)'
 'Bachelor degree in Law and French (BCLF)'
 'Bachelor of Occupational Therapy (BOT)'
 'Bachelor of Applied Economics (BApplEcon)' 'BSEE (cum laude)'
 'Bachelor of Communications' "Business Professional's Course (The BPC)"
 'Bachelor of Individualized Studies (BIS)'
 'Bachelor of Science in Foreign Service (BSFS) (Hons)'
 'BChE (Bachelor of Chemical Engineering)'
 'Bachelor of Legal Science (BLS)' 'Bar Leadership Academy (BLA)'
 'Bachelor of Management and Organizational Studies (BMOS)'
 'Business French\xa0'
 'Bachelor of Science in Foreign Service (BSFS) (summa cum laude)'
 'BSc MMORSE' 'Bar Professional Training Course (BPTC)'
 'BASc (magna cum laude)' 'Behavioral Management'
 'Bachelor of Elective Studies (BES)'
 'Bachelor of Science in Business (BSB) (High Distinction)'
 'BMath (Distinction)' 'Bachelor of Management'
 'Bachelor of Music Education (BMEd)' 'BSS (summa cum laude)'
 'Biomechanical Engineering' 'Bachelor of Technology (summa cum laude)'
 'BAS (summa cum laude)' 'Basic Cardiac Life Support (BCLS) Certificate'
 'Board of Certification in Emergency Medicine (BCEM)'
 'Board Certified Environmental Engineer (BCEE)'
 'Bachelor of Landscape Architecture (BLA)' 'BJ (Hons)'
 'Board Certified Behavior Analyst (BCBA)' 'BM (cum laude)'
 'Bachelor of Fine Arts (BFA) (Cum Laude)'
 'Bachelor of Science in Nursing (BSN) (summa cum laude)'
 'Bachelor of Science in Business (BSB) (Hons)'
 'Bachelor in Forge Technique and Equipment' 'Board Certified Coach (BCC)'
 'Bachelor of Science Education'
 'Bachelor of Science and Bachelor of Business (BSBB)'
 'Bachelor of Public Administration (BPA) (Magna Cum Laude)'
 'Business Objects Certified Professional Program (BOCP)' 'BInf'
 'Business strategic Sales Management Program'
 'Bachelor of Applied Finance' 'BInfTech (Hons)'
 'Bachelor of Design (BDes) (Hons)' 'Bachelor of Curationis (BCur) (Hons)'
 'Bachelor of Humanities and Arts (BHA)' 'Board Reporting Program (BRP)'
 'Bachelor of Planning and Design (BPD)' 'BASIS Qualified Adviser']
Masters: ['Masters Degree' 'MA' 'MPA' 'MBA' 'MSc' 'MS'
 'Global Executive MBA (GEMBA)' 'MEng' 'MBA (Distinction)'
 'Masters Degree (cum laude)' 'JD' 'Masters Certificate' 'JD (Cum Laude)'
 'MBA (Hons)' 'Executive MBA'
 'European Master in Multimedia and Audiovisual Business Administration (EMMABA)'
 'MSc (magna cum laude)' 'MPhil' 'MA (Cantab)' 'MBA (Cum Laude)'
 'Master of Economics' 'Masters in Management (MIM)' 'MA (Hons)'
 'MA (summa cum laude)' "Master's Degree (magna cum laude)"
 'International MBA' 'Executive MBA (Hons)' 'Master of Finance (MFin)'
 'JD (magna Cum Laude)' 'Master of Management (MM)' 'MA (cum laude)'
 'Masters Program' 'MBA (High Distinction)' 'MSc (Hons)'
 "Master's Degree (Hons)" 'MSc (cum laude)' 'Professional MBA (PMBA)'
 'MBA (Beta Gamma Sigma)' 'Master of Advanced Studies (MAS)'
 'Executive MBA (cum laude)' 'Master of Business Economics (MBE)'
 'Master of Business Leadership (MBL)' 'Master Mariners Degree'
 'MS (cum laude)' 'MPhil (Distinction)' 'JD (Hons)'
 'Master of Letters (MLitt)' 'MS (Hons)'
 'Executive Masters in Business Administration' 'MSEE' 'MSME'
 'Master of Public Policy (MPP)' 'MA (Oxon)'
 'Master of Computer Applications (MCA)' 'Mini MBA Program'
 'Master in Management of International and Public Affairs (MIPA)'
 'International Executive MBA' 'MBA (summa cum laude)'
 'MEng (Master of Engineering)'
 'Master of Management Information System (MMIS)'
 'Masters Degree (Distinction)' 'MSc (Distinction)'
 'Master of Accountancy (MAcc)' 'MSTCF' 'Master of Jurisprudence (MJ)'
 'Master of Business (MBus)' 'Master of Science (MOS)'
 'Masters Diploma (MDip)' 'MSM (Master of Science in Management)'
 'MS(DECS)' 'Master of Applied Taxation'
 'MSocSc (Master of Social Sciences)'
 'Master of International Management (MIM)'
 'Master of Engineering Science (MES)' 'MS (summa cum laude)'
 'Master of Music (MM)' 'Masters in Business Studies (MBS)' 'MSE'
 'Master of Business Studies (MBS)' 'Master of Financial Management (MFM)'
 'MBA (magna cum laude)' 'MS (magna cum laude)' 'MASc'
 'Master of International Affairs' 'Master of Liberal Arts (MLA)'
 'Master of Science in Business Administration (MSBA)'
 'Master of Taxation' 'Masters (Hons)'
 'Master of Medical Management (MMM)' 'Master of Medicine (MMed)'
 'JD (Distinction)' 'JD (summa Cum Laude)'
 "Master's Degree (summa cum laude)" 'Master of Business Engineering'
 'MSW' 'Master of Applied Science' 'Master Certified Coach (MCC)'
 'MSc (summa cum laude)' 'MEngSc' 'MS (Distinction)' 'MEng (Hons)'
 'MEng (Distinction)' 'Master of Arts in Law and Diplomacy (MALD)'
 'Master of Education' 'Global Executive MBA (Distinction)'
 'Master of International Business (MIB)' 'MA (Distinction)'
 'MPhil (Cum Laude)' 'Masters of International Management'
 'Master Electrician License' 'Advanced MBA'
 'MST (Mathematical Systems Theory)'
 'Master of Health Administration (MHA)'
 'Master of Theological Studies (MTS)' 'Master of Health Science (MHS)'
 'Master of Corporate Real Estate (MCR)'
 'Master of European and International Business Law (MBL)'
 'Master of Professional Accountancy (M.Pr.A.)'
 'Master of Management Development (MMD)' 'Master of Forestry (MF)'
 'MA (magna cum laude)' 'Master of Legal Studies (MLS)' 'MSCF'
 'Master of Management Studies (MMS)' 'Master of Business Taxation (MBT)'
 'MEng (magna cum laude)' 'Master of Arts in Teaching (MAT)'
 'Master of Applied Finance'
 'Master of Science in Program Management (MSPM)'
 'Master of Engineering Management (MEM)' 'Master in Public Policy (MPP)'
 'Micro MBA' 'Masters in Public and Private Management (MPPM)'
 'Masters of Science in Business Administration (MSBA)'
 'International MBA (Hons)'
 'Master of Health Services Administration (MHSA)'
 'Master of Military Art and Science (MMAS)'
 'Master of Science in Civil Engineering (MSCE)' 'MSIE'
 'Master of Arts in Religion (MAR)'
 'Master of Environmental Management (MEM)'
 'Masters of Health Services Administration (MHSA)'
 'Master of Governmental Administration (MGA)'
 'Master of Library and Information Sciences (MLIS)'
 'Master of Theological Studies (Summa Cum Laude)'
 'Masters of Social Work (MWS)'
 'Master of Science in Administration (MSA)'
 'Master Automotive Aftermarket Professional (MAAP)'
 'Master of Science in Public Health (MSPH)'
 'Master of Science in Nursing (MSN)' 'Master of Journalism'
 'Master Fellow' 'Master of Business Management (MBM)'
 'Master of Medical Science (MMS)' 'MPhil (honors)'
 'Master Requirements Planning (MRP)'
 'Master of City and Regional Planning (MCRP)'
 'Master of Science in Education (MS Ed)' 'Master of Theology (ThM)'
 'Master in City Planning (MCP)' 'Master in Environmental Studies (MES)'
 'Master of Studies in Environmental Law (MSEL)' 'Master Brewers Program'
 'Master of Environmental Science (MESc)' 'MSEE (summa cum laude)'
 'Master of Social Science Administration (MSSA)'
 'Masters of Enterprise (MEnt)' 'Master of Science in Taxation (MST)'
 'Master of Project Management (MPM)' 'Master of Marine Affairs (MMA)'
 'Master of Veterinary Science (MVSc)'
 'Master Programme in International Business (MPIB)'
 'Master of International Policy and Practice (MIPP)'
 'Master of Arts in Liberal Studies (MALS)'
 'Masters in Public Policy & Administration (MPPA)'
 'Masters in Commercial Property (MICP)'
 'Master of Science in Health Administration (MSHA)'
 'Masters of Theology (ThM)' 'Master in Teaching (MIT)'
 'Master of Applied Positive Psychology (MAPP)'
 'Master of Mathematics (MMath)' 'Executive Micro MBA'
 'Masters of Public Affairs (MPAFF)' 'Masters in Research (MRes)'
 'Master of Design (MDes)' 'Master of Business (MBus) (Hons)'
 'Master of Intellectual Property (MIP)' 'Master of Chirurgical (MCh)'
 'Master of Surgery (MS)' 'Master of Criminology (MCrim)'
 'Master Class for Directors' 'Master of Dental Surgery (MDS)'
 'Master of the Science of Law (JSM)' 'Master of Planning (MPL)'
 'Master of Arts in Indigenous Governance (MAIG)'
 'Master of Public Management (MPM)'
 'Master of Public Policy and Management (MPPM)'
 'Master of Christian Studies (MCS)'
 'Masters of Associated Medical Sciences (MAMS)' 'Global MBA'
 'Masters in Administration' 'JD-MBA Degree' 'MAPA'
 'Master of Justice Administration (MJA)' 'Master of Accounting Sciences'
 'Master of Accounting Management Professional (MAMP)'
 'Master of Industrial and Labor Relations (MILR)'
 'Master of International Development Policy (MIDP)'
 'Master in Business Finance (MBF)' 'DipMBA (Distinction)'
 'Master of Labour Relations and Human Resources (MLRHR)'
 'Master of Science in Organizational Dynamics (MSOD)'
 'Master of Arts Management (MAMG)' 'Global MBA (Hons)'
 'Masters in Legal Advisory' 'Masters in Tax Advisory'
 'Master of Ship Operations' 'Master of Professional Writing (MPW)'
 'Global Executive MBA (Summa Cum Laude)'
 'Master of European Governance and Administration (MEGA)'
 'Master of Human Relations (MHR)'
 'Master of Drug Regulatory Affairs (MDRA)'
 'Master of Management in Hospitality (MMH)'
 'Master of Science in Journalism (MSJ)'
 'Master of Infrastructure Planning and Management (MIPM)'
 'Master Analyst In Financial Forensics (MAFF)'
 'Master of Human Resources and Industrial Relations (MHRIR)'
 'Master of Studies in Law (MSL)'
 'Masters of Science in Accountancy (MSA) (Hons)' 'JD (Valedictorian)'
 'Masters of Information Systems (MSIS)'
 'Master of Marine Management (MMM)'
 'Master of Science in Organization Development (MSOD)'
 'Master of Physiotherapy (MPT)'
 'Master Certificate in Project Management'
 'Master Certified Business Appraiser (MCBA)'
 'Master of Theological Studies (Hons)'
 'Master of Public and International Affairs (MPIA)'
 'Master Advertising Specialist (MAS)'
 'Masters of Science in Executive Leadership (MSEL)' 'MSEE (Hons)'
 'Master of Preventive Veterinary Medicine(MPVM)'
 'Master of International Public Policy (MIPP)'
 'Master of Fitness Sciences (MFS)' 'Master Sommelier (MS)'
 'MSEE (magna cum laude)' 'MSEE (cum laude)'
 'Master of Theological Studies (magna cum laude)'
 'Master of Studies in Sustainability Leadership'
 'Master Of Corporate Secretaryship (MCS)'
 'Master of Science in Real Estate Development (MSRED)'
 'Master of Divinity (M.Div)' 'Master of Environmental Design (MEDes)'
 'Master of Public Service and Administration (MPSA)'
 'Master of Industrial Relations (MIR)'
 'Master of Science in Managing Information Technology (MSMIT)'
 'Executive MBA (Suma Cum Laude)' 'Master of Resource Management (MRM)'
 'Mastering Management Skills (Certified Manager)' 'Accelerated MBA'
 'Master of Arts in Christian Ministry (MACM)'
 'Master Teacher of Interior Alignment' 'Master Property Manager (MPM)'
 'Master of Community Planning (MCP)'
 'Masters of Organization Development'
 'Commonwealth Executive MBA (CeMBA)'
 'Master of Administration Management (MAP)'
 'Master of Financial Technical Analysis (MFTA)'
 'Master of Training and Education (MEdT)'
 'Master of Learning Management (MLM)']
MBA: ['MBA' 'Global Executive MBA (GEMBA)' 'MBA (Distinction)' 'MBA (Hons)'
 'Executive MBA'
 'European Master in Multimedia and Audiovisual Business Administration (EMMABA)'
 'MBA (Cum Laude)' 'International MBA' 'Executive MBA (Hons)'
 'MBA (High Distinction)' 'Professional MBA (PMBA)'
 'MBA (Beta Gamma Sigma)' 'Executive MBA (cum laude)'
 'Executive Masters in Business Administration' 'Mini MBA Program'
 'International Executive MBA' 'MBA (summa cum laude)'
 'MBA (magna cum laude)'
 'Master of Science in Business Administration (MSBA)'
 'Global Executive MBA (Distinction)' 'Advanced MBA' 'Micro MBA'
 'Masters of Science in Business Administration (MSBA)'
 'International MBA (Hons)' 'Executive Micro MBA' 'Global MBA'
 'JD-MBA Degree' 'DipMBA (Distinction)' 'Global MBA (Hons)'
 'Global Executive MBA (Summa Cum Laude)' 'Executive MBA (Suma Cum Laude)'
 'Accelerated MBA' 'Commonwealth Executive MBA (CeMBA)']
PhD: ['PhD' 'PhD (cum laude)' 'PhD (Hons)' 'PhD (summa cum laude)'
 'PhD (Magna Cum Laude)' 'PhD (Distinction)']

In [23]:
df_education['Qualification'].value_counts().iloc[:100]

MBA                                177582
BA                                 147811
BS                                 144399
Graduated                           98197
JD                                  72975
Bachelor's Degree                   69589
Masters Degree                      60462
PhD                                 54337
Studied                             47300
Degree                              43932
MS                                  42928
Certified Public Accountant         39082
BSc                                 39050
Certified                           35313
MSc                                 32574
MA                                  31037
Chartered Accountant                27658
Attended                            26705
BBA                                 26329
Diploma                             24464
BA (Hons)                           22767
LLB                                 22452
LLM                                 17338
BCom                                15065
JD (Cum Laude)                      14307
BSc (Hons)                          13185
Fellow                              12992
CPA                                 12434
BA (magna cum laude)                 9959
MD                                   9829
Executive MBA                        9658
BA (Cum Laude)                       9504
BE                                   9477
Certificate                          8790
Chartered Financial Analyst          8243
JD (magna Cum Laude)                 8032
Completed                            7720
AB                                   7526
Doctorate                            7180
Postgraduate Degree                  7035
BS (Hons)                            6573
BA (summa cum laude)                 6564
JD (Hons)                            6441
Post Graduate Diploma                6415
LLB (Hons)                           6090
Advanced Management Program          6017
Executive Program                    5026
CA                                   4971
BSBA                                 4827
CFA                                  4476
BS (magna Cum Laude)                 4330
Associate                            3962
Graduate Diploma                     3928
BComm                                3916
BS (cum laude)                       3893
PEng                                 3634
BTech                                3628
BS (summa Cum Laude)                 3625
BCom (Hons)                          3387
Bachelor's Degree (Hons)             3383
BEng                                 3369
MBA (Distinction)                    3335
MBA (Hons)                           3271
Executive Education Program          3205
BSEE                                 2887
Postgraduate Studies                 2834
Degree (Hons)                        2791
Training Program                     2768
Graduated (Hons)                     2624
BA (Distinction)                     2553
MPA                                  2535
MA (Hons)                            2298
Executive Development Program        2273
JD (summa Cum Laude)                 2143
MPhil                                2111
Chartered Engineer                   2097
MEng                                 2026
Executive Management Program         1971
ACA                                  1910
Certified Management Accountant      1903
AB (magna cum laude)                 1882
Post Doctoral Fellowship             1815
Leadership Program                   1758
Legal Practice Course (LPC)          1682
Bbus (Bachelor of Business)          1648
BBA (Hons)                           1587
ME                                   1562
Associate Degree                     1545
Post Doctoral Studies                1543
Postdoctoral Fellow                  1538
BE (Hons)                            1532
BEng (Hons)                          1532
AB (cum laude)                       1509
Chartered Management Accountant      1484
Certified Internal Auditor           1447
MSEE                                 1398
BS (Distinction)                     1393
BSE                                  1340
Chartered Certified Accountant       1296
BASc                                 1295
Name: Qualification, dtype: int64

## Get Bachelors, Masters, MBA and PhD 'indicator' variables, defined by whether the director has at least one of the corresponding degrees

In [24]:
# For each director, get whether he/she has at least one Bachelors, Masters, MBA and PhD degree.
df_education_has_degree = df_education.groupby('DirectorID*')[['Bachelors', 'Masters', 'MBA', 'PhD']].sum()
df_education_has_degree = df_education_has_degree.applymap(lambda x: 0 if x == 0 else 1)
df_education_has_degree = df_education_has_degree.reset_index()
df_education_has_degree

         DirectorID*  Bachelors  Masters  MBA  PhD
0               1680          1        0    0    0
1               3040          0        0    0    0
2               4890          1        0    0    0
3               6000          1        1    0    0
4              14010          1        1    1    0
...              ...        ...      ...  ...  ...
742574  207075512928          1        0    0    0
742575  207075612928          1        0    0    0
742576  207076212928          0        0    0    0
742577  207076712928          1        0    0    0
742578  207076812928          1        0    0    0

[742579 rows x 5 columns]

## Get the highest ranked degree for each director

In [25]:
# Assign rank to degrees, so that we can select the highest ranked degree later
def get_rank(row):
    if row['PhD'] == True:
        return 4
    elif row['MBA'] == True:
        return 3
    elif row['Masters'] == True:
        return 2
    elif row['Bachelors'] == True:
        return 1
    else:
        return 0

In [26]:
# For CEO/CFO, we choose the highest ranked degree in the order of: PhD > MBA > Masters > Bachelors > Nothing
df_education['rank'] = df_education.apply(lambda row: get_rank(row), axis=1)
df_education

,Institution Name,InstitutionID*,Qualification,Country,DirectorID*,Bachelors,Masters,MBA,PhD,rank
35760,Universiteit Leiden (University of Leiden),4.670011e+09,Masters Degree,Netherlands,206397712886,False,True,False,False,2
35761,SIOO,6.302261e+10,Masters Degree,Netherlands,25356448525,False,True,False,False,2
35762,Johns Hopkins University,7.338939e+08,MA,United States,51690811635,False,True,False,False,2
35763,University of South Florida (USF),7.519864e+08,BA,United States,51690811635,True,False,False,False,1
35764,De Haagse Hogeschool (The Hague University),1.395159e+10,Bachelor's Degree,Netherlands,13726047014,True,False,False,False,1
...,...,...,...,...,...,...,...,...,...,...
2629545,Geological Society of London (UK),6.102061e+10,Chartered Geologist,United Kingdom - England,5482944327,False,False,False,False,0
2629546,Imperial College London (The Imperial College ...,7.567670e+08,Diploma,United Kingdom - England,5482944327,False,False,False,False,0
2629547,Imperial College London (The Imperial College ...,7.567670e+08,MSc,United Kingdom - England,5482944327,False,True,False,False,2
2629548,Institute of Materials Minerals and Mining (IOM3),7.615274e+08,Fellow,United Kingdom - England,5482944327,False,False,False,False,0
2629549,University of Wroclaw,9.597034e+09,MSc,Poland,5482944327,False,True,False,False,2

In [27]:
# Get the highest degree rank for each director
df_education_rank = df_education.groupby('DirectorID*')['rank'].max().reset_index()
df_education_rank

         DirectorID*  rank
0               1680     1
1               3040     0
2               4890     1
3               6000     2
4              14010     3
...              ...   ...
742574  207075512928     1
742575  207075612928     1
742576  207076212928     0
742577  207076712928     1
742578  207076812928     1

[742579 rows x 2 columns]

In [28]:
# Get the first degree of that rank for each director (because some directors have e.g. multiple Masters degrees)
df_education_highest_degree = df_education.merge(df_education_rank, on=['DirectorID*', 'rank'], how='inner').sort_values('DirectorID*')
df_education_highest_degree

,Institution Name,InstitutionID*,Qualification,Country,DirectorID*,Bachelors,Masters,MBA,PhD,rank
380668,Unknown Organisation,3.780000e+02,LLB,Unknown,1680,True,False,False,False,1
387503,Institute of Chartered Accountants of Scotland...,7.812792e+08,Fellow,United Kingdom - Scotland,3040,False,False,False,False,0
39991,Università degli Studi di Roma La Sapienza (La...,7.523565e+08,Degree,Italy,4890,True,False,False,False,1
30279,Sciences Po (Institut d'Etudes Politiques de P...,7.564669e+08,Masters Degree,France,6000,False,True,False,False,2
100007,University of Chicago Booth School of Business...,1.400243e+10,MBA,United States,14010,False,True,True,False,3
...,...,...,...,...,...,...,...,...,...,...
605033,Ben-Gurion University of the Negev,7.242715e+08,BSc,Israel,207075512928,True,False,False,False,1
908212,University of Cape Town (UCT),5.299564e+08,BCom,South Africa,207075612928,True,False,False,False,1
321572,University of Western Australia,7.533466e+08,Management Education Programme,Australia,207076212928,False,False,False,False,0
867444,University of Salford,7.517064e+08,Degree (Hons),United Kingdom - England,207076712928,True,False,False,False,1
800824,Miami University Ohio,7.366444e+08,Degree,United States,207076812928,True,False,False,False,1

In [29]:
df_education_highest_degree = df_education_highest_degree.groupby('DirectorID*').first().reset_index()
df_education_highest_degree

,DirectorID*,Institution Name,InstitutionID*,Qualification,Country,Bachelors,Masters,MBA,PhD,rank
0,1680,Unknown Organisation,3.780000e+02,LLB,Unknown,True,False,False,False,1
1,3040,Institute of Chartered Accountants of Scotland...,7.812792e+08,Fellow,United Kingdom - Scotland,False,False,False,False,0
2,4890,Università degli Studi di Roma La Sapienza (La...,7.523565e+08,Degree,Italy,True,False,False,False,1
3,6000,Sciences Po (Institut d'Etudes Politiques de P...,7.564669e+08,Masters Degree,France,False,True,False,False,2
4,14010,University of Chicago Booth School of Business...,1.400243e+10,MBA,United States,False,True,True,False,3
...,...,...,...,...,...,...,...,...,...,...
742574,207075512928,Ben-Gurion University of the Negev,7.242715e+08,BSc,Israel,True,False,False,False,1
742575,207075612928,University of Cape Town (UCT),5.299564e+08,BCom,South Africa,True,False,False,False,1
742576,207076212928,University of Western Australia,7.533466e+08,Management Education Programme,Australia,False,False,False,False,0
742577,207076712928,University of Salford,7.517064e+08,Degree (Hons),United Kingdom - England,True,False,False,False,1
742578,207076812928,Miami University Ohio,7.366444e+08,Degree,United States,True,False,False,False,1

In [30]:
# Keep desired variables and rename them
df_education_highest_degree = df_education_highest_degree[['DirectorID*', 'Institution Name', 'InstitutionID*', 'Qualification', 'Country']]
df_education_highest_degree.columns = ['DirectorID*', 'Highest Ranked Degree - Institution Name', 'Highest Ranked Degree - InstitutionID*', 'Highest Ranked Degree - Qualification', 'Highest Ranked Degree - Country']
df_education_highest_degree

,DirectorID*,Highest Ranked Degree - Institution Name,Highest Ranked Degree - InstitutionID*,Highest Ranked Degree - Qualification,Highest Ranked Degree - Country
0,1680,Unknown Organisation,3.780000e+02,LLB,Unknown
1,3040,Institute of Chartered Accountants of Scotland...,7.812792e+08,Fellow,United Kingdom - Scotland
2,4890,Università degli Studi di Roma La Sapienza (La...,7.523565e+08,Degree,Italy
3,6000,Sciences Po (Institut d'Etudes Politiques de P...,7.564669e+08,Masters Degree,France
4,14010,University of Chicago Booth School of Business...,1.400243e+10,MBA,United States
...,...,...,...,...,...
742574,207075512928,Ben-Gurion University of the Negev,7.242715e+08,BSc,Israel
742575,207075612928,University of Cape Town (UCT),5.299564e+08,BCom,South Africa
742576,207076212928,University of Western Australia,7.533466e+08,Management Education Programme,Australia
742577,207076712928,University of Salford,7.517064e+08,Degree (Hons),United Kingdom - England
742578,207076812928,Miami University Ohio,7.366444e+08,Degree,United States

## Merge additional education variables with df

In [31]:
# Merge with df
df_education_groupby = df_education_has_degree.merge(df_education_highest_degree, on='DirectorID*', how='inner')
df_education_groupby

,DirectorID*,Bachelors,Masters,MBA,PhD,Highest Ranked Degree - Institution Name,Highest Ranked Degree - InstitutionID*,Highest Ranked Degree - Qualification,Highest Ranked Degree - Country
0,1680,1,0,0,0,Unknown Organisation,3.780000e+02,LLB,Unknown
1,3040,0,0,0,0,Institute of Chartered Accountants of Scotland...,7.812792e+08,Fellow,United Kingdom - Scotland
2,4890,1,0,0,0,Università degli Studi di Roma La Sapienza (La...,7.523565e+08,Degree,Italy
3,6000,1,1,0,0,Sciences Po (Institut d'Etudes Politiques de P...,7.564669e+08,Masters Degree,France
4,14010,1,1,1,0,University of Chicago Booth School of Business...,1.400243e+10,MBA,United States
...,...,...,...,...,...,...,...,...,...
742574,207075512928,1,0,0,0,Ben-Gurion University of the Negev,7.242715e+08,BSc,Israel
742575,207075612928,1,0,0,0,University of Cape Town (UCT),5.299564e+08,BCom,South Africa
742576,207076212928,0,0,0,0,University of Western Australia,7.533466e+08,Management Education Programme,Australia
742577,207076712928,1,0,0,0,University of Salford,7.517064e+08,Degree (Hons),United Kingdom - England
742578,207076812928,1,0,0,0,Miami University Ohio,7.366444e+08,Degree,United States

In [32]:
df = df.merge(df_education_groupby, on='DirectorID*')
df

,Ratios - Wealth Delta,Total - Total Annual Compensation,Annual Report Year,Annual- Equity Linked Options - Intrinsic Options (excercisable),Director Type,Characteristics of Roles - Time on Board,Accumulated Wealth - LTIPS(max),Ratios - Bonus/ (Bonus&Salary),Annual- Equity Linked Options - Total Equity Linked Compensation,Annual- Equity Linked Options - Share Price,Individual Name,Annual- Equity Linked Options - LTIPS(max),Director Experience - Total Number of Private Current Boards,Annual Direct Compensation - Salary,Director Experience - Total Number of Other Current Boards,DirectorID*,Accumulated Wealth - Intrinsic Option,Accumulated Wealth - Estimated Option,Annual Direct Compensation - Total Salary+Bonus,Annual- Equity Linked Options - Shares,Director Experience - Nationality Mix,Index,Ticker,Director Experience - Total Number of Private Boards to Date,CompanyID*,Accumulated Wealth - Liquid Wealth,Annual Direct Compensation - Total Inc. D.C. Pension & Other,Annual- Equity Linked Options - Intrinsic Options (unexercisable),Director Experience - Total Number of Quoted Boards to Date,Ratios - %Change from Last Period,Total Wealth - Total Wealth,Country,Annual Direct Compensation - Bonus,Ratios - Performance/ Total,Director Experience - Number of Qualifications,Director Experience - Age (Yrs),Company Name,Annual- Equity Linked Options - Estimated Options (unexcercisable),Annual- Equity Linked Options - Vesting Date,Director Experience - Avg. Yrs on Other Quoted Boards,Characteristics of Roles - Individual Role,Annual Direct Compensation - D.C Pension,Characteristics of Roles - Director Network Size,Director Experience - Total Number of Other Boards to Date,Annual- Equity Linked Options - Estimated Options (exercisable),Annual Direct Compensation - Other,Accumulated Wealth - Shares,Characteristics of Roles - Time to Retirement,Director Count Totals - Number of Independent NED with past CFO/FD role,ISIN,Ratios - Equity Linked/ Total,Characteristics of Roles - Time in Company,Sector,Director Experience - Total Number of Quoted Current Boards,Characteristics of Roles - Time in Role,Director Experience - Gender,inputfilestem,region,mgmt_type,workbook_name,fragment_number,sheet_name,Month,Year,Current Year,Current Month,CEO,CFO,Bachelors,Masters,MBA,PhD,Highest Ranked Degree - Institution Name,Highest Ranked Degree - InstitutionID*,Highest Ranked Degree - Qualification,Highest Ranked Degree - Country
0,2.0,NaN,Current,NaN,SD,3.2,NaN,NaN,NaN,NaN,Robert (Bob) Archie Jennings,NaN,NaN,NaN,NaN,13237186434,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,2.0,9811997164,188.0,0.0,NaN,2.0,NaN,188.0,Jersey,NaN,NaN,2.0,66.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,6.1,Independent NED,NaN,1617,NaN,NaN,NaN,188.0,4.0,0.0,JE00BF5FX167,NaN,3.2,Investment Companies,2.0,3.2,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Mar,2021,2021,Mar,False,False,1,0,0,0,University of Bristol (Formerly known as Unive...,7.767289e+08,Graduated,United Kingdom - England
1,1.0,10.0,Mar 2018,NaN,SD,0.1,NaN,NaN,NaN,NaN,Robert (Bob) Archie Jennings,NaN,1.0,10.0,NaN,13237186434,NaN,NaN,10.0,NaN,British,FTSE 250,3IN,2.0,9811997164,122.0,10.0,NaN,2.0,NaN,122.0,Jersey,NaN,NaN,2.0,62.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,3.1,Independent NED,NaN,1617,NaN,NaN,NaN,122.0,7.1,1.0,JE00BF5FX167,NaN,0.1,Investment Companies,2.0,0.1,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Mar,2018,2021,Mar,False,False,1,0,0,0,University of Bristol (Formerly known as Unive...,7.767289e+08,Graduated,United Kingdom - England
2,2.0,63.0,Mar 2019,NaN,SD,1.1,NaN,NaN,NaN,NaN,Robert (Bob) Archie Jennings,NaN,1.0,63.0,NaN,13237186434,NaN,NaN,63.0,NaN,British,FTSE 250,3IN,2.0,9811997164,192.0,63.0,NaN,2.0,500.00,192.0,Jersey,NaN,NaN,2.0,63.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,4.1,Independent NED,NaN,1617,NaN,NaN,NaN,192.0,6.1,1.0,JE00BF5FX167,NaN,1.1,Investment Companies,2.0,1.1,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Mar,2019,2021,Mar,False,False,1,0,0,0,University of Bristol (Formerly known as Unive...,7.767289e+08,Graduated,United Kingdom - England
3,2.0,52.0,Mar 2020,NaN,SD,2.1,NaN,NaN,NaN,NaN,Robert (Bob) Archie Jennings,NaN,NaN,52.0,NaN,13237186434,NaN,NaN,52.0,NaN,British,FTSE 250,3IN,2.0,9811997164,153.0,52.0,NaN,2.0,-14.81,153.0,Jersey,NaN,NaN,2.0,64.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,5.1,Independent NED,NaN,1617,NaN,NaN,NaN,153.0,5.1,0.0,JE00BF5FX167,NaN,2.1,Investment Companies,2.0,2.1,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Mar,2020,2021,Mar,False,False,1,0,0,0,University of Bristol (Formerly known as Unive...,7.767289e+08,Graduated,United Kingdom - England
4,0.0,NaN,Current,NaN,SD,1.2,NaN,NaN,NaN,NaN,Samantha (Sam) Jane Hoe-Richardson,NaN,2.0,NaN,NaN,13534906790,NaN,NaN,0.0,NaN,British,FTSE 250,3IN,4.0,9811997164,5.0,0.0,NaN,2.0,NaN,5.0,Jersey,NaN,NaN,2.0,50.0,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,NaN,8.2,Independent NED,NaN,1486,NaN,NaN,NaN,5.0,19.8,0.0,JE00BF5FX167,NaN,1.2,Investment Companies,2.0,1.2,F,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN,Mar,2021,2021,Mar,False,False,0,1,0,0,University of Cambridge,7.255420e+08,Masters Degree,United Kingdom - England
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114514,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,David Brooks,NaN,NaN,NaN,NaN,52969512547,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Global Sales Director,NaN,831,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN,Jun,2016,2017,Dec,False,False,0,1,1,0,Warwick Business School,5.623394e+08,MBA,United Kingdom - England
1114515,NaN,NaN,Dec 2014,NaN,SM,NaN,NaN,NaN,NaN,NaN,Chirag Rashmi Shah,NaN,NaN,NaN,NaN,13696136979,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Division ED,NaN,2520,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN,Dec,2014,2017,Dec,False,False,0,1,1,0,Institut Europeen d'Administration des Affaire...,7.297631e+08,MBA,France
1114516,NaN,NaN,Dec 2014,NaN,SM,NaN,NaN,NaN,NaN,NaN,Daniel (Dan) Roehrs,NaN,NaN,NaN,NaN,13888827198,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Senior VP - Global Sales,NaN,266,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN,Dec,2014,2017,Dec,False,False,0,0,0,0,Community College of the Air Force (CCAF),7.067831e+10,Attended,United States
1114517,NaN,NaN,Dec 2014,NaN,SM,NaN,NaN,NaN,NaN,NaN,Alok Kumar Sinha,NaN,NaN,NaN,NaN,15966489256,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Division President/CEO,NaN,268,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN,Dec,2014,2017,Dec,False,False,1,1,1,0,XLRI Jamshedpur School of Business & Human Res...,1.350382e+10,MBA,India
1114518,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,Alok Kumar Sinha,NaN,NaN,NaN,NaN,15966489256,NaN,NaN,NaN,NaN,NaN,NaN,XCH,NaN,8113811537,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom - England,NaN,NaN,NaN,NaN,XCHANGING PLC (De-listed 06/2016),NaN,NaN,NaN,Division President/CEO,NaN,268,NaN,NaN,NaN,NaN,NaN,NaN,GB00B1VK7X76,NaN,NaN,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN,Jun,2016,2017,Dec,False,False,1,1,1,0,XLRI Jamshedpur School of Business & Human Res...,1.350382e+10,MBA,India

# Base: Groupby year and company for applicable variables to get base manager-level dataset

In [33]:
# View columns
df.columns

Index(['Ratios - Wealth Delta', 'Total - Total Annual Compensation',
       'Annual Report Year',
       'Annual- Equity Linked Options - Intrinsic Options (excercisable)',
       'Director Type', 'Characteristics of Roles - Time on Board',
       'Accumulated Wealth - LTIPS(max)', 'Ratios - Bonus/ (Bonus&Salary)',
       'Annual- Equity Linked Options - Total Equity Linked Compensation',
       'Annual- Equity Linked Options - Share Price', 'Individual Name',
       'Annual- Equity Linked Options - LTIPS(max)',
       'Director Experience - Total Number of Private Current Boards',
       'Annual Direct Compensation - Salary',
       'Director Experience - Total Number of Other Current Boards',
       'DirectorID*', 'Accumulated Wealth - Intrinsic Option',
       'Accumulated Wealth - Estimated Option',
       'Annual Direct Compensation - Total Salary+Bonus',
       'Annual- Equity Linked Options - Shares',
       'Director Experience - Nationality Mix', 'Index', 'Ticker',
       'Director Experience - Total Number of Private Boards to Date',
       'CompanyID*', 'Accumulated Wealth - Liquid Wealth',
       'Annual Direct Compensation - Total Inc. D.C. Pension & Other',
       'Annual- Equity Linked Options - Intrinsic Options (unexercisable)',
       'Director Experience - Total Number of Quoted Boards to Date',
       'Ratios - %Change from Last Period', 'Total Wealth - Total Wealth',
       'Country', 'Annual Direct Compensation - Bonus',
       'Ratios - Performance/ Total',
       'Director Experience - Number of Qualifications',
       'Director Experience - Age (Yrs)', 'Company Name',
       'Annual- Equity Linked Options - Estimated Options (unexcercisable)',
       'Annual- Equity Linked Options - Vesting Date',
       'Director Experience - Avg. Yrs on Other Quoted Boards',
       'Characteristics of Roles - Individual Role',
       'Annual Direct Compensation - D.C Pension',
       'Characteristics of Roles - Director Network Size',
       'Director Experience - Total Number of Other Boards to Date',
       'Annual- Equity Linked Options - Estimated Options (exercisable)',
       'Annual Direct Compensation - Other', 'Accumulated Wealth - Shares',
       'Characteristics of Roles - Time to Retirement',
       'Director Count Totals - Number of Independent NED with past CFO/FD role',
       'ISIN', 'Ratios - Equity Linked/ Total',
       'Characteristics of Roles - Time in Company', 'Sector',
       'Director Experience - Total Number of Quoted Current Boards',
       'Characteristics of Roles - Time in Role',
       'Director Experience - Gender', 'inputfilestem', 'region', 'mgmt_type',
       'workbook_name', 'fragment_number', 'sheet_name', 'Month', 'Year',
       'Current Year', 'Current Month', 'CEO', 'CFO', 'Bachelors', 'Masters',
       'MBA', 'PhD', 'Highest Ranked Degree - Institution Name',
       'Highest Ranked Degree - InstitutionID*',
       'Highest Ranked Degree - Qualification',
       'Highest Ranked Degree - Country'],
      dtype='object')

In [34]:
def create_agg_dict(agg_list, function):
    agg_dict = {}
    for var in agg_list:
        agg_dict[var] = function
    return agg_dict

In [35]:
agg_list_first = ['Country', 'ISIN', 'region']
agg_list_mean = ['Characteristics of Roles - Director Network Size', 'Characteristics of Roles - Time to Retirement', 
                 'Characteristics of Roles - Time in Role', 'Characteristics of Roles - Time on Board', 
                 'Characteristics of Roles - Time in Company',
                 'Director Experience - Total Number of Quoted Boards to Date', 'Director Experience - Total Number of Private Boards to Date', 
                 'Director Experience - Total Number of Other Boards to Date', 
                 'Director Experience - Total Number of Quoted Current Boards', 'Director Experience - Total Number of Private Current Boards', 
                 'Director Experience - Total Number of Other Current Boards', 
                 'Director Experience - Avg. Yrs on Other Quoted Boards', 'Director Experience - Age (Yrs)', 
                 'Director Experience - Number of Qualifications',
                 'Ratios - Bonus/ (Bonus&Salary)','Ratios - Equity Linked/ Total', 
                 'Ratios - Performance/ Total', 'Ratios - %Change from Last Period', 'Ratios - Wealth Delta',
                 'Director Count Totals - Number of Independent NED with past CFO/FD role',
                 'Annual Direct Compensation - Salary',  'Annual Direct Compensation - Bonus', 
                 'Annual Direct Compensation - D.C Pension', 'Annual Direct Compensation - Other', 
                 'Annual Direct Compensation - Total Salary+Bonus', 
                 'Annual Direct Compensation - Total Inc. D.C. Pension & Other',
                 'Annual- Equity Linked Options - Shares', 'Annual- Equity Linked Options - LTIPS(max)',
                 'Annual- Equity Linked Options - Intrinsic Options (excercisable)',  
                 'Annual- Equity Linked Options - Intrinsic Options (unexercisable)',
                 'Annual- Equity Linked Options - Estimated Options (unexcercisable)',
                 'Annual- Equity Linked Options - Estimated Options (exercisable)',
                 'Annual- Equity Linked Options - Share Price', 'Annual- Equity Linked Options - Total Equity Linked Compensation', 
                 'Total - Total Annual Compensation',
                 'Accumulated Wealth - Shares', 'Accumulated Wealth - LTIPS(max)', 
                 'Accumulated Wealth - Intrinsic Option', 'Accumulated Wealth - Estimated Option', 
                 'Accumulated Wealth - Liquid Wealth', 
                 'Total Wealth - Total Wealth',
                 'Bachelors', 'Masters',
                 'MBA', 'PhD']
agg_list_list = ['Director Experience - Nationality Mix']

agg_dict_first = create_agg_dict(agg_list_first, 'first')
agg_dict_mean = create_agg_dict(agg_list_mean, 'mean')
# agg_dict_list = create_agg_dict(agg_list_list, list)

agg_dict = {**agg_dict_first, **agg_dict_mean}
# agg_dict = {**agg_dict_first, **agg_dict_mean, **agg_dict_list}
agg_dict = OrderedDict(agg_dict)
agg_dict

OrderedDict([('Country', 'first'),
             ('ISIN', 'first'),
             ('region', 'first'),
             ('Characteristics of Roles - Director Network Size', 'mean'),
             ('Characteristics of Roles - Time to Retirement', 'mean'),
             ('Characteristics of Roles - Time in Role', 'mean'),
             ('Characteristics of Roles - Time on Board', 'mean'),
             ('Characteristics of Roles - Time in Company', 'mean'),
             ('Director Experience - Total Number of Quoted Boards to Date',
              'mean'),
             ('Director Experience - Total Number of Private Boards to Date',
              'mean'),
             ('Director Experience - Total Number of Other Boards to Date',
              'mean'),
             ('Director Experience - Total Number of Quoted Current Boards',
              'mean'),
             ('Director Experience - Total Number of Private Current Boards',
              'mean'),
             ('Director Experience - Total Number of Other Current Boards',
              'mean'),
             ('Director Experience - Avg. Yrs on Other Quoted Boards', 'mean'),
             ('Director Experience - Age (Yrs)', 'mean'),
             ('Director Experience - Number of Qualifications', 'mean'),
             ('Ratios - Bonus/ (Bonus&Salary)', 'mean'),
             ('Ratios - Equity Linked/ Total', 'mean'),
             ('Ratios - Performance/ Total', 'mean'),
             ('Ratios - %Change from Last Period', 'mean'),
             ('Ratios - Wealth Delta', 'mean'),
             ('Director Count Totals - Number of Independent NED with past CFO/FD role',
              'mean'),
             ('Annual Direct Compensation - Salary', 'mean'),
             ('Annual Direct Compensation - Bonus', 'mean'),
             ('Annual Direct Compensation - D.C Pension', 'mean'),
             ('Annual Direct Compensation - Other', 'mean'),
             ('Annual Direct Compensation - Total Salary+Bonus', 'mean'),
             ('Annual Direct Compensation - Total Inc. D.C. Pension & Other',
              'mean'),
             ('Annual- Equity Linked Options - Shares', 'mean'),
             ('Annual- Equity Linked Options - LTIPS(max)', 'mean'),
             ('Annual- Equity Linked Options - Intrinsic Options (excercisable)',
              'mean'),
             ('Annual- Equity Linked Options - Intrinsic Options (unexercisable)',
              'mean'),
             ('Annual- Equity Linked Options - Estimated Options (unexcercisable)',
              'mean'),
             ('Annual- Equity Linked Options - Estimated Options (exercisable)',
              'mean'),
             ('Annual- Equity Linked Options - Share Price', 'mean'),
             ('Annual- Equity Linked Options - Total Equity Linked Compensation',
              'mean'),
             ('Total - Total Annual Compensation', 'mean'),
             ('Accumulated Wealth - Shares', 'mean'),
             ('Accumulated Wealth - LTIPS(max)', 'mean'),
             ('Accumulated Wealth - Intrinsic Option', 'mean'),
             ('Accumulated Wealth - Estimated Option', 'mean'),
             ('Accumulated Wealth - Liquid Wealth', 'mean'),
             ('Total Wealth - Total Wealth', 'mean'),
             ('Bachelors', 'mean'),
             ('Masters', 'mean'),
             ('MBA', 'mean'),
             ('PhD', 'mean')])

In [36]:
# See how many year-months a company has
print(df.groupby(['CompanyID*', 'Company Name', 'Sector'])['Annual Report Year'].nunique().max())
print(df.groupby(['CompanyID*', 'Company Name', 'Sector'])['Year'].nunique().max())
# This means that each company only has 1 year-month a year.
# 2022 - 2002 + 1 = 21

21
21

In [37]:
# Note: CompanyID and CompanyID + Company Name both gave same number of rows
agg_dict_final = dict(list(agg_dict.items())[:]) # subset for debugging
# We aggregate to the year level
df_groupby = df.groupby(['Year', 'CompanyID*', 'Company Name', 'Sector']).agg(agg_dict_final).reset_index()
df_groupby

,Year,CompanyID*,Company Name,Sector,Country,ISIN,region,Characteristics of Roles - Director Network Size,Characteristics of Roles - Time to Retirement,Characteristics of Roles - Time in Role,Characteristics of Roles - Time on Board,Characteristics of Roles - Time in Company,Director Experience - Total Number of Quoted Boards to Date,Director Experience - Total Number of Private Boards to Date,Director Experience - Total Number of Other Boards to Date,Director Experience - Total Number of Quoted Current Boards,Director Experience - Total Number of Private Current Boards,Director Experience - Total Number of Other Current Boards,Director Experience - Avg. Yrs on Other Quoted Boards,Director Experience - Age (Yrs),Director Experience - Number of Qualifications,Ratios - Bonus/ (Bonus&Salary),Ratios - Equity Linked/ Total,Ratios - Performance/ Total,Ratios - %Change from Last Period,Ratios - Wealth Delta,Director Count Totals - Number of Independent NED with past CFO/FD role,Annual Direct Compensation - Salary,Annual Direct Compensation - Bonus,Annual Direct Compensation - D.C Pension,Annual Direct Compensation - Other,Annual Direct Compensation - Total Salary+Bonus,Annual Direct Compensation - Total Inc. D.C. Pension & Other,Annual- Equity Linked Options - Shares,Annual- Equity Linked Options - LTIPS(max),Annual- Equity Linked Options - Intrinsic Options (excercisable),Annual- Equity Linked Options - Intrinsic Options (unexercisable),Annual- Equity Linked Options - Estimated Options (unexcercisable),Annual- Equity Linked Options - Estimated Options (exercisable),Annual- Equity Linked Options - Share Price,Annual- Equity Linked Options - Total Equity Linked Compensation,Total - Total Annual Compensation,Accumulated Wealth - Shares,Accumulated Wealth - LTIPS(max),Accumulated Wealth - Intrinsic Option,Accumulated Wealth - Estimated Option,Accumulated Wealth - Liquid Wealth,Total Wealth - Total Wealth,Bachelors,Masters,MBA,PhD
0,2002,270810,MDU RESOURCES GROUP INC,Utilities - Other,United States,US5526901096,None,654.333333,7.681818,8.225000,10.500000,12.483333,1.600000,4.777778,1.0,1.400000,1.714286,1.0,3.090000,60.363636,2.416667,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.466667,0.200000,0.066667
1,2002,493378,FIRST COMMONWEALTH FINANCIAL CORP PA,Banks,United States,US3198291078,None,406.785714,6.300000,4.766667,9.712500,9.511111,1.125000,8.222222,NaN,1.000000,3.333333,NaN,0.000000,61.000000,1.777778,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.357143,0.214286,0.000000
2,2002,497536,FIRST COMMUNITY BANKSHARES INC (First Communit...,Banks,United States,US31983A1034,None,513.200000,10.700000,7.760000,11.185714,9.800000,1.000000,5.111111,1.0,1.000000,1.777778,1.0,0.000000,56.800000,2.400000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.900000,0.300000,0.000000,0.100000
3,2002,7012097,FIRST INDUSTRIAL REALTY TRUST INC,Real Estate,United States,US32054K1034,None,1720.944444,14.046154,6.061538,7.766667,7.769231,3.000000,4.444444,NaN,1.666667,1.500000,NaN,3.577778,53.076923,1.923077,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.944444,0.555556,0.444444,0.000000
4,2002,7168536,BENCHMARK ELECTRONICS INC,Electronic & Electrical Equipment,United States,US08160H1014,None,605.857143,13.166667,5.483333,10.666667,13.816667,1.200000,2.500000,NaN,1.000000,NaN,NaN,1.833333,53.000000,2.333333,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.857143,0.714286,0.285714,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45162,2022,3584311110,SLEEP NUMBER CORP (Select Comfort Corp prior t...,Household Products,United States,US83125X1037,None,2168.187500,8.140000,8.860000,10.460000,10.940000,2.600000,2.714286,NaN,1.800000,1.250000,NaN,5.080000,61.500000,2.200000,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.500000,0.312500,0.062500
45163,2022,3675911726,SNAP-ON INC,Construction & Building Materials,United States,US8330341012,None,971.500000,1.161538,10.238462,11.160000,13.230769,3.400000,3.166667,NaN,2.000000,1.000000,NaN,7.150000,67.384615,2.230769,NaN,NaN,NaN,NaN,446.846154,4.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14252.769231,2594.0,42831.0,65099.5,25081.230769,36877.538462,0.933333,0.866667,0.766667,0.033333
45164,2022,25422208584,US FOODS HOLDING CORP,Food Producers & Processors,United States,US9120081099,None,3066.388889,9.540000,3.420000,3.940000,3.940000,4.200000,5.000000,1.0,2.500000,2.500000,NaN,3.870000,60.000000,2.100000,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.722222,0.500000,0.055556
45165,2022,52870312476,CARTERS INC,Clothing & Personal Products,United States,US1462291097,None,2366.300000,6.654545,6.581818,8.354545,8.790909,2.454545,4.714286,NaN,1.454545,2.250000,NaN,4.272727,62.909091,2.090909,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.650000,0.500000,0.000000
45166,2022,92941811658,HANESBRANDS INC,Clothing & Personal Products,United States,US4103451021,None,2049.791667,4.363636,5.736364,8.022222,9.190909,4.300000,2.428571,NaN,2.600000,1.750000,NaN,5.310000,64.181818,2.181818,NaN,NaN,NaN,NaN,28.125000,4.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1660.285714,2194.0,696.0,3461.0,1660.285714,2708.125000,0.875000,0.666667,0.291667,0.000000

# Additional 3: Get shares by gender and nationality

In [38]:
# Get shares by gender
df_charac = pd.DataFrame(df.groupby(['CompanyID*', 'Year', 'Director Experience - Gender'])['Director Experience - Gender'].count())
df_charac.columns = ['count']
df_charac = df_charac.reset_index()
df_charac = df_charac.pivot(index=['CompanyID*', 'Year'], columns='Director Experience - Gender', values='count')
df_charac = df_charac.fillna(0)
df_charac['sum'] = df_charac.sum(axis=1)
df_charac['Director Experience - Gender - Share of Males'] = df_charac['M'] / df_charac['sum']
df_charac['Director Experience - Gender - Share of Females'] = df_charac['F'] / df_charac['sum']
df_charac = df_charac.drop(columns=['F', 'M', 'sum'])
df_charac = df_charac.reset_index()
df_charac_gender = df_charac.copy()
df_charac_gender

Director Experience - Gender,CompanyID*,Year,Director Experience - Gender - Share of Males,Director Experience - Gender - Share of Females
0,270810,2002,0.916667,0.083333
1,270810,2003,0.846154,0.153846
2,270810,2004,0.846154,0.153846
3,270810,2005,0.769231,0.230769
4,270810,2006,0.750000,0.250000
...,...,...,...,...
44494,306519112781,2018,0.777778,0.222222
44495,306519112781,2019,0.777778,0.222222
44496,306519112781,2020,0.800000,0.200000
44497,307364612844,2019,0.875000,0.125000
44498,307364612844,2020,0.875000,0.125000

In [39]:
# Get counts by nationality
df_charac = pd.DataFrame(df.groupby(['CompanyID*', 'Year', 'Director Experience - Nationality Mix'])['Director Experience - Nationality Mix'].count())
df_charac.columns = ['count']
df_charac = df_charac.reset_index()
df_charac = df_charac.pivot(index=['CompanyID*', 'Year'], columns='Director Experience - Nationality Mix', values='count')
df_charac = df_charac.fillna(0)

# Get most common nationalities, but return NaN if there is a tie
most_common_nationalities_var_list = ['Director Experience - Nationality Mix - Most Common Nationality']
# , 'Director Experience - Nationality Mix - 2nd Most Common Nationality', 'Director Experience - Nationality Mix - 3rd Most Common Nationality']
df_charac[most_common_nationalities_var_list] = df_charac.apply(lambda row: pd.Series(row.sort_values(ascending=False).index[:1]), axis=1)
# df_charac[most_common_nationalities_var_list] = df_charac.apply(lambda row: pd.Series(row.sort_values(ascending=False).index[:3]), axis=1)

# Get shares by nationality
df_charac['sum'] = df_charac.drop(columns=most_common_nationalities_var_list).sum(axis=1)
for charac in df_charac.columns.drop(['sum'] + most_common_nationalities_var_list):
    df_charac[f'Director Experience - Nationality Mix - Share of {charac}'] = df_charac[charac] / df_charac['sum']
    df_charac = df_charac.drop(columns=[charac])
df_charac = df_charac.drop(columns='sum')

df_charac = df_charac.reset_index()
df_charac_nationality = df_charac.copy()
df_charac_nationality

Director Experience - Nationality Mix,CompanyID*,Year,Director Experience - Nationality Mix - Most Common Nationality,Director Experience - Nationality Mix - Share of Algerian,Director Experience - Nationality Mix - Share of American,Director Experience - Nationality Mix - Share of Angolan,Director Experience - Nationality Mix - Share of Argentine,Director Experience - Nationality Mix - Share of Armenian,Director Experience - Nationality Mix - Share of Australian,Director Experience - Nationality Mix - Share of Austrian,Director Experience - Nationality Mix - Share of Bahraini,Director Experience - Nationality Mix - Share of Barbadian,Director Experience - Nationality Mix - Share of Belarusian,Director Experience - Nationality Mix - Share of Belgian,Director Experience - Nationality Mix - Share of Bermudian,Director Experience - Nationality Mix - Share of Bolivian,Director Experience - Nationality Mix - Share of Bosnian,Director Experience - Nationality Mix - Share of Brazilian,Director Experience - Nationality Mix - Share of British,Director Experience - Nationality Mix - Share of Bulgarian,Director Experience - Nationality Mix - Share of Burkinabe,Director Experience - Nationality Mix - Share of Burmese,Director Experience - Nationality Mix - Share of Canadian,Director Experience - Nationality Mix - Share of Caymanian,Director Experience - Nationality Mix - Share of Chilean,Director Experience - Nationality Mix - Share of Chinese,Director Experience - Nationality Mix - Share of Chinese (Taiwan),Director Experience - Nationality Mix - Share of Colombian,Director Experience - Nationality Mix - Share of Congolese (DR Congo),Director Experience - Nationality Mix - Share of Costa Rican,Director Experience - Nationality Mix - Share of Croatian,Director Experience - Nationality Mix - Share of Cuban,Director Experience - Nationality Mix - Share of Cypriot,Director Experience - Nationality Mix - Share of Czech,Director Experience - Nationality Mix - Share of Danish,Director Experience - Nationality Mix - Share of Dutch,Director Experience - Nationality Mix - Share of Ecuadorian,Director Experience - Nationality Mix - Share of Egyptian,Director Experience - Nationality Mix - Share of Emirian,Director Experience - Nationality Mix - Share of Ethiopian,...,Director Experience - Nationality Mix - Share of Mauritanian,Director Experience - Nationality Mix - Share of Mexican,Director Experience - Nationality Mix - Share of Monacan,Director Experience - Nationality Mix - Share of Moroccan,Director Experience - Nationality Mix - Share of Mozambican,Director Experience - Nationality Mix - Share of New Zealander,Director Experience - Nationality Mix - Share of Nicaraguan,Director Experience - Nationality Mix - Share of Nigerian,Director Experience - Nationality Mix - Share of Norwegian,Director Experience - Nationality Mix - Share of Omani,Director Experience - Nationality Mix - Share of Pakistani,Director Experience - Nationality Mix - Share of Panamanian,Director Experience - Nationality Mix - Share of Peruvian,Director Experience - Nationality Mix - Share of Polish,Director Experience - Nationality Mix - Share of Portuguese,Director Experience - Nationality Mix - Share of Puerto Rican,Director Experience - Nationality Mix - Share of Qatari,Director Experience - Nationality Mix - Share of Romanian,Director Experience - Nationality Mix - Share of Russian,Director Experience - Nationality Mix - Share of Salvadoran,Director Experience - Nationality Mix - Share of Saudi,Director Experience - Nationality Mix - Share of Singaporean,Director Experience - Nationality Mix - Share of Slovak,Director Experience - Nationality Mix - Share of Slovene,Director Experience - Nationality Mix - Share of South African,Director Experience - Nationality Mix - Share of South Korean,Director Experience - Nationality Mix - Share of Spanish,Director Experience - Nationality Mix - Share of Sri Lankan,Director Experience - Nationality Mix - Share of Swedish,Director Experience - Nationality Mix - Share of Swiss,Director Experience - Nationality Mix - Share of Syrian,Director Experience - Nationality Mix - Share of Tanzanian,Director Experience - Nationality Mix - Share of Thai,Director Experience - Nationality Mix - Share of Turkish,Director Experience - Nationality Mix - Share of Ugandan,Director Experience - Nationality Mix - Share of Ukrainian,Director Experience - Nationality Mix - Share of Uruguayan,Director Experience - Nationality Mix - Share of Venezuelan,Director Experience - Nationality Mix - Share of Zambian,Director Experience - Nationality Mix - Share of Zimbabwean
0,270810,2002,American,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,270810,2003,American,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,270810,2004,American,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,270810,2005,American,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,270810,2006,American,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42662,306519112781,2018,American,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42663,306519112781,2019,American,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42664,306519112781,2020,American,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42665,307364612844,2019,American,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42666,307364612844,2020,American,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Additional 4: Get CEO and CFO education variables and compensation ratios

In [40]:
colstokeep_identifiers = ['CompanyID*', 'Year']
colstokeep_variables = ['Ratios - Bonus/ (Bonus&Salary)','Ratios - Equity Linked/ Total', 'Ratios - Performance/ Total', 
                        'Ratios - %Change from Last Period', 'Ratios - Wealth Delta',
                        'Highest Ranked Degree - Institution Name', 'Highest Ranked Degree - InstitutionID*', 
                        'Highest Ranked Degree - Qualification', 'Highest Ranked Degree - Country']

In [41]:
def process_ceo_and_cfo_datasets(df, ceo_or_cfo, colstokeep_identifiers, colstokeep_variables):
    df = df[df[ceo_or_cfo] == True]
    df_groupby = df.groupby(['CompanyID*', 'Year']).first().reset_index()
    df_groupby = df_groupby[colstokeep_identifiers + colstokeep_variables]
    colstokeep_variables_renamed = [ceo_or_cfo + ' - ' + var for var in colstokeep_variables]
    colstokeep_variables_dict = {key: value for key, value in zip(colstokeep_variables, colstokeep_variables_renamed)}
    df_groupby = df_groupby.rename(columns=colstokeep_variables_dict)
    return df_groupby

In [42]:
df_ceo_groupby = process_ceo_and_cfo_datasets(df, 'CEO', colstokeep_identifiers, colstokeep_variables)
df_cfo_groupby = process_ceo_and_cfo_datasets(df, 'CFO', colstokeep_identifiers, colstokeep_variables)
df_ceo_groupby

,CompanyID*,Year,CEO - Ratios - Bonus/ (Bonus&Salary),CEO - Ratios - Equity Linked/ Total,CEO - Ratios - Performance/ Total,CEO - Ratios - %Change from Last Period,CEO - Ratios - Wealth Delta,CEO - Highest Ranked Degree - Institution Name,CEO - Highest Ranked Degree - InstitutionID*,CEO - Highest Ranked Degree - Qualification,CEO - Highest Ranked Degree - Country
0,386710,2019,NaN,NaN,NaN,NaN,NaN,Colorado School of Mines (CSM),727322518.0,BSc,United States
1,386710,2020,NaN,NaN,NaN,NaN,NaN,Colorado School of Mines (CSM),727322518.0,BSc,United States
2,501657,2006,NaN,NaN,NaN,NaN,NaN,University of Colorado,756236896.0,MBA,United States
3,501657,2007,NaN,NaN,NaN,NaN,NaN,University of Colorado,756236896.0,MBA,United States
4,501657,2008,NaN,NaN,NaN,NaN,NaN,University of Colorado,756236896.0,MBA,United States
...,...,...,...,...,...,...,...,...,...,...,...
10294,305214912690,2020,NaN,NaN,NaN,NaN,NaN,Texas Tech University,745125595.0,BSc,United States
10295,305299712697,2017,NaN,NaN,NaN,NaN,NaN,Universitetet i Oslo (University of Oslo),750706282.0,Candidate of Law (Cand Jur),Norway
10296,305299712697,2018,NaN,NaN,NaN,NaN,NaN,Universitetet i Oslo (University of Oslo),750706282.0,Candidate of Law (Cand Jur),Norway
10297,305299712697,2019,NaN,NaN,NaN,NaN,NaN,Uppsala Universitet (Uppsala University),755666837.0,MSc,Sweden
10298,305299712697,2020,NaN,NaN,NaN,NaN,NaN,Uppsala Universitet (Uppsala University),755666837.0,MSc,Sweden

In [43]:
# Combine the ceo and cfo datasets
df_ceo_cfo = df_ceo_groupby.merge(df_cfo_groupby, on=['CompanyID*', 'Year'], how='outer')
df_ceo_cfo

,CompanyID*,Year,CEO - Ratios - Bonus/ (Bonus&Salary),CEO - Ratios - Equity Linked/ Total,CEO - Ratios - Performance/ Total,CEO - Ratios - %Change from Last Period,CEO - Ratios - Wealth Delta,CEO - Highest Ranked Degree - Institution Name,CEO - Highest Ranked Degree - InstitutionID*,CEO - Highest Ranked Degree - Qualification,CEO - Highest Ranked Degree - Country,CFO - Ratios - Bonus/ (Bonus&Salary),CFO - Ratios - Equity Linked/ Total,CFO - Ratios - Performance/ Total,CFO - Ratios - %Change from Last Period,CFO - Ratios - Wealth Delta,CFO - Highest Ranked Degree - Institution Name,CFO - Highest Ranked Degree - InstitutionID*,CFO - Highest Ranked Degree - Qualification,CFO - Highest Ranked Degree - Country
0,386710,2019,NaN,NaN,NaN,NaN,NaN,Colorado School of Mines (CSM),727322518.0,BSc,United States,NaN,NaN,NaN,NaN,NaN,Simon Fraser University,7.428453e+08,BS,Canada
1,386710,2020,NaN,NaN,NaN,NaN,NaN,Colorado School of Mines (CSM),727322518.0,BSc,United States,NaN,NaN,NaN,NaN,NaN,Simon Fraser University,7.428453e+08,BS,Canada
2,501657,2006,NaN,NaN,NaN,NaN,NaN,University of Colorado,756236896.0,MBA,United States,NaN,NaN,NaN,NaN,NaN,St Francis College,1.041421e+10,Graduated,United States
3,501657,2007,NaN,NaN,NaN,NaN,NaN,University of Colorado,756236896.0,MBA,United States,NaN,NaN,NaN,NaN,NaN,St Francis College,1.041421e+10,Graduated,United States
4,501657,2008,NaN,NaN,NaN,NaN,NaN,University of Colorado,756236896.0,MBA,United States,NaN,NaN,NaN,NaN,NaN,St Francis College,1.041421e+10,Graduated,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19177,297608412150,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hofstra University,7.321836e+08,MBA,United States
19178,297608412150,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hofstra University,7.321836e+08,MBA,United States
19179,297608412150,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hofstra University,7.321836e+08,MBA,United States
19180,307364612844,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,University of Texas at Austin (UT Austin),7.527765e+08,Masters Degree,United States
19181,307364612844,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,University of Texas at Austin (UT Austin),7.527765e+08,Masters Degree,United States

# Additional 5: Get Company Details

In [44]:
df_companydetails = pd.read_csv(r"Company Details.csv", low_memory=False)
df_companydetails

,CIK Code,HOAddress2,HOAddress1,Company Name,HOAddress4,Auditors,Latest AR,HO TelNumber,Bankers,Index,Ticker,Market Cap,ISIN,CompanyID*,HO FaxNumber,Sector,HOAddress5,HOCountryName,HO URL,HOAddress3,inputfilestem,region,mgmt_type,workbook_name,fragment_number,sheet_name
0,NaN,Saint Helier,12 Castle Street,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,Deloitte LLP (Deloitte & Touche LLP prior to 1...,Mar 2020,+44 (0)1534 711444,Citibank Europe PLC,FTSE 250,3IN,3040,JE00BF5FX167,9811997164,+44 (0)1534 609333,Investment Companies,JE2 3RT,Jersey,http://www.3i-infrastructure.com/,Channel Islands,Europe - Company Details,Europe,Director,Company Details,NaN,NaN
1,NaN,Aarhus C,Christian Filtenborgs Plads 1,A/S SCHOUW & CO,Midtjylland,Ernst & Young Godkendt Revisionspartnerselskab...,Dec 2020,+45 86 11 22 22,NaN,NaN,SCHO,2321,DK0010253921,3552310896,+45 86 11 33 22,Diversified Industrials,DK-8000,Denmark,https://www.schouw.dk/en/home/,NaN,Europe - Company Details,Europe,Director,Company Details,NaN,NaN
2,NaN,NaN,Via Lamarmora 230,A2A SPA,Brescia,EY SpA (Formerly known as Reconta Ernst & Youn...,Dec 2019,+39 030 35531,NaN,NaN,A2A,4883,IT0001233417,24982801,+39 030 355 3204,Electricity,25124,Italy,https://www.a2a.eu/en,NaN,Europe - Company Details,Europe,Director,Company Details,NaN,NaN
3,NaN,Wiesbaden,Paulinenstrasse 15,AAREAL BANK AG,Hessen,KPMG AG Wirtschaftsprüfungsgesellschaft (Forme...,Dec 2019,+49 611 348 0,NaN,NaN,ARL,1476,DE0005408116,947432828,+49 611 348 25 49,Banks,D-65189,Germany,https://www.aareal-bank.com/en/,NaN,Europe - Company Details,Europe,Director,Company Details,NaN,NaN
4,1091587.0,NaN,Affolternstrasse 44,ABB LTD,Zurich,KPMG AG,Dec 2020,+41 (0)43 317 7111,Citibank NA (Formerly known as First National ...,"OMX Stockholm 30, SMI , Stoxx Europe 50","ABB, ABBN",57423,CH0012221716,14501792,+41 (0)43 317 4420,Engineering & Machinery,CH-8050,Switzerland,https://global.abb/group/en,NaN,Europe - Company Details,Europe,Director,Company Details,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3310,1451554.0,NaN,1 Bedford Avenue,WILLIAM HILL PLC,London,Deloitte LLP (Deloitte & Touche LLP prior to 1...,Dec 2020,+44 (0) 20 8918 3600,NaN,NaN,WMH,2892,GB0031698896,837912719,+44 (0) 20 8918 3775,Leisure & Hotels,WC1B 3AU,United Kingdom - England,https://www.williamhillplc.com/,NaN,UK - Company Details,UK,Director,Company Details,NaN,NaN
3311,NaN,Kennington Park Business Centre,Canterbury Court,WORKSPACE GROUP PLC (London Industrial PLC pri...,London,KPMG LLP,Mar 2020,+44 (0) 20 7138 3300,NatWest Markets PLC (Royal Bank of Scotland PL...,FTSE 250,WKP,1472,GB00B67G5X01,428697608,+44 (0) 20 7247 0157,Real Estate,SW9 6DE,United Kingdom - England,https://www.workspace.co.uk/,1-3 Brixton Road,UK - Company Details,UK,Director,Company Details,NaN,NaN
3312,NaN,25 Walbrook,The Walbrook Building,WORLDPAY GROUP PLC (De-listed 01/2018),London,NaN,Jan 2018,NaN,NaN,NaN,WPG,0,GB00BYYK2V80,24259147400,NaN,Business Services,EC4N 8AF,United Kingdom - England,http://www.worldpay.com/global,NaN,UK - Company Details,UK,Director,Company Details,NaN,NaN
3313,806968.0,18 Upper Ground,Sea Containers,WPP PLC (WPP Group prior to 11/2008),London,Deloitte LLP (Deloitte & Touche LLP prior to 1...,Dec 2019,+44 (0) 20 7408 2204,Citibank NA (Formerly known as First National ...,FTSE 100,WPP,11568,JE00B8KF9B49,429577695,+44 (0) 20 7493 6819,Media & Entertainment,SE1 9GL,United Kingdom - England,https://www.wpp.com/,NaN,UK - Company Details,UK,Director,Company Details,NaN,NaN
3314,NaN,25 Walbrook,The Walbrook Building,XCHANGING PLC (De-listed 06/2016),London,NaN,Jun 2016,+44 (0) 20 7780 6999,NaN,NaN,XCH,0,GB00B1VK7X76,8113811537,+44 (0) 20 7780 6998,Business Services,EC4N 8AQ,United Kingdom - England,http://www.xchanging.com,NaN,UK - Company Details,UK,Director,Company Details,NaN,NaN

In [45]:
df_companydetails.columns

Index(['CIK Code', 'HOAddress2', 'HOAddress1', 'Company Name', 'HOAddress4',
       'Auditors', 'Latest AR', 'HO TelNumber', 'Bankers', 'Index', 'Ticker',
       'Market Cap', 'ISIN', 'CompanyID*', 'HO FaxNumber', 'Sector',
       'HOAddress5', 'HOCountryName', 'HO URL', 'HOAddress3', 'inputfilestem',
       'region', 'mgmt_type', 'workbook_name', 'fragment_number',
       'sheet_name'],
      dtype='object')

In [46]:
df_companydetails = df_companydetails.drop_duplicates(['CompanyID*']).drop(columns=['inputfilestem', 'region', 'mgmt_type', 'workbook_name', 'fragment_number', 'sheet_name'])
df_companydetails.to_csv(r'C:\Users\jasonjia\Dropbox\projects\manager_and_board_characteristics\Board Charac_Jason\output\03_get_firm_and_manager_level_datasets\Company Details.csv', index=False)
df_companydetails

,CIK Code,HOAddress2,HOAddress1,Company Name,HOAddress4,Auditors,Latest AR,HO TelNumber,Bankers,Index,Ticker,Market Cap,ISIN,CompanyID*,HO FaxNumber,Sector,HOAddress5,HOCountryName,HO URL,HOAddress3
0,NaN,Saint Helier,12 Castle Street,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...,NaN,Deloitte LLP (Deloitte & Touche LLP prior to 1...,Mar 2020,+44 (0)1534 711444,Citibank Europe PLC,FTSE 250,3IN,3040,JE00BF5FX167,9811997164,+44 (0)1534 609333,Investment Companies,JE2 3RT,Jersey,http://www.3i-infrastructure.com/,Channel Islands
1,NaN,Aarhus C,Christian Filtenborgs Plads 1,A/S SCHOUW & CO,Midtjylland,Ernst & Young Godkendt Revisionspartnerselskab...,Dec 2020,+45 86 11 22 22,NaN,NaN,SCHO,2321,DK0010253921,3552310896,+45 86 11 33 22,Diversified Industrials,DK-8000,Denmark,https://www.schouw.dk/en/home/,NaN
2,NaN,NaN,Via Lamarmora 230,A2A SPA,Brescia,EY SpA (Formerly known as Reconta Ernst & Youn...,Dec 2019,+39 030 35531,NaN,NaN,A2A,4883,IT0001233417,24982801,+39 030 355 3204,Electricity,25124,Italy,https://www.a2a.eu/en,NaN
3,NaN,Wiesbaden,Paulinenstrasse 15,AAREAL BANK AG,Hessen,KPMG AG Wirtschaftsprüfungsgesellschaft (Forme...,Dec 2019,+49 611 348 0,NaN,NaN,ARL,1476,DE0005408116,947432828,+49 611 348 25 49,Banks,D-65189,Germany,https://www.aareal-bank.com/en/,NaN
4,1091587.0,NaN,Affolternstrasse 44,ABB LTD,Zurich,KPMG AG,Dec 2020,+41 (0)43 317 7111,Citibank NA (Formerly known as First National ...,"OMX Stockholm 30, SMI , Stoxx Europe 50","ABB, ABBN",57423,CH0012221716,14501792,+41 (0)43 317 4420,Engineering & Machinery,CH-8050,Switzerland,https://global.abb/group/en,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3310,1451554.0,NaN,1 Bedford Avenue,WILLIAM HILL PLC,London,Deloitte LLP (Deloitte & Touche LLP prior to 1...,Dec 2020,+44 (0) 20 8918 3600,NaN,NaN,WMH,2892,GB0031698896,837912719,+44 (0) 20 8918 3775,Leisure & Hotels,WC1B 3AU,United Kingdom - England,https://www.williamhillplc.com/,NaN
3311,NaN,Kennington Park Business Centre,Canterbury Court,WORKSPACE GROUP PLC (London Industrial PLC pri...,London,KPMG LLP,Mar 2020,+44 (0) 20 7138 3300,NatWest Markets PLC (Royal Bank of Scotland PL...,FTSE 250,WKP,1472,GB00B67G5X01,428697608,+44 (0) 20 7247 0157,Real Estate,SW9 6DE,United Kingdom - England,https://www.workspace.co.uk/,1-3 Brixton Road
3312,NaN,25 Walbrook,The Walbrook Building,WORLDPAY GROUP PLC (De-listed 01/2018),London,NaN,Jan 2018,NaN,NaN,NaN,WPG,0,GB00BYYK2V80,24259147400,NaN,Business Services,EC4N 8AF,United Kingdom - England,http://www.worldpay.com/global,NaN
3313,806968.0,18 Upper Ground,Sea Containers,WPP PLC (WPP Group prior to 11/2008),London,Deloitte LLP (Deloitte & Touche LLP prior to 1...,Dec 2019,+44 (0) 20 7408 2204,Citibank NA (Formerly known as First National ...,FTSE 100,WPP,11568,JE00B8KF9B49,429577695,+44 (0) 20 7493 6819,Media & Entertainment,SE1 9GL,United Kingdom - England,https://www.wpp.com/,NaN
3314,NaN,25 Walbrook,The Walbrook Building,XCHANGING PLC (De-listed 06/2016),London,NaN,Jun 2016,+44 (0) 20 7780 6999,NaN,NaN,XCH,0,GB00B1VK7X76,8113811537,+44 (0) 20 7780 6998,Business Services,EC4N 8AQ,United Kingdom - England,http://www.xchanging.com,NaN

# Final: Merge df with the additional variables

In [47]:
df_merge = df_groupby.merge(df_charac_gender, how='left', on=['CompanyID*', 'Year'])
df_merge = df_merge.merge(df_charac_nationality, how='left', on=['CompanyID*', 'Year'])
df_merge = df_merge.merge(df_ceo_cfo, how='left', on=['CompanyID*', 'Year'])
df_merge = df_merge.merge(df_companydetails, how='inner', on=['CompanyID*', 'ISIN', 'Sector', 'Company Name'])
df_merge

,Year,CompanyID*,Company Name,Sector,Country,ISIN,region,Characteristics of Roles - Director Network Size,Characteristics of Roles - Time to Retirement,Characteristics of Roles - Time in Role,Characteristics of Roles - Time on Board,Characteristics of Roles - Time in Company,Director Experience - Total Number of Quoted Boards to Date,Director Experience - Total Number of Private Boards to Date,Director Experience - Total Number of Other Boards to Date,Director Experience - Total Number of Quoted Current Boards,Director Experience - Total Number of Private Current Boards,Director Experience - Total Number of Other Current Boards,Director Experience - Avg. Yrs on Other Quoted Boards,Director Experience - Age (Yrs),Director Experience - Number of Qualifications,Ratios - Bonus/ (Bonus&Salary),Ratios - Equity Linked/ Total,Ratios - Performance/ Total,Ratios - %Change from Last Period,Ratios - Wealth Delta,Director Count Totals - Number of Independent NED with past CFO/FD role,Annual Direct Compensation - Salary,Annual Direct Compensation - Bonus,Annual Direct Compensation - D.C Pension,Annual Direct Compensation - Other,Annual Direct Compensation - Total Salary+Bonus,Annual Direct Compensation - Total Inc. D.C. Pension & Other,Annual- Equity Linked Options - Shares,Annual- Equity Linked Options - LTIPS(max),Annual- Equity Linked Options - Intrinsic Options (excercisable),Annual- Equity Linked Options - Intrinsic Options (unexercisable),Annual- Equity Linked Options - Estimated Options (unexcercisable),Annual- Equity Linked Options - Estimated Options (exercisable),Annual- Equity Linked Options - Share Price,...,Director Experience - Nationality Mix - Share of Ugandan,Director Experience - Nationality Mix - Share of Ukrainian,Director Experience - Nationality Mix - Share of Uruguayan,Director Experience - Nationality Mix - Share of Venezuelan,Director Experience - Nationality Mix - Share of Zambian,Director Experience - Nationality Mix - Share of Zimbabwean,CEO - Ratios - Bonus/ (Bonus&Salary),CEO - Ratios - Equity Linked/ Total,CEO - Ratios - Performance/ Total,CEO - Ratios - %Change from Last Period,CEO - Ratios - Wealth Delta,CEO - Highest Ranked Degree - Institution Name,CEO - Highest Ranked Degree - InstitutionID*,CEO - Highest Ranked Degree - Qualification,CEO - Highest Ranked Degree - Country,CFO - Ratios - Bonus/ (Bonus&Salary),CFO - Ratios - Equity Linked/ Total,CFO - Ratios - Performance/ Total,CFO - Ratios - %Change from Last Period,CFO - Ratios - Wealth Delta,CFO - Highest Ranked Degree - Institution Name,CFO - Highest Ranked Degree - InstitutionID*,CFO - Highest Ranked Degree - Qualification,CFO - Highest Ranked Degree - Country,CIK Code,HOAddress2,HOAddress1,HOAddress4,Auditors,Latest AR,HO TelNumber,Bankers,Index,Ticker,Market Cap,HO FaxNumber,HOAddress5,HOCountryName,HO URL,HOAddress3
0,2002,270810,MDU RESOURCES GROUP INC,Utilities - Other,United States,US5526901096,None,654.333333,7.681818,8.225000,10.500000,12.483333,1.600000,4.777778,1.000000,1.400000,1.714286,1.0,3.090000,60.363636,2.416667,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67716.0,Post Office Box 5650,1200 West Century Avenue,"North Dakota, ND",Deloitte & Touche LLP,Dec 2020,+1 701 530 1000,NaN,S&P MID CAP 400,MDU,6347,+1 866 760 4852,58506-5650,United States,https://www.mdu.com/,Bismarck
1,2003,270810,MDU RESOURCES GROUP INC,Utilities - Other,United States,US5526901096,None,676.882353,9.283333,6.984615,8.690909,10.953846,1.727273,4.700000,1.000000,1.363636,1.857143,1.0,4.036364,58.916667,2.307692,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67716.0,Post Office Box 5650,1200 West Century Avenue,"North Dakota, ND",Deloitte & Touche LLP,Dec 2020,+1 701 530 1000,NaN,S&P MID CAP 400,MDU,6347,+1 866 760 4852,58506-5650,United States,https://www.mdu.com/,Bismarck
2,2004,270810,MDU RESOURCES GROUP INC,Utilities - Other,United States,US5526901096,None,734.650000,9.483333,7.800000,8.883333,9.030769,1.727273,4.250000,1.000000,1.272727,1.857143,1.0,4.200000,58.750000,2.230769,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67716.0,Post Office Box 5650,1200 West Century Avenue,"North Dakota, ND",Deloitte & Touche LLP,Dec 2020,+1 701 530 1000,NaN,S&P MID CAP 400,MDU,6347,+1 866 760 4852,58506-5650,United States,https://www.mdu.com/,Bismarck
3,2005,270810,MDU RESOURCES GROUP INC,Utilities - Other,United States,US5526901096,None,667.541667,10.233333,6.084615,7.383333,7.538462,1.727273,4.333333,1.000000,1.363636,2.300000,1.0,5.109091,58.000000,2.076923,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67716.0,Post Office Box 5650,1200 West Century Avenue,"North Dakota, ND",Deloitte & Touche LLP,Dec 2020,+1 701 530 1000,NaN,S&P MID CAP 400,MDU,6347,+1 866 760 4852,58506-5650,United States,https://www.mdu.com/,Bismarck
4,2006,270810,MDU RESOURCES GROUP INC,Utilities - Other,United States,US5526901096,None,679.000000,10.481818,5.841667,7.730000,9.025000,1.700000,4.100000,1.000000,1.400000,2.500000,1.0,5.490000,57.636364,2.166667,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67716.0,Post Office Box 5650,1200 West Century Avenue,"North Dakota, ND",Deloitte & Touche LLP,Dec 2020,+1 701 530 1000,NaN,S&P MID CAP 400,MDU,6347,+1 866 760 4852,58506-5650,United States,https://www.mdu.com/,Bismarck
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45162,2021,32486024918,NEXPOINT REAL ESTATE FINANCE INC,Real Estate,United States,US65342V1017,None,2088.444444,3.020000,1.133333,1.133333,1.133333,6.500000,12.000000,2.000000,2.500000,7.400000,2.0,4.866667,65.000000,2.500000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1786248.0,Suite 700,300 Crescent Court,"Texas, TX",KPMG US LLP,Feb 2020,NaN,NaN,NaN,NREF,102,NaN,75201,United States,http://www.nexpointfinance.com/,Dallas
45163,2020,32878955509,WARNER MUSIC GROUP CORP (WMG),Media & Entertainment,United States,US9345502036,None,1691.533333,8.620000,0.000000,0.000000,0.000000,5.300000,12.700000,2.666667,1.800000,4.000000,2.0,4.030000,60.500000,2.400000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Wharton School University of Pennsylvania,777228902.0,MBA,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,131961.0,NaN,1633 Broadway,"New York, NY",KPMG US LLP,Jun 2020,NaN,NaN,NaN,WMG,4146,NaN,10019,United States,https://www.wmg.com/,NaN
45164,2021,32878955509,WARNER MUSIC GROUP CORP (WMG),Media & Entertainment,United States,US9345502036,None,1550.595745,8.800000,0.772727,0.772727,0.772727,5.181818,11.909091,2.666667,2.000000,2.900000,2.0,4.281818,60.454545,2.272727,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Wharton School University of Pennsylvania,777228902.0,MBA,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,131961.0,NaN,1633 Broadway,"New York, NY",KPMG US LLP,Jun 2020,NaN,NaN,NaN,WMG,4146,NaN,10019,United States,https://www.wmg.com/,NaN
45165,2020,33703886583,VONTIER CORP,Automobiles & Parts,United States,US9288811014,None,2069.736842,10.220000,0.000000,0.000000,0.000000,2.800000,5.000000,NaN,1.400000,2.666667,NaN,1.880000,58.400000,2.600000,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1786842.0,Suite 206,5420 Wade Park Boulevard,"North Carolina, NC",Ernst & Young LLP (US),Oct 2020,NaN,NaN,S&P MID CAP 400,VNT,5163,NaN,27607,United States,https://www.vontier.com,Raleigh
45166,2021,33703886583,VONTIER CORP,Automobiles & Parts,United States,US9288811014,None,2402.600000,10.728571,0.375000,0.375000,0.375000,3.000000,4.200000,NaN,1.875000,5.000000,NaN,2.212500,58.571429,2.500000,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1786842.0,Suite 206,5420 Wade Park Boulevard,"North Carolina, NC",Ernst & Young LLP (US),Oct 2020,NaN,NaN,S&P MID CAP 400,VNT,5163,NaN,27607,United States,https://www.vontier.com,Raleigh

# Cleanup df and save final df into csv

In [48]:
outputfilepath = Path(r"C:\Users\jasonjia\Dropbox\projects\manager_and_board_characteristics\Board Charac_Jason\output\03_get_firm_and_manager_level_datasets\boardex_firm_level_dataset.csv")
df_merge.to_csv(outputfilepath, index=False)